@header-min-height: 30px;
@footer-min-height: 55px;

@rooms-box-width: 260px;
@flex-tab-width: 400px;
@flex-tab-webrtc-width: 400px;
@flex-tab-webrtc-2-width: 850px;

// Colors
// --------------

//@primary-background-color: #045080;
//@primary-background-color: #38393d;

@primary-background-color: #04436a;
@secondary-background-color: #f4f4f4;
@tertiary-background-color: #eaeaea;

@link-font-color: #008ce3;

@primary-font-color: #444444;
@secondary-font-color: #7f7f7f;
@tertiary-font-color: rgba(255, 255, 255, 0.6);
@quaternary-font-color: rgba(255, 255, 255, 0.85);
@info-font-color: #aaaaaa;

@status-online: #4dff4d;
@status-offline: rgba(150, 150, 150, 0.5);
@status-busy: #d30230;
@status-away: #fcb316;

@window-border-color: #e7e7e7;
