.assistify-create-section {
	margin-bottom: 30px;

	.input-submit {
		margin-top: 5px;
	}
}

.help-request-actions {
	margin: 20px;
}

.help-request-context {
	padding: 15px;

	.title {
		padding: 10px;

		color: #757575;

		background-color: #cccccc;

		font-size: 15px;
		font-weight: 700;
	}

	.context-parameters-wrapper {
		border: 1px solid #cccccc;

		.context-parameter {
			margin: 0;
			padding: 10px 15px;

			vertical-align: baseline;

			border: 0 #cccccc;
			border-top: 1px solid;
			background-color: white;

			font-size: 100%;

			font-style: italic;

			.value {
				font-weight: bold;
			}
		}
	}
}
