{
  "openapi": "3.0.0",
  "info": {
    "title": "Rocket Chat API",
    "version": "1.0.0",
    "description": "This is a sample API Documentation"
  },
  "servers": [
    {
      "url": "https://apiexplorer.support.rocket.chat/"
    }
  ],
  "paths": {
    "/v1/assets.setAsset": {
      "post": {
        "tags": [
          "assetsEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asset": {},
                  "assetName": {},
                  "refreshAllClients": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "asset",
                  "assetName",
                  "refreshAllClients"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/assets.unsetAsset": {
      "post": {
        "tags": [
          "assetsEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assetName": {},
                  "refreshAllClients": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "assetName",
                  "refreshAllClients"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "tags": [
          "authEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout": {
      "post": {
        "tags": [
          "authEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "authEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/autotranslate.getSupportedLanguages": {
      "get": {
        "tags": [
          "autoTranslateEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "languages": {
                      "$ref": "ISupportedLanguage[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/autotranslate.saveSettings": {
      "post": {
        "tags": [
          "autoTranslateEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/autotranslate.translateMessage": {
      "post": {
        "tags": [
          "autoTranslateEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/banners.getNew": {
      "get": {
        "tags": [
          "bannersEndpoints"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "bid",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "banners": {
                      "$ref": "IBanner[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/banners/:id": {
      "get": {
        "tags": [
          "bannersEndpoints"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "banners": {
                      "$ref": "IBanner[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/banners": {
      "get": {
        "tags": [
          "bannersEndpoints"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "banners": {
                      "$ref": "IBanner[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/banners.dismiss": {
      "post": {
        "tags": [
          "bannersEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bannerId": {
                    "type": "string"
                  }
                },
                "required": [
                  "bannerId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.sendMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {},
                  "previewUrls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "message",
                  "previewUrls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getMessage": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "msgId",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.followMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mid": {}
                },
                "required": [
                  "mid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.unfollowMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mid": {}
                },
                "required": [
                  "mid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.starMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {}
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.unStarMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {}
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.pinMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {}
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.unPinMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {}
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.reportMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {},
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "messageId",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getDiscussions": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "IMessage[]"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getThreadsList": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "$ref": "IMessage[]"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.syncThreadsList": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "$ref": "{\n\t\t\t\tupdate: IMessage[];\n\t\t\t\tremove: IMessage[];\n\t\t\t}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.delete": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msgId": {},
                  "roomId": {},
                  "asUser": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "msgId",
                  "roomId",
                  "asUser"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "$ref": "string"
                    },
                    "ts": {
                      "$ref": "string"
                    },
                    "message": {
                      "$ref": "Pick<IMessage, '_id' | 'rid' | 'u'>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.react": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.ignoreUser": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignore",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.search": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "searchText",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "IMessage[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.update": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roomId": {},
                  "msgId": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "previewUrls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "customFields": {}
                },
                "required": [
                  "roomId",
                  "msgId",
                  "text",
                  "previewUrls",
                  "customFields"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getMessageReadReceipts": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receipts": {
                      "$ref": "ReadReceipt[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getStarredMessages": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "count",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "IMessage[]"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getPinnedMessages": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "count",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "IMessage[]"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getMentionedMessages": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "count",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "IMessage[]"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.syncMessages": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "lastUpdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "{\n\t\t\t\tupdated: IMessage[];\n\t\t\t\tdeleted: IMessage[];\n\t\t\t}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.postMessage": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "$ref": "number"
                    },
                    "channel": {
                      "$ref": "#/components/schemas/IRoom"
                    },
                    "message": {
                      "$ref": "IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.syncThreadMessages": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "tmid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "{\n\t\t\t\tupdate: IMessage[];\n\t\t\t\tremove: IMessage[];\n\t\t\t}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getThreadMessages": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "tmid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "IMessage[]"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getDeletedMessages": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "IMessage[]"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.otr": {
      "post": {
        "tags": [
          "chatEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roomId": {
                    "type": "string"
                  },
                  "type": {}
                },
                "required": [
                  "roomId",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getURLPreview": {
      "get": {
        "tags": [
          "chatEndpoints"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urlPreview": {
                      "$ref": "MessageUrl"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.manualRegister": {
      "post": {
        "tags": [
          "cloudEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cloudBlob": {
                    "type": "string"
                  }
                },
                "required": [
                  "cloudBlob"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.createRegistrationIntent": {
      "post": {
        "tags": [
          "cloudEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resend": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "resend",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intentData": {
                      "$ref": "CloudRegistrationIntentData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.registerPreIntent": {
      "post": {
        "tags": [
          "cloudEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offline": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.confirmationPoll": {
      "get": {
        "tags": [
          "cloudEndpoints"
        ],
        "parameters": [
          {
            "name": "deviceCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resend",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pollData": {
                      "$ref": "CloudConfirmationPollData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.registrationStatus": {
      "get": {
        "tags": [
          "cloudEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "registrationStatus": {
                      "$ref": "CloudRegistrationStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.syncWorkspace": {
      "post": {
        "tags": [
          "cloudEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.removeLicense": {
      "post": {
        "tags": [
          "cloudEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands.get": {
      "get": {
        "tags": [
          "commandsEndpoints"
        ],
        "parameters": [
          {
            "name": "command",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "command": {
                      "$ref": "Pick<SlashCommand, 'clientOnly' | 'command' | 'description' | 'params' | 'providesPreview'>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands.list": {
      "get": {
        "tags": [
          "commandsEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands.run": {
      "post": {
        "tags": [
          "commandsEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string"
                  },
                  "params": {
                    "type": "string"
                  },
                  "roomId": {
                    "type": "string"
                  },
                  "tmid": {
                    "type": "string"
                  },
                  "triggerId": {
                    "type": "string"
                  }
                },
                "required": [
                  "command",
                  "params",
                  "roomId",
                  "tmid",
                  "triggerId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "unknown"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands.preview": {
      "get": {
        "tags": [
          "commandsEndpoints"
        ],
        "parameters": [
          {
            "name": "command",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preview": {
                      "$ref": "SlashCommandPreviews"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "commandsEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string"
                  },
                  "params": {
                    "type": "string"
                  },
                  "roomId": {
                    "type": "string"
                  },
                  "previewItem": {},
                  "triggerId": {
                    "type": "string"
                  },
                  "tmid": {
                    "type": "string"
                  }
                },
                "required": [
                  "command",
                  "params",
                  "roomId",
                  "previewItem",
                  "triggerId",
                  "tmid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-user-status.list": {
      "get": {
        "tags": [
          "customUserStatusEndpoints"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-user-status.create": {
      "post": {
        "tags": [
          "customUserStatusEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "statusType": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "statusType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customUserStatus": {
                      "$ref": "ICustomUserStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-user-status.delete": {
      "post": {
        "tags": [
          "customUserStatusEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customUserStatusId": {
                    "type": "string"
                  }
                },
                "required": [
                  "customUserStatusId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-user-status.update": {
      "post": {
        "tags": [
          "customUserStatusEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "statusType": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "statusType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customUserStatus": {
                      "$ref": "ICustomUserStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dns.resolve.srv": {
      "get": {
        "tags": [
          "dnsEndpoints"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resolved": {
                      "$ref": "Record<string, string | number>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dns.resolve.txt": {
      "post": {
        "tags": [
          "dnsEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resolved": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.setUserPublicAndPrivateKeys": {
      "post": {
        "tags": [
          "e2eEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "public_key": {
                    "type": "string"
                  },
                  "private_key": {
                    "type": "string"
                  },
                  "force": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "public_key",
                  "private_key",
                  "force"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.getUsersOfRoomWithoutKey": {
      "get": {
        "tags": [
          "e2eEndpoints"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "$ref": "Pick<IUser, '_id' | 'e2e'>[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.updateGroupKey": {
      "post": {
        "tags": [
          "e2eEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string"
                  },
                  "rid": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  }
                },
                "required": [
                  "uid",
                  "rid",
                  "key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.acceptSuggestedGroupKey": {
      "post": {
        "tags": [
          "e2eEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {
                    "type": "string"
                  }
                },
                "required": [
                  "rid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.rejectSuggestedGroupKey": {
      "post": {
        "tags": [
          "e2eEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {
                    "type": "string"
                  }
                },
                "required": [
                  "rid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.setRoomKeyID": {
      "post": {
        "tags": [
          "e2eEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {
                    "type": "string"
                  },
                  "keyID": {
                    "type": "string"
                  }
                },
                "required": [
                  "rid",
                  "keyID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.fetchMyKeys": {
      "get": {
        "tags": [
          "e2eEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_key": {
                      "$ref": "string"
                    },
                    "private_key": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.fetchUsersWaitingForGroupKey": {
      "get": {
        "tags": [
          "e2eEndpoints"
        ],
        "parameters": [
          {
            "name": "roomIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usersWaitingForE2EKeys": {
                      "$ref": "Record<IRoom['_id'], { _id: IUser['_id']; public_key: string }[]>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.provideUsersSuggestedGroupKeys": {
      "post": {
        "tags": [
          "e2eEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "usersSuggestedGroupKeys": {}
                },
                "required": [
                  "usersSuggestedGroupKeys"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox.list": {
      "get": {
        "tags": [
          "email-inboxEndpoints"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox": {
      "post": {
        "tags": [
          "email-inboxEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "senderInfo": {
                    "type": "string"
                  },
                  "department": {
                    "type": "string"
                  },
                  "smtp": {},
                  "imap": {}
                },
                "required": [
                  "_id",
                  "name",
                  "email",
                  "active",
                  "description",
                  "senderInfo",
                  "department",
                  "smtp",
                  "imap"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox/:_id": {
      "get": {
        "tags": [
          "email-inboxEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "0": {
                      "$ref": "IEmailInbox"
                    },
                    "1": {
                      "$ref": "null"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "email-inboxEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox.search": {
      "get": {
        "tags": [
          "email-inboxEndpoints"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailInbox": {
                      "$ref": "IEmailInbox | null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox.send-test/:_id": {
      "post": {
        "tags": [
          "email-inboxEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.all": {
      "get": {
        "tags": [
          "emojiCustomEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.list": {
      "get": {
        "tags": [
          "emojiCustomEndpoints"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emojis": {
                      "$ref": "{\n\t\t\t\tupdate: IEmojiCustom[];\n\t\t\t\tremove: IEmojiCustom[];\n\t\t\t}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.delete": {
      "post": {
        "tags": [
          "emojiCustomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emojiId": {}
                },
                "required": [
                  "emojiId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.create": {
      "post": {
        "tags": [
          "emojiCustomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emoji": {}
                },
                "required": [
                  "emoji"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.update": {
      "post": {
        "tags": [
          "emojiCustomEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emoji": {}
                },
                "required": [
                  "emoji"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/instances.get": {
      "get": {
        "tags": [
          "instancesEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instances": {
                      "$ref": "IInstance[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/listInvites": {
      "get": {
        "tags": [
          "invitesEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/removeInvite/:_id": {
      "delete": {
        "tags": [
          "invitesEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/useInviteToken": {
      "post": {
        "tags": [
          "invitesEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "room": {
                      "$ref": "{\n\t\t\t\trid: IRoom['_id'];\n\t\t\t\tprid: IRoom['prid'];\n\t\t\t\tfname: IRoom['fname'];\n\t\t\t\tname: IRoom['name'];\n\t\t\t\tt: IRoom['t'];\n\t\t\t}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/validateInviteToken": {
      "post": {
        "tags": [
          "invitesEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/findOrCreateInvite": {
      "post": {
        "tags": [
          "invitesEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {},
                  "days": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "maxUses": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "required": [
                  "rid",
                  "days",
                  "maxUses"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/sendInvitationEmail": {
      "post": {
        "tags": [
          "invitesEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ldap.testConnection": {
      "post": {
        "tags": [
          "ldapEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ldap.testSearch": {
      "post": {
        "tags": [
          "ldapEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ldap.syncNow": {
      "post": {
        "tags": [
          "ldapEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.get": {
      "get": {
        "tags": [
          "licensesEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "licenses": {
                      "$ref": "Array<ILicenseV2 | (ILicenseV3 & { modules: string[] })>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.info": {
      "get": {
        "tags": [
          "licensesEndpoints"
        ],
        "parameters": [
          {
            "name": "loadValues",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "license": {
                      "$ref": "LicenseInfo"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.add": {
      "post": {
        "tags": [
          "licensesEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "license": {
                    "type": "string"
                  }
                },
                "required": [
                  "license"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.maxActiveUsers": {
      "get": {
        "tags": [
          "licensesEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "maxActiveUsers": {
                      "$ref": "number | null"
                    },
                    "activeUsers": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.requestSeatsLink": {
      "get": {
        "tags": [
          "licensesEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.isEnterprise": {
      "get": {
        "tags": [
          "licensesEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isEnterprise": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/mailer": {
      "post": {
        "tags": [
          "mailerEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/mailer.unsubscribe": {
      "post": {
        "tags": [
          "mailerEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "meEndpoints"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/stdout.queue": {
      "get": {
        "tags": [
          "miscEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queue": {
                      "$ref": "{\n\t\t\t\tid: string;\n\t\t\t\tstring: string;\n\t\t\t\tts: Date;\n\t\t\t}[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/shield.svg": {
      "get": {
        "tags": [
          "miscEndpoints"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icon",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "svg": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/spotlight": {
      "get": {
        "tags": [
          "miscEndpoints"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "$ref": "Pick<Required<IUser>, 'name' | 'status' | 'statusText' | 'avatarETag' | '_id' | 'username'>[]"
                    },
                    "rooms": {
                      "$ref": "Pick<Required<IRoom>, 't' | 'name' | 'lastMessage' | '_id'>[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pw.getPolicy": {
      "get": {
        "tags": [
          "miscEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "$ref": "boolean"
                    },
                    "policy": {
                      "$ref": "[name: string, value?: Record<string, number>][]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pw.getPolicyReset": {
      "get": {
        "tags": [
          "miscEndpoints"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "$ref": "boolean"
                    },
                    "policy": {
                      "$ref": "[name: string, options?: Record<string, unknown>][]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/method.call/:method": {
      "post": {
        "tags": [
          "miscEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/method.callAnon/:method": {
      "post": {
        "tags": [
          "miscEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/fingerprint": {
      "post": {
        "tags": [
          "miscEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "setDeploymentAs": {}
                },
                "required": [
                  "setDeploymentAs"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/smtp.check": {
      "get": {
        "tags": [
          "miscEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSMTPConfigured": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/permissions.listAll": {
      "get": {
        "tags": [
          "permissionsEndpoints"
        ],
        "parameters": [
          {
            "name": "updatedSince",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "update": {
                      "$ref": "IPermission[]"
                    },
                    "remove": {
                      "$ref": "IPermission[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/permissions.update": {
      "post": {
        "tags": [
          "permissionsEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "permissions"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "$ref": "IPermission[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/presence.getConnections": {
      "get": {
        "tags": [
          "presenceEndpoints"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current": {
                      "$ref": "number"
                    },
                    "max": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/presence.enableBroadcast": {
      "post": {
        "tags": [
          "presenceEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/push.token": {
      "post": {
        "tags": [
          "pushEndpoints"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {},
                  "value": {
                    "type": "string"
                  },
                  "appName": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "type",
                  "value",
                  "appName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
