{
  "openapi": "3.0.0",
  "info": {
    "title": "Rocket Chat API",
    "version": "1.0.0",
    "description": "This is a sample API Documentation"
  },
  "servers": [
    {
      "url": "https://apiexplorer.support.rocket.chat/"
    }
  ],
  "paths": {
    "/v1/assets.setAsset": {
      "post": {
        "tags": [
          "ASSETS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asset": {},
                  "assetName": {},
                  "refreshAllClients": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "asset",
                  "assetName",
                  "refreshAllClients"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/assets.unsetAsset": {
      "post": {
        "tags": [
          "ASSETS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assetName": {},
                  "refreshAllClients": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "assetName",
                  "refreshAllClients"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "tags": [
          "AUTH ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout": {
      "post": {
        "tags": [
          "AUTH ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "AUTH ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/autotranslate.getSupportedLanguages": {
      "get": {
        "tags": [
          "AUTOTRANSLATE ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "targetLanguage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "languages": {
                      "$ref": "#/components/schemas/ISupportedLanguage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/autotranslate.saveSettings": {
      "post": {
        "tags": [
          "AUTOTRANSLATE ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roomId": {
                    "type": "string"
                  },
                  "field": {},
                  "value": {},
                  "defaultLanguage": {
                    "type": "string"
                  }
                },
                "required": [
                  "roomId",
                  "field",
                  "value",
                  "defaultLanguage"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/autotranslate.translateMessage": {
      "post": {
        "tags": [
          "AUTOTRANSLATE ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {
                    "type": "string"
                  },
                  "targetLanguage": {
                    "type": "string"
                  }
                },
                "required": [
                  "messageId",
                  "targetLanguage"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/banners.getNew": {
      "get": {
        "tags": [
          "BANNERS ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "bid",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "banners": {
                      "$ref": "#/components/schemas/IBanner"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/banners/:id": {
      "get": {
        "tags": [
          "BANNERS ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "banners": {
                      "$ref": "#/components/schemas/IBanner"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/banners": {
      "get": {
        "tags": [
          "BANNERS ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "banners": {
                      "$ref": "#/components/schemas/IBanner"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/banners.dismiss": {
      "post": {
        "tags": [
          "BANNERS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bannerId": {
                    "type": "string"
                  }
                },
                "required": [
                  "bannerId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.sendMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {},
                  "previewUrls": {
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "message",
                  "previewUrls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getMessage": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "msgId",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.followMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mid": {}
                },
                "required": [
                  "mid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.unfollowMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mid": {}
                },
                "required": [
                  "mid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.starMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {}
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.unStarMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {}
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.pinMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {}
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.unPinMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {}
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.reportMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {},
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "messageId",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getDiscussions": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "#/components/schemas/IMessage"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getThreadsList": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "$ref": "#/components/schemas/IMessage"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.syncThreadsList": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "$ref": {
                        "update": "IMessage[]",
                        "remove": "IMessage[]"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.delete": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msgId": {},
                  "roomId": {},
                  "asUser": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "msgId",
                  "roomId",
                  "asUser"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "$ref": "string"
                    },
                    "ts": {
                      "$ref": "string"
                    },
                    "message": {
                      "$ref": "Pick<IMessage, \"_id\" | \"rid\" | \"u\">"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.react": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unionTypes": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "emoji": {
                            "type": "string"
                          },
                          "messageId": {},
                          "shouldReact": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "emoji",
                          "messageId",
                          "shouldReact"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "reaction": {
                            "type": "string"
                          },
                          "messageId": {},
                          "shouldReact": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "reaction",
                          "messageId",
                          "shouldReact"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "unionTypes"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.ignoreUser": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignore",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.search": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "searchText",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "#/components/schemas/IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.update": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roomId": {},
                  "msgId": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "previewUrls": {
                    "type": "array",
                    "items": {}
                  },
                  "customFields": {}
                },
                "required": [
                  "roomId",
                  "msgId",
                  "text",
                  "previewUrls",
                  "customFields"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getMessageReadReceipts": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receipts": {
                      "$ref": "ReadReceipt[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getStarredMessages": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "#/components/schemas/IMessage"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getPinnedMessages": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "#/components/schemas/IMessage"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getMentionedMessages": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "#/components/schemas/IMessage"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.syncMessages": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "lastUpdate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": {
                        "updated": "IMessage[]",
                        "deleted": "IMessage[]"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.postMessage": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unionTypes": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "roomId": {
                            "type": "array",
                            "items": {}
                          },
                          "text": {
                            "type": "string"
                          },
                          "alias": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          },
                          "avatar": {
                            "type": "string"
                          },
                          "attachments": {
                            "type": "array",
                            "items": {}
                          },
                          "customFields": {}
                        },
                        "required": [
                          "roomId",
                          "text",
                          "alias",
                          "emoji",
                          "avatar",
                          "attachments",
                          "customFields"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "channel": {
                            "type": "array",
                            "items": {}
                          },
                          "text": {
                            "type": "string"
                          },
                          "alias": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          },
                          "avatar": {
                            "type": "string"
                          },
                          "attachments": {
                            "type": "array",
                            "items": {}
                          },
                          "customFields": {}
                        },
                        "required": [
                          "channel",
                          "text",
                          "alias",
                          "emoji",
                          "avatar",
                          "attachments",
                          "customFields"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "unionTypes"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "$ref": "number"
                    },
                    "channel": {
                      "$ref": "#/components/schemas/IRoom"
                    },
                    "message": {
                      "$ref": "#/components/schemas/IMessage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.syncThreadMessages": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "tmid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": {
                        "update": "IMessage[]",
                        "remove": "IMessage[]"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getThreadMessages": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "tmid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "#/components/schemas/IMessage"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getDeletedMessages": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "$ref": "#/components/schemas/IMessage"
                    },
                    "count": {
                      "$ref": "number"
                    },
                    "offset": {
                      "$ref": "number"
                    },
                    "total": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.otr": {
      "post": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roomId": {
                    "type": "string"
                  },
                  "type": {}
                },
                "required": [
                  "roomId",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat.getURLPreview": {
      "get": {
        "tags": [
          "CHAT ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urlPreview": {
                      "$ref": "MessageUrl"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.manualRegister": {
      "post": {
        "tags": [
          "CLOUD ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cloudBlob": {
                    "type": "string"
                  }
                },
                "required": [
                  "cloudBlob"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.createRegistrationIntent": {
      "post": {
        "tags": [
          "CLOUD ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resend": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "resend",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intentData": {
                      "$ref": "CloudRegistrationIntentData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.registerPreIntent": {
      "post": {
        "tags": [
          "CLOUD ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "offline": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.confirmationPoll": {
      "get": {
        "tags": [
          "CLOUD ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "deviceCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resend",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pollData": {
                      "$ref": "CloudConfirmationPollData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.registrationStatus": {
      "get": {
        "tags": [
          "CLOUD ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "registrationStatus": {
                      "$ref": "CloudRegistrationStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.syncWorkspace": {
      "post": {
        "tags": [
          "CLOUD ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/cloud.removeLicense": {
      "post": {
        "tags": [
          "CLOUD ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands.get": {
      "get": {
        "tags": [
          "COMMANDS ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "command",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "command": {
                      "$ref": "Pick<SlashCommand, \"clientOnly\" | \"command\" | \"description\" | \"params\" | \"providesPreview\">"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands.list": {
      "get": {
        "tags": [
          "COMMANDS ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "commands": {
                      "$ref": "Pick<SlashCommand, \"clientOnly\" | \"command\" | \"description\" | \"params\" | \"providesPreview\" | \"appId\">[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands.run": {
      "post": {
        "tags": [
          "COMMANDS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string"
                  },
                  "params": {
                    "type": "string"
                  },
                  "roomId": {
                    "type": "string"
                  },
                  "tmid": {
                    "type": "string"
                  },
                  "triggerId": {
                    "type": "string"
                  }
                },
                "required": [
                  "command",
                  "params",
                  "roomId",
                  "tmid",
                  "triggerId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "unknown"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands.preview": {
      "get": {
        "tags": [
          "COMMANDS ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "command",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "params",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preview": {
                      "$ref": "SlashCommandPreviews"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "COMMANDS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string"
                  },
                  "params": {
                    "type": "string"
                  },
                  "roomId": {
                    "type": "string"
                  },
                  "previewItem": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "type",
                      "value"
                    ]
                  },
                  "triggerId": {
                    "type": "string"
                  },
                  "tmid": {
                    "type": "string"
                  }
                },
                "required": [
                  "command",
                  "params",
                  "roomId",
                  "previewItem",
                  "triggerId",
                  "tmid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-user-status.list": {
      "get": {
        "tags": [
          "CUSTOMUSERSTATUS ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statuses": {
                      "$ref": "#/components/schemas/IUserStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-user-status.create": {
      "post": {
        "tags": [
          "CUSTOMUSERSTATUS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "statusType": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "statusType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customUserStatus": {
                      "$ref": "#/components/schemas/ICustomUserStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-user-status.delete": {
      "post": {
        "tags": [
          "CUSTOMUSERSTATUS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customUserStatusId": {
                    "type": "string"
                  }
                },
                "required": [
                  "customUserStatusId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/custom-user-status.update": {
      "post": {
        "tags": [
          "CUSTOMUSERSTATUS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "statusType": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "statusType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customUserStatus": {
                      "$ref": "#/components/schemas/ICustomUserStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dns.resolve.srv": {
      "get": {
        "tags": [
          "DNS ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resolved": {
                      "$ref": "Record<string, string | number>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dns.resolve.txt": {
      "post": {
        "tags": [
          "DNS ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resolved": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.setUserPublicAndPrivateKeys": {
      "post": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "public_key": {
                    "type": "string"
                  },
                  "private_key": {
                    "type": "string"
                  },
                  "force": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "public_key",
                  "private_key",
                  "force"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.getUsersOfRoomWithoutKey": {
      "get": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "rid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "$ref": "Pick<IUser, \"_id\" | \"e2e\">[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.updateGroupKey": {
      "post": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string"
                  },
                  "rid": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  }
                },
                "required": [
                  "uid",
                  "rid",
                  "key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.acceptSuggestedGroupKey": {
      "post": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {
                    "type": "string"
                  }
                },
                "required": [
                  "rid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.rejectSuggestedGroupKey": {
      "post": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {
                    "type": "string"
                  }
                },
                "required": [
                  "rid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.setRoomKeyID": {
      "post": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {
                    "type": "string"
                  },
                  "keyID": {
                    "type": "string"
                  }
                },
                "required": [
                  "rid",
                  "keyID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.fetchMyKeys": {
      "get": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_key": {
                      "$ref": "string"
                    },
                    "private_key": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.fetchUsersWaitingForGroupKey": {
      "get": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "roomIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usersWaitingForE2EKeys": {
                      "$ref": "Record<IRoom, { _id: IUser; public_key: string; }[]>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/e2e.provideUsersSuggestedGroupKeys": {
      "post": {
        "tags": [
          "E2E ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "usersSuggestedGroupKeys": {}
                },
                "required": [
                  "usersSuggestedGroupKeys"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox.list": {
      "get": {
        "tags": [
          "EMAIL-INBOX ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailInboxes": {
                      "$ref": "#/components/schemas/IEmailInbox"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox": {
      "post": {
        "tags": [
          "EMAIL-INBOX ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "senderInfo": {
                    "type": "string"
                  },
                  "department": {
                    "type": "string"
                  },
                  "smtp": {
                    "type": "object",
                    "properties": {
                      "password": {
                        "type": "string"
                      },
                      "port": {
                        "type": "integer"
                      },
                      "secure": {
                        "type": "boolean"
                      },
                      "server": {
                        "type": "string"
                      },
                      "username": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "password",
                      "port",
                      "secure",
                      "server",
                      "username"
                    ]
                  },
                  "imap": {
                    "type": "object",
                    "properties": {
                      "password": {
                        "type": "string"
                      },
                      "port": {
                        "type": "integer"
                      },
                      "secure": {
                        "type": "boolean"
                      },
                      "server": {
                        "type": "string"
                      },
                      "username": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "password",
                      "port",
                      "secure",
                      "server",
                      "username"
                    ]
                  }
                },
                "required": [
                  "_id",
                  "name",
                  "email",
                  "active",
                  "description",
                  "senderInfo",
                  "department",
                  "smtp",
                  "imap"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox/:_id": {
      "get": {
        "tags": [
          "EMAIL-INBOX ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unionTypes": {
                      "$ref": [
                        {},
                        {}
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EMAIL-INBOX ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox.search": {
      "get": {
        "tags": [
          "EMAIL-INBOX ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailInbox": {
                      "$ref": "any"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-inbox.send-test/:_id": {
      "post": {
        "tags": [
          "EMAIL-INBOX ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.all": {
      "get": {
        "tags": [
          "EMOJICUSTOM ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emojis": {
                      "$ref": "#/components/schemas/IEmojiCustom"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.list": {
      "get": {
        "tags": [
          "EMOJICUSTOM ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emojis": {
                      "$ref": {
                        "update": "IEmojiCustom[]",
                        "remove": "IEmojiCustom[]"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.delete": {
      "post": {
        "tags": [
          "EMOJICUSTOM ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emojiId": {}
                },
                "required": [
                  "emojiId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.create": {
      "post": {
        "tags": [
          "EMOJICUSTOM ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emoji": {}
                },
                "required": [
                  "emoji"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/emoji-custom.update": {
      "post": {
        "tags": [
          "EMOJICUSTOM ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emoji": {}
                },
                "required": [
                  "emoji"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/instances.get": {
      "get": {
        "tags": [
          "INSTANCES ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instances": {
                      "$ref": "#/components/schemas/IInstance"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/listInvites": {
      "get": {
        "tags": [
          "INVITES ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/removeInvite/:_id": {
      "delete": {
        "tags": [
          "INVITES ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/useInviteToken": {
      "post": {
        "tags": [
          "INVITES ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "room": {
                      "$ref": {
                        "rid": "IRoom",
                        "prid": "IRoom",
                        "fname": "IRoom",
                        "name": "IRoom",
                        "t": "IRoom"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/validateInviteToken": {
      "post": {
        "tags": [
          "INVITES ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/findOrCreateInvite": {
      "post": {
        "tags": [
          "INVITES ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rid": {},
                  "days": {
                    "type": "integer"
                  },
                  "maxUses": {
                    "type": "integer"
                  }
                },
                "required": [
                  "rid",
                  "days",
                  "maxUses"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/sendInvitationEmail": {
      "post": {
        "tags": [
          "INVITES ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ldap.testConnection": {
      "post": {
        "tags": [
          "LDAP ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ldap.testSearch": {
      "post": {
        "tags": [
          "LDAP ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ldap.syncNow": {
      "post": {
        "tags": [
          "LDAP ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.get": {
      "get": {
        "tags": [
          "LICENSES ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "licenses": {
                      "$ref": "any[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.info": {
      "get": {
        "tags": [
          "LICENSES ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "loadValues",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "license": {
                      "$ref": "LicenseInfo"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.add": {
      "post": {
        "tags": [
          "LICENSES ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "license": {
                    "type": "string"
                  }
                },
                "required": [
                  "license"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.maxActiveUsers": {
      "get": {
        "tags": [
          "LICENSES ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "maxActiveUsers": {
                      "$ref": "number"
                    },
                    "activeUsers": {
                      "$ref": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.requestSeatsLink": {
      "get": {
        "tags": [
          "LICENSES ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/licenses.isEnterprise": {
      "get": {
        "tags": [
          "LICENSES ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isEnterprise": {
                      "$ref": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/mailer": {
      "post": {
        "tags": [
          "MAILER ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "dryrun": {
                    "type": "boolean"
                  },
                  "query": {
                    "type": "string"
                  }
                },
                "required": [
                  "from",
                  "subject",
                  "body",
                  "dryrun",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/mailer.unsubscribe": {
      "post": {
        "tags": [
          "MAILER ENDPOINTS"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "createdAt": {
                    "type": "string"
                  }
                },
                "required": [
                  "_id",
                  "createdAt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "ME ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {}
          },
          {
            "name": "user",
            "in": "query",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/stdout.queue": {
      "get": {
        "tags": [
          "MISC ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queue": {
                      "$ref": "{ id: string; string: string; ts: Date; }[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/shield.svg": {
      "get": {
        "tags": [
          "MISC ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icon",
            "in": "query",
            "required": false,
            "schema": {}
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "svg": {
                      "$ref": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/spotlight": {
      "get": {
        "tags": [
          "MISC ENDPOINTS"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "$ref": "Pick<IUser, \"_id\" | \"name\" | \"username\" | \"status\" | \"statusText\" | \"avatarETag\">[]"
                    },
                    "rooms": {
                      "$ref": "Pick<IRoom, \"_id\" | \"name\" | \"t\" | \"lastMessage\">[]"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pw.getPolicy": {
      "get": {
        "tags": [
          "MISC ENDPOINTS"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
[...]
