<template name="accountPreferences">
	<section class="page-container page-home page-static">
		<head class="fixed-title">
			{{> burger}}
			<h2>
				<span class="room-title">{{_ "Preferences"}}</span>
			</h2>
		</head>
		<div class="content">
			<div class="rocket-form">
				<fieldset>
					<div class="section">
						<h1>{{_ "Messages"}}</h1>
						<div class="section-content">
							<div class="input-line double-col">
								<label>{{_ "Use_Emojis"}}</label>
								<div>
									<label><input type="radio" name="useEmojis" value="1" checked="{{checked 'useEmojis' true true}}" /> {{_ "True"}}</label>
									<label><input type="radio" name="useEmojis" value="0" checked="{{checked 'useEmojis' false}}" /> {{_ "False"}}</label>
								</div>
							</div>
							<div class="input-line double-col" id="convertAsciiEmoji">
								<label>{{_ "Convert_Ascii_Emojis"}}</label>
								<div>
									<label><input type="radio" name="convertAsciiEmoji" value="1" checked="{{checked 'convertAsciiEmoji' true true}}" /> {{_ "True"}}</label>
									<label><input type="radio" name="convertAsciiEmoji" value="0" checked="{{checked 'convertAsciiEmoji' false}}" /> {{_ "False"}}</label>
								</div>
							</div>
							<div class="input-line double-col" id="autoImageLoad">
								<label>{{_ "Auto_Load_Images"}}</label>
								<div>
									<label><input type="radio" name="autoImageLoad" value="1" checked="{{checked 'autoImageLoad' true true}}" /> {{_ "True"}}</label>
									<label><input type="radio" name="autoImageLoad" value="0" checked="{{checked 'autoImageLoad' false}}" /> {{_ "False"}}</label>
								</div>
							</div>
							<div class="input-line double-col" id="saveMobileBandwidth">
								<label>{{_ "Save_Mobile_Bandwidth"}}</label>
								<div>
									<label><input type="radio" name="saveMobileBandwidth" value="1" checked="{{checked 'saveMobileBandwidth' true true}}" /> {{_ "True"}}</label>
									<label><input type="radio" name="saveMobileBandwidth" value="0" checked="{{checked 'saveMobileBandwidth' false}}" /> {{_ "False"}}</label>
								</div>
							</div>
						</div>
					</div>
					<div class="section">
						<h1>{{_ "Sound"}}</h1>
						<div class="section-content">
							<div class="input-line double-col">
								<label>{{_ "Disable_New_Room_Notification"}}</label>
								<div>
									<label><input type="radio" name="disableNewRoomNotification" value="1" checked="{{checked 'disableNewRoomNotification' true}}" /> {{_ "True"}}</label>
									<label><input type="radio" name="disableNewRoomNotification" value="0" checked="{{checked 'disableNewRoomNotification' false true}}" /> {{_ "False"}}</label>
								</div>
							</div>
							<div class="input-line double-col">
								<label>{{_ "Disable_New_Message_Notification"}}</label>
								<div>
									<label><input type="radio" name="disableNewMessageNotification" value="1" checked="{{checked 'disableNewMessageNotification' true}}" /> {{_ "True"}}</label>
									<label><input type="radio" name="disableNewMessageNotification" value="0" checked="{{checked 'disableNewMessageNotification' false true}}" /> {{_ "False"}}</label>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="submit">
					<button class="button"><i class="icon-send"></i><span>{{_ "Save_changes"}}</span></button>
				</div>
			</div>
		</div>
	</section>
</template>
