<template name="accountProfile">
	<section class="page-container page-home page-static">
		<head class="fixed-title">
			{{> burger}}
			<h2>
				<span class="room-title">{{_ "Profile"}}</span>
			</h2>
		</head>
		<div class="content">
			<div class="rocket-form">
				<fieldset>
					<div class="input-line">
						<label for="language">{{_ "Language"}}</label>
						<div>
							<select id="language" class="required">
								{{#each languages}}
								<option value="{{key}}" selected="{{userLanguage key}}" dir="auto">{{name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="input-line">
						<label for="password">{{_ "Password"}}</label>
						<div>
							<input type="password" name="password" id="password" />
						</div>
					</div>
				</fieldset>
				<div class="submit">
					<button class="button"><i class="icon-send"></i><span>{{_ "Save_changes"}}</span></button>
				</div>
			</div>
		</div>
	</section>
</template>
