@import '../../../../styles/colors';

.uikit-mrkdwn {
	word-wrap: break-word;
	word-break: break-word;

	a {
		text-decoration: none;

		color: var(--color, $color-blue);

		&:hover,
		&:focus {
			text-decoration: underline solid;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		padding: 0;
	}
}
