<template name="permissions">
	<div class="page-container permissions-manager">
		<section class="permissions-manager page-container page-home page-static page-list">
			{{#if hasPermission}}
				{{# header sectionName=pageTitle}}
				<div class="rc-header__section-button">
					<a href="{{pathFor"admin-permissions-new"}}"
						class="rc-button rc-button--primary new-role">{{_ "New_role"}}</a>
				</div>
				{{/header}}
				<form class="search-form" role="form">
					<div class="rc-input__wrapper">
						<div class="rc-input__icon">
							{{> icon block="rc-input__icon-svg" icon="magnifier" }}
						</div>
						<input id="permissions-filter" type="text" class="rc-input__element" placeholder="{{_ " Search "}}" autofocus dir="auto">
					</div>
				</form>

				{{>tabs tabs=tabsData}}
				{{#if $eq tab 'settings'}}
					{{> permissionsTable query=filter permissions=settingPermissions allRoles=roles collection='Setting'}}
				{{else}}
					{{> permissionsTable query=filter permissions=permissions allRoles=roles collection='Chat'}}
				{{/if}}
			{{/if}}
			{{#if hasNoPermission}}
				<div class="content">
					{{#if i18nPageTitle}} {{> header sectionName=i18nPageTitle}} {{else}} {{> header sectionName=pageTitle}}
					{{/if}}
					{{_ "Not_authorized"}}
				</div>
			{{/if}}
		</section>
	</div>
</template>
