/* General */
@import 'imports/general/reset.css';
@import 'imports/general/variables.css';
@import 'imports/general/base_old.css';
@import 'imports/general/base.css';
@import 'imports/general/animations.css';

/* Forms */
@import 'imports/general/forms.css';
@import 'imports/forms/button.css';
@import 'imports/forms/input.css';
@import 'imports/forms/select.css';
@import 'imports/forms/popup-list.css';
@import 'imports/forms/select-avatar.css';
@import 'imports/forms/switch.css';
@import 'imports/forms/tags.css';

/* Sidebar */
@import 'imports/components/sidebar/sidebar.css';
@import 'imports/components/sidebar/sidebar-account.css';
@import 'imports/components/sidebar/sidebar-item.css';
@import 'imports/components/sidebar/sidebar-flex.css';
@import 'imports/components/sidebar/toolbar.css';
@import 'imports/components/sidebar/rooms-list.css';

/* Main */
@import 'imports/components/flex-nav.css';
@import 'imports/components/header.css';
@import 'imports/components/memberlist.css';
@import 'imports/components/main-content.css';
@import 'imports/components/message-box.css';
@import 'imports/components/avatar.css';
@import 'imports/components/badge.css';
@import 'imports/components/popover.css';
@import 'imports/components/popout.css';
@import 'imports/components/modal.css';
@import 'imports/components/tooltip.css';
@import 'imports/components/slider.css';
@import 'imports/components/chip.css';
@import 'imports/components/messages.css';
@import 'imports/components/contextual-bar.css';
@import 'imports/components/emojiPicker.css';
@import 'imports/components/table.css';

/* Modal */
@import 'imports/components/modal/full-modal.css';
@import 'imports/components/modal/create-channel.css';
@import 'imports/components/modal/directory.css';
/* User Info */
@import 'imports/components/userInfo.css';

/* RTL */
@import 'imports/general/rtl.css';
