.messages-box {
	.message-cog-container {
		.message-action {
			&.jump-to-star-message {
				display: none !important;
			}
		}
	}
}

.starred-messages-list {
	li.empty {
		color: #7f7f7f;
		text-align: center;
		margin-top: 60px;
	}

	.message-cog-container {
		.message-action {
			display: none !important;
			&.star-message, &.unstar-message, &.jump-to-star-message {
				display: block !important;
			}
		}
	}

	.load-more {
		text-transform: lowercase;
		text-align: center;
		line-height: 40px;
		font-style: italic;

		.load-more-loading {
			color: #aaa;
		}
	}
}
