@import 'colors';
@import 'grid';
@import 'variables';

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	color: #444444;

	font-family: $font-family;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;

	&-thumb {
		border-radius: 5px;
		background: $color-text-grey;
	}

	&-track {
		border-radius: 5px;
		background: $color-text-light;
	}
}

#app {
	display: flex;
	flex-direction: column;

	height: 100%;
}

.rc-livechat-mobile-full-screen {
	overflow: hidden;

	width: 100%;
	height: 100%;
}
