.emoji {
	image-rendering: auto;
	font-size: inherit;
	height: 22px;
	width: 22px;
	position: relative;
	display: inline-block;
	margin: 0 .15em;
	line-height: normal;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.emoji.big {
	height: 44px !important;
	width: 44px !important;
}
