.rc-alerts {
	position: relative;

	z-index: 10;

	display: flex;

	padding: var(--alerts-padding-vertical) var(--alerts-padding);

	animation-name: dropdown-show;
	animation-duration: 0.3s;

	text-align: center;

	color: var(--alerts-color);

	background: var(--alerts-background);

	font-size: 20px;
	align-items: center;
	flex-grow: 0;

	&--large {
		padding: var(--alerts-padding-vertical-large) var(--alerts-padding);
	}

	&--large > &__content {
		text-align: start;
	}

	&--large > &__icon {
		font-size: 30px;
	}

	&--has-action {
		cursor: pointer;
	}

	&__big-icon {
		width: 56px;
		height: 56px;

		font-size: 56px;
	}

	&__icon {
		cursor: pointer;

		color: inherit;
		flex-grow: 0;

		&--close {
			transform: rotate(45deg);
		}
	}

	&__line {
		display: block;

		overflow: hidden;

		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__content {
		overflow: hidden;

		flex: 1;

		margin: 0 24px;
	}
}
