.contextual-bar {
	z-index: 1;

	display: flex;
	flex-direction: column;

	width: var(--flex-tab-width);
	height: 100%;
	padding: var(--default-padding);

	background: var(--color-white);
	box-shadow: -1px 3px 1px 1px rgba(31, 35, 41, 0.08);

	& > .flex-tab {
		width: 100%;
	}

	&__header {
		display: flex;

		margin: 0 -0.25rem var(--default-padding);
		align-items: center;

		&-icon {
			margin: 0 0.25rem;

			font-size: 22px;
		}

		&-title {
			flex: 1;

			margin: 0 0.25rem;

			font-size: 16px;
			font-weight: 400;
		}

		&-close-icon {
			transform: rotate(45deg);

			font-size: 20px;
		}
	}
}

@media (width <= 1100px) {
	.contextual-bar {
		position: absolute;
		right: 0;
	}
}

@media (width <= 500px) {
	.contextual-bar {
		width: auto;
		max-width: var(--flex-tab-width);
	}
}
