.contextual-bar {
	display: flex;
	width: var(--flex-tab-width);
	padding: var(--default-padding);
	box-shadow: -1px 3px 1px 1px rgba(31, 35, 41, 0.08);
	z-index: 0;
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		margin: 0 -0.25rem var(--default-padding);

		&-icon {
			margin: 0 0.25rem;

			font-size: 22px;
		}

		&-title {
			margin: 0 0.25rem;
			font-size: 16px;
			font-weight: 400;
			flex: 1;
		}

		&-close-icon {
			font-size: 20px;
			transform: rotate(45deg);
		}
	}
}

