.rc-header {

	z-index: 1;

	display: flex;

	padding: var(--header-padding);

	white-space: nowrap;

	box-shadow: 0 0 1px 1px #e6e4e4;

	&__room-info,
	&__section-title {
		flex: 1 1;

		margin-left: 4px;

		font-size: var(--header-title-font-size);
		line-height: 1.25rem;
	}

	&__room-info {
		display: flex;
		align-items: center;
	}

	&__section-title {
		color: var(--header-title-username-color-darker);

		font-weight: var(--header-title-username-weight);
	}

	&__section-help {
		flex: 1 1;
	}

	&__section-button {
		display: flex;
		flex: 1 1 100%;
		justify-content: flex-end;

		/* max-width: use this to allign the buttons with the form */
	}

	&__section-button > button {
		margin: 0.3rem;
	}

	&__room-title {
		display: flex;
		flex-direction: column;

		width: 100%;
	}

	&__channel-name {
		overflow: hidden;

		width: 100%;

		text-overflow: ellipsis;

		color: var(--header-title-username-color-darker);

		font-weight: var(--header-title-username-weight);
	}

	&__username {
		display: inline;

		color: var(--header-title-status-color);

		font-weight: var(--header-title-status-name-weight);
	}

	&__topic,
	&__status {
		color: var(--header-title-status-color);

		font-size: var(--header-title-font-size--subtitle);
		font-weight: var(--header-title-status-name-weight);
	}

	&__topic {
		overflow: hidden;

		width: 100%;

		text-overflow: ellipsis;
	}

	&__status {
		display: flex;

		align-items: center;

		&-visual-status {
			text-transform: capitalize;
		}

		&-bullet {
			width: var(--header-title-status-bullet-size);
			height: var(--header-title-status-bullet-size);
			margin-right: 0.25rem;

			border-radius: var(--header-title-status-bullet-radius);

			&--online {
				background-color: var(--status-online);
			}

			&--away {
				background-color: var(--status-away);
			}

			&--busy {
				background-color: var(--status-busy);
			}

			&--invisible {
				background-color: var(--status-invisible);
			}

			&--offline {
				background-color: var(--status-invisible);
			}
		}
	}

	&__toggle-favorite {
		margin-right: 1rem;

		color: var(--header-toggle-favorite-star-color);

		font-size: 1.5rem;

		&.empty {
			color: var(--header-toggle-favorite-color);

			& .rc-header__icon {
				fill: none;
			}
		}

		&:hover {
			color: var(--header-toggle-favorite-star-color);
		}
	}

	&__icon {
		fill: currentColor;
		stroke: currentColor;
	}

	&__room-image {
		width: 32px;
		height: 32px;
		margin-right: 1rem;
		flex-shrink: 0;
	}
}

.rc-room-actions {
	display: flex;

	margin: -8px;
	align-items: center;

	&__action,
	&__more-action {
		display: flex;
		flex-direction: column;

		margin: 0 8px;

		cursor: pointer;
		transition: all 0.3s;

		font-size: 24px;
		align-items: center;

		&.active,
		&:hover {
			color: var(--color-link-active);
		}
	}

	&__more {
		&-action {
			flex: 0 0 80px;

			max-width: 80px;
			margin: 8px;
		}

		&-container {
			display: flex;

			max-width: 480px;
			margin: 0 -8px;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__button {
		color: inherit;

		font-size: inherit;
	}

	&__description {
		display: inline-block;
		overflow: hidden;

		width: 100%;
		padding: 8px 0;

		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;

		font-size: 12px;
		font-weight: 600;
	}

	&__content {
		flex: 1 1 auto;

		width: 100%;
		max-width: var(--flex-tab-width);
		height: 100%;
		padding: var(--default-small-padding);

		background: white;
		box-shadow: 0 5px 1px 1px rgba(31, 35, 41, 0.08);

		& > .flex-tab {
			width: 100%;
		}
	}
}

@media (width <= 1100px) {
	.rc-room-actions__content {
		position: absolute;
		right: 0;
	}
}

.burger {

	display: none;
	visibility: hidden;

	margin-right: 20px;

	cursor: pointer;
	transition: transform 0.2s ease-out 0.1s;
	will-change: transform;

	& .burger__line {
		display: block;

		width: 20px;
		height: 2px;
		margin: 5px 0;

		transition: transform 0.2s ease-out;

		opacity: 0.8;
	}

	& .unread-burger-alert {
		position: absolute;
		z-index: 3;
		bottom: 13px;
		left: 10px;

		min-width: 18px;
		height: 18px;
		padding: 0 4px;

		text-align: center;

		border-radius: 20px;

		font-size: 12px;
		font-weight: bold;
		line-height: 18px;
	}

	&.menu-opened .burger__line {
		&:nth-child(1),
		&:nth-child(3) {
			transform-origin: 50%, 50%, 0;

			opacity: 1;
		}

		&:nth-child(1) {
			transform: translate(-25%, 3px) rotate(-45deg) scale(0.5, 1);
		}

		&:nth-child(3) {
			transform: translate(-25%, -3px) rotate(45deg) scale(0.5, 1);
		}
	}
}

@media (max-width: 780px) {
	.rc-header {
		max-width: 100vw;
	}

	.burger {
		display: inline-block;
		visibility: visible;
	}
}
