.main-content {
	position: relative;
	z-index: 0 !important;

	flex: 1 1 100%;

	width: 1vw;

	height: 100%;
}

.messages-container .room-icon {
	&.online {
		color: var(--status-online);
	}

	&.away {
		color: var(--status-away);
	}

	&.busy {
		color: var(--status-busy);
	}

	&.offline {
		color: var(--status-invisible);
	}
}

@media (width <= 780px) {
	.main-content {
		position: fixed;

		width: 100%;
		height: 100%;
	}
}
