.main-content {
	flex: 1 1 100%;

	width: 1vw;

	height: 100%;

	position: relative;
}

.messages-container .room-icon {
	&.online {
		color: var(--status-online);
	}

	&.away {
		color: var(--status-away);
	}

	&.busy {
		color: var(--status-busy);
	}

	&.offline {
		color: var(--status-invisible);
	}
}
