.rc-member-list {
	&__search {
		display: flex;

		& .rc-input,
		& .rc-select {
			margin: 0 5px;
		}
	}

	&__counter {

		color: #25292f;

		font-size: 14px;
	}

	&__user {

		display: flex;

		padding: 8px 0;

		cursor: pointer;
		align-items: center;

		&.active,
		&:hover {
			background-color: #eeeeee;

			& .rc-member-list__menu {
				opacity: 1;
			}
		}

		& > .avatar {
			width: var(--sidebar-account-thumb-size);
			height: var(--sidebar-account-thumb-size);
		}
	}

	&__menu {

		margin: 0 10px;

		opacity: 0;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	&__status {
		display: inline-block;
		width: var(--sidebar-item-user-status-size);
		height: var(--sidebar-item-user-status-size);
		margin: 0 7px 0 3px;

		border-radius: var(--sidebar-item-user-status-radius);

		&--online {
			background-color: var(--status-online);
		}

		&--away {
			background-color: var(--status-away);
		}

		&--busy {
			background-color: var(--status-busy);
		}

		&--offline {
			background-color: var(--status-invisible-sidebar);
		}
	}

	&__username {
		display: flex;
		flex: 1 1 auto;

		margin: 0 8px;

		font-size: 16px;
		align-items: center;
	}
}
