.messages-container-wrapper {
	position: relative;
}

.message-actions {
	position: absolute;
	top: 2px;
	right: 0.4rem;

	display: none;

	color: var(--color-darkest);

	font-size: 1rem;

	&__buttons {
		display: flex;
	}

	&__button {
		margin: 0 0.2rem;

		&:hover {
			color: var(--rc-color-button-primary);
		}
	}

	&__menu {
		padding: 2px 0;

		cursor: pointer;

		&:hover &-icon {
			fill: var(--rc-color-button-primary);
		}

		&-icon {
			fill: currentColor;
		}
	}
}

.message {
	& .toggle-hidden {
		display: none;
	}

	&--ignored {
		& .body {
			display: none;
		}

		& .toggle-hidden {
			display: block;
		}

		& + .message--ignored.sequential {
			display: none;
		}
	}

	&.active {
		& .message-actions__label {
			color: var(--rc-color-button-primary);
		}
	}

	& .rc-popover-anchor {
		display: block;

		visibility: hidden;

		width: 0;
		height: 0;

		opacity: 0;
	}

	& .rc-popover {
		top: -200vh;
		right: 180px;

		&__wrapper {
			position: fixed;
			top: -100vh;
			left: -100vw;

			width: 300vw;
			height: 300vh;
		}

		&__content {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.rtl .messages-box .user-typing {
	right: 0;
}

.messages-box {
	& .user-typing {
		height: 24px;

		padding: 0 24px;

		color: var(--message-box-user-typing-color);

		font-size: var(--message-box-user-typing-text-size);

		line-height: 24px;

		& .user-typing-wrapper::after {
			display: inline-block;
			overflow: hidden;

			width: 0;

			content: "\2026"; /* ascii code for the ellipsis character */
			animation: ellipsis steps(4, end) 1.5s infinite;
			vertical-align: bottom;
		}

		&__user {
			color: var(--message-box-user-typing-user-color);
		}
	}

	& .rc-popover__list {
		padding: 0;
	}
}

.messages-container .wrapper {
	position: absolute;
	top: 0;
	right: 0;

	bottom: 0;
	left: 0;

	display: flex;

	word-wrap: break-word;
	flex-flow: column wrap;
	justify-content: flex-end;

	& > ul {
		overflow-y: auto;
	}
}

.rtl .message-actions {
	right: auto;
	left: 2px;
}

@media (width >= 500px) {
	.message {
		&:hover,
		&.active {
			background-color: rgba(0, 0, 0, 0.05);

			& .message-actions {
				display: flex;
			}
		}
	}
}
