:root {
	--rc-popover-open: {
		display: flex;

		animation: dropdown-show 0.1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
		align-items: flex-start;
	}
	--rc-popover-open-mobile: {
		position: fixed;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;
	}
}

.rc-popover-anchor {
	display: none;

	&:checked + .rc-popover {
		@apply --rc-popover-open;
	}
}

.rc-popover {
	position: absolute;
	z-index: 9999;

	display: none;
	will-change: transform;

	&__content {
		display: flex;

		padding: 1rem;

		cursor: default;

		border-radius: 2px;
		background-color: var(--color-white);
		box-shadow: 0 0 2px 0 rgba(47, 52, 61, 0.08), 0 0 12px 0 rgba(47, 52, 61, 0.12);
	}

	&--show {
		@apply --rc-popover-open;
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;

		min-width: 130px;

		&:not(:first-child) {
			padding-left: 1rem;
		}

		&-wrapper:not(:first-child) {
			margin-top: 1rem;
		}
	}

	&__title {
		margin-bottom: 8px;

		text-transform: uppercase;

		color: var(--color-dark);

		font-size: 0.75rem;
	}

	&__item {
		display: flex;

		padding: 4px 0;

		cursor: pointer;

		color: var(--color-dark);

		font-size: 0.875rem;
		align-items: center;
	}

	&__icon {
		display: flex;

		width: 16px;
		margin: 0.25rem 0.25rem 0.25rem 0;
		align-items: center;
		justify-content: center;
	}

	&__icon-element {
		stroke: currentColor;

		&--customize {
			width: 14px;
			height: 14px;
		}

		&--comment-alt {
			width: 16px;
			height: 14px;
		}

		&--user {
			width: 18px;
			height: 17px;
		}

		&--sign-out {
			width: 14px;
			height: 14px;
		}

		&--video {
			width: 17px;
			height: 13px;
		}

		&--audio {
			width: 16px;
			height: 14px;
		}

		&--computer {
			width: 16px;
			height: 14px;
		}

		&--map-pin {
			width: 12px;
			height: 16px;
		}
	}

	&__item-text {
		margin-left: 0.25rem;
	}

	&__divider {
		width: 100%;
		height: 2px;
		margin: 1rem 0;

		background: var(--color-gray-light);
	}
}

@keyframes dropdown-show {
	0% {
		transform: translate(0, -2%);

		opacity: 0;
	}

	100% {
		transform: translate(0, 0);

		opacity: 1;
	}
}

@media (width <= 400px) {
	.rc-popover {
		&-anchor:checked + .rc-popover {
			@apply --rc-popover-open-mobile;
		}

		&--show {
			@apply --rc-popover-open-mobile;
		}
	}
}
