/*.setup-wizard {
	display: flex;

	width: 100%;
	height: 100%;

	background-color: var(--color-white);
	align-items: center;

	&-wrapper {
		display: flex;
		flex-direction: column;

		width: 510px;
		margin: 0 auto;
	}

	&-header {
		margin-bottom: 2.5rem;

		&-logo {
			width: 167px;
		}
	}

	&-content {
		margin-bottom: 2.75rem;

		&-ilustration {

			display: flex;
			width: 100%;
			height: 262px;
			margin-bottom: 3.5rem;
			justify-content: center;

			& img {
				height: 100%;
			}
		}

		&-title {
			margin-bottom: 1.25rem;

			color: var(--rc-color-primary);

			font-size: 1.375rem;
			font-weight: 400;
		}

		&-text {
			color: var(--rc-color-primary-light);

			font-size: 0.875rem;

			line-height: 1.25rem;

			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}
	}

	&-footer {
		display: flex;
		justify-content: space-between;
	}

	&-button-next {
		margin-left: auto;
	}

	& .rc-input:not(:last-child) {
		margin-bottom: 2rem;
	}

	& .rc-select {
		margin: 0.5rem 0;
	}
}
*/

.setup-wizard {

	display: flex;

	width: 100%;
	height: 100%;

	background-color: #f7f8fa;

	&-info {
		flex: 0 0 350px;

		margin: 55px 65px 0 80px;

		&__header{
			display: flex;

			margin: 0 -0.375rem 3rem;
			align-items: center;

			&-logo {
				margin: 0 0.375rem;
			}

			&-tag {
				margin: 0 0.375rem;

				padding: 4px 8px;

				letter-spacing: 0.05rem;

				text-transform: uppercase;

				color: #ffffff;

				border-radius: 50px;
				background: #2f343d;

				font-size: 10px;

				line-height: 1rem;
			}
		}

		&__content {
			&-title {

				margin-bottom: 1rem;

				letter-spacing: 0.03rem;

				color: #2f343d;

				font-size: 2rem;

				font-weight: 600;

				line-height: 2.6rem;
			}

			&-text {

				margin-bottom: 3rem;

				color: #9ea2a8;

				font-size: 1rem;

				font-weight: 500;

				line-height: 1.5rem;
			}
		}

		&__steps {
			counter-reset: steps;

			&-item {
				position: relative;

				margin: 0 -0.5rem;

				counter-increment: steps;

				color: #d3d5d9;

				font-size: 0.875rem;
				font-weight: 500;

				&:not(:last-child) {
					margin-bottom: 2rem;

					&::after {
						position: absolute;
						bottom: -1rem;
						left: 1.2rem;

						display: block;

						width: 1px;
						height: 1rem;

						content: "";

						background-color: #d3d5d9;
					}
				}

				&::before {
					display: inline-flex;

					width: 1.5rem;
					height: 1.5rem;
					margin: 0 0.5rem;

					content: counter(steps);

					color: #d3d5d9;

					border: 1px solid #d3d5d9;
					border-radius: 50px;

					font-size: 0.75rem;
					align-items: center;
					justify-content: center;
				}

				&--active {
					color: #1d74f5;

					&::before {
						color: #1d74f5;
						border-color: #1d74f5;
					}
				}

				&--past {
					color: #2f343d;

					&::before {
						color: #ffffff;
						background-color: #1d74f5;
					}

					&::after {
						background-color: #1d74f5 !important;
					}

					& .setup-wizard-info__steps-item-bonding {
						background-color: #1d74f5;
					}
				}

				&-bonding {
					position: absolute;
					top: -1rem;
					left: 1.2rem;

					display: block;

					width: 1px;
					height: 1rem;

					background-color: currentColor;
				}
			}
		}
	}

	&-forms {
		flex: 1 1 auto;

		&__wrapper {

			display: flex;

			width: calc(100% - 1rem);
			height: calc(100% - 2rem);
			margin: 1rem 1rem 1rem 0;

			padding: 3rem;

			border-radius: 2px;
			background: #ffffff;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
			justify-content: center;
		}

		&__box {

			display: flex;
			flex-direction: column;

			width: 350px;
			justify-content: space-between;
		}

		&__header {
			&-step {

				display: block;

				margin-bottom: 3px;

				letter-spacing: 0.05rem;

				text-transform: uppercase;

				color: #caced1;

				font-size: 0.75rem;

				line-height: 1.125rem;
			}

			&-title {

				letter-spacing: 0.05rem;

				color: #1f2329;

				font-size: 1.25rem;
				font-weight: 500;

				line-height: 1.75rem;
			}
		}
	}

	.rc-input {
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}

		&__title {
			letter-spacing: 0.03rem;

			text-transform: uppercase;

			color: #9ea2a8;

			font-size: 0.625rem;

			line-height: 1rem;
		}
	}
}

.rtl {
	.setup-wizard-info {
		margin: 55px 80px 0 65px;
	}

	.setup-wizard-forms__wrapper {
		margin: 1rem 0 1rem 1rem;
	}
}
