.setup-wizard {
	display: flex;

	width: 100%;
	height: 100%;
	align-items: center;

	background-color: var(--color-white);

	&-wrapper {
		display: flex;
		flex-direction: column;
		width: 510px;
		margin: 0 auto;
	}

	&-header {
		margin-bottom: 2.5rem;

		&-logo {
			width: 167px;
		}
	}

	&-content {
		margin-bottom: 2.75rem;

		&-ilustration {
			width: 100%;
			height: 262px;
			background: lightgray;
			margin-bottom: 3.5rem;
		}

		&-title {
			margin-bottom: 1.25rem;

			color: var(--rc-color-primary);

			font-size: 1.375rem;
			font-weight: 400;
		}

		&-text {
			color: var(--rc-color-primary-light);

			font-size: 0.875rem;

			line-height: 1.25rem;

			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}
	}

	&-footer {
		display: flex;
		justify-content: space-between;
	}

	&-button-next {
		margin-left: auto;
	}

	& .rc-input:not(:last-child) {
		margin-bottom: 2rem;
	}
}
