/* Sidebar */
.sidebar {
	position: relative;
	z-index: 2;

	display: flex;
	flex-direction: column;
	flex: 0 0 var(--rooms-box-width);

	width: var(--rooms-box-width);

	height: 100%;

	transition: transform 0.3s;

	background-color: var(--color-dark);

	&--flex {
		position: absolute;

		height: 100%;

		background-color: var(--color-gray-lightest);
	}

	&-wrap {
		position: absolute;
		z-index: 1;
		top: 0;

		height: 100%;

		user-select: none;
		transition: opacity 0.3s;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		touch-action: pan-y;
		-webkit-user-drag: none;
	}

	&__header {
		height: var(--sidebar-header-height);
		padding: var(--sidebar-header-padding) var(--sidebar-header-padding) 33px;
	}

	& .unread-rooms {
		display: none;
	}

	&__footer {
		width: auto;
		height: var(--sidebar-footer-height);
		padding: calc(var(--sidebar-footer-padding) / 2) var(--sidebar-footer-padding);

		text-align: center;

		& img {
			max-width: 100%;
			height: 100%;
		}
	}

	&-flex {
		&__back-button {
			margin-left: 0.25rem;

			color: var(--color-dark);

			font-size: 1rem;
		}

		&__back-icon {
			width: 18px;
			height: 14px;
			stroke: currentColor;
		}

		&__search {
			padding: 0 1rem;

			& .rc-input {
				&__wrapper {
					color: var(--color-gray);
				}

				&__icon {
					left: 0.5rem;
				}

				&__element {
					padding-left: 2.25rem;

					border: 0;
					background-color: var(--color-white);

					&::placeholder {
						color: var(--color-gray);
					}
				}
			}
		}
	}
}

@media (width < 780px) {
	.sidebar:not(.sidebar--flex) {
		user-select: none;
		transform: translate3d(-280px, 0, 0);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		touch-action: pan-y;
		-webkit-user-drag: none;
		will-change: transform;
	}
}

/* Sidebar Account */

.sidebar__account {
	margin-bottom: 40px;

	&-label {
		display: flex;

		cursor: pointer;
		align-items: center;
	}

	&-thumb {
		width: var(--account-thumb-size);
		height: var(--account-thumb-size);
	}

	&-data {
		position: relative;

		margin-left: 1rem;
	}

	&-name,
	&-username {
		overflow: hidden;

		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&-name {
		width: 160px;
		height: 1.1rem;
		margin-bottom: 0.5rem;

		color: var(--color-white);

		font-size: 1rem;
		font-weight: 700;

		&--lighten {
			color: var(--color-dark);
		}
	}

	&-username {
		max-width: 124px;
		margin-right: 8px;

		user-select: none;

		font-size: 0.875rem;
	}

	&-status {
		display: flex;

		color: var(--color-gray);

		font-size: 1rem;
		align-items: center;
	}

	&-status-bullet {
		display: block;

		width: var(--account-status-bullet-size);
		height: var(--account-status-bullet-size);
		margin: 0.25rem 0.5rem 0.25rem 0;

		border-radius: 50%;
	}

	&-arrow {
		width: 8px;
		height: 8px;

		transition: transform 0.2s linear;
		stroke: currentColor;
	}

	& .rc-popover-anchor:checked {
		& ~ .sidebar__account-status .sidebar__account-arrow {
			transform: rotate(180deg);
		}
	}

	& .rc-popover {
		top: 50px;
	}
}

/* toolbar */
.toolbar {
	&__wrapper {
		display: flex;

		color: var(--color-gray);
	}

	&__search {
		position: relative;

		display: flex;

		width: 100%;
		align-items: center;
	}

	&__search-input {
		width: 100%;
		padding-left: 32px;

		&:focus + svg {
			display: block;
		}
	}

	&__search-buttons {
		margin-left: 8px;
	}

	&__icon {
		width: 13px;
		height: 13px;
		stroke: currentColor;
	}

	& .rc-input {
		&__wrapper {
			padding: 0;

			color: var(--color-gray);
		}

		&__element {
			color: var(--color-white);
			border-color: #414852;
			background-color: var(--color-darkest);

			&::placeholder {
				color: var(--color-gray);
			}

			&:focus + .rc-input__icon--right {
				display: flex;
			}
		}

		&__icon {
			left: 0.5rem;

			&--right {
				right: 0.5rem;
				left: auto;

				display: none;
			}

			& + .rc-input__element {
				padding: 0.5rem 1rem 0.5rem 2.25rem;
			}
		}
	}

	& .rc-button {
		margin-left: 0.5rem;

		color: var(--color-gray);
		border-color: #414852;
		background-color: var(--color-darkest);
	}
}

/* rooms list */
.rooms-list {
	overflow-y: auto;

	height: 100%;
	padding: 0 8px;

	&__list {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__type {
		margin-bottom: 0.5rem;
		margin-left: 22px;

		color: var(--color-gray);

		font-size: 0.75rem;
	}

	&__empty-room {
		margin-left: 22px;

		color: var(--color-gray);

		font-size: 0.75rem;
	}

	& .badge {
		margin-left: 8px;
	}

	&__toolbar-search {
		position: absolute;
		z-index: 1;
		top: var(--sidebar-header-height);
		left: 0;

		overflow-y: auto;

		width: 100%;
		height: calc(100% - calc(var(--sidebar-header-height) + var(--sidebar-footer-height)));
		padding: 0 8px;

		background-color: var(--color-dark);
	}
}

/* room item */
.sidebar-item {
	display: flex;

	height: var(--room-item-height);
	padding-left: 22px;

	cursor: pointer;

	border-radius: 2px;
	align-items: center;

	&--active {
		background-color: var(--color-gray);
	}

	&__link {
		display: flex;
		overflow: hidden;
		flex: 1;

		color: var(--color-gray);

		font-size: 1rem;
		line-height: var(--room-item-height);
		align-items: center;

		&--active {
			color: var(--color-white);
		}
	}

	& .badge {
		margin: 0 8px 0 3px;
	}

	&__icon {
		margin: 0 auto;
		stroke: currentColor;

		&--hashtag {
			width: 14px;
			height: 14px;
		}

		&--lock {
			width: 12px;
			height: 18px;
		}

		&--customize {
			width: 14px;
			height: 14px;
		}

		&--user {
			width: 18px;
			height: 17px;
		}

		&--user-rounded {
			width: 18px;
			height: 18px;
		}

		&--comment-alt {
			width: 16px;
			height: 14px;
			fill: currentColor;
		}
	}

	&__user-thumb {
		width: var(--room-item-thumb-size);
		height: var(--room-item-thumb-size);
	}

	&__user-status {
		width: 6px;
		height: 6px;
		margin-right: 10px;
		margin-left: -16px;

		border-radius: 50%;
	}

	&__picture {
		display: flex;

		width: var(--room-item-thumb-size);
		margin-right: 6px;
		align-items: center;
	}

	&__name {
		overflow: hidden;

		white-space: nowrap;
		text-overflow: ellipsis;

		font-size: 1rem;
	}
}
