:root {
	--account-thumb-size: 48px;
	--account-status-bullet-size: 12px;
	--room-item-height: 32px;
	--room-item-thumb-size: 20px;
	--sidebar-header-height: 180px;
	--sidebar-header-padding: 24px;
	--sidebar-footer-height: 70px;
	--sidebar-footer-padding: var(--sidebar-header-padding);
}

/* Sidebar */
.sidebar {
	display: flex;
	flex: 0 0 var(--rooms-box-width);
	flex-direction: column;
	z-index: 2;
	position: relative;
	transition: transform 0.3s;

	&--flex {
		position: absolute;
		height: 100%;
	}

	&-wrap {
		z-index: 1;
		height: 100%;
		position: absolute;
		top: 0;
		touch-action: pan-y;
		user-select: none;
		-webkit-user-drag: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: opacity 0.3s;
	}

	&__header {
		padding: var(--sidebar-header-padding) var(--sidebar-header-padding) 33px;
		height: var(--sidebar-header-height);
	}

	& .unread-rooms {
		display: none;
	}

	&__footer {
		padding: calc(var(--sidebar-footer-padding) / 2) var(--sidebar-footer-padding);
		height: var(--sidebar-footer-height);
		width: auto;
		text-align: center;

		& img {
			height: 100%;
			max-width: 100%;
		}
	}

	&-flex {
		&__back-button {
			font-size: 1rem;
			margin-left: 0.25rem;
		}

		&__back-icon {
			width: 18px;
			height: 14px;
			stroke: currentColor;
		}

		&__search {
			padding: 0 1rem;

			& .rc-input {
				&__wrapper {
					color: #9ea2a8;
				}

				&__icon {
					left: 0.5rem;
				}

				&__element {
					padding-left: 2.25rem;
					background-color: #ffffff;
					border: 0;

					&::placeholder {
						color: #9ea2a8;
					}
				}
			}
		}
	}
}

@media (width < 780px) {
	.sidebar:not(.sidebar--flex) {
		transform: translate3d(-280px, 0, 0);
		will-change: transform;
		touch-action: pan-y;
		user-select: none;
		-webkit-user-drag: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

/* Sidebar Account */

.sidebar__account {
	margin-bottom: 40px;

	&-label {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&-thumb {
		width: var(--account-thumb-size);
		height: var(--account-thumb-size);
	}

	&-data {
		margin-left: 1rem;
		position: relative;
	}

	&-name,
	&-username {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-name {
		font-size: 1rem;
		font-weight: 700;
		height: 1.1rem;
		width: 160px;
		margin-bottom: 0.5rem;
	}

	&-username {
		font-size: 0.875rem;
		max-width: 124px;
		margin-right: 8px;
		user-select: none;
	}

	&-status {
		font-size: 1rem;
		display: flex;
		align-items: center;
	}

	&-status-bullet {
		display: block;
		width: var(--account-status-bullet-size);
		height: var(--account-status-bullet-size);
		border-radius: 50%;
		margin: 0.25rem 0.5rem 0.25rem 0;
	}

	&-arrow {
		stroke: currentColor;
		width: 8px;
		height: 8px;
		transition: transform 0.2s linear;
	}

	& .rc-popover-anchor:checked {
		& ~ .sidebar__account-status .sidebar__account-arrow {
			transform: rotate(180deg);
		}
	}

	& .rc-popover {
		top: 50px;
	}
}

/* toolbar */
.toolbar {
	&__wrapper {
		display: flex;
	}

	&__search {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__search-input {
		width: 100%;
		padding-left: 32px;

		&:focus + svg {
			display: block;
		}
	}

	&__search-buttons {
		margin-left: 8px;
	}

	&__icon {
		width: 13px;
		height: 13px;
		stroke: currentColor;
	}

	& .rc-input {
		&__wrapper {
			padding: 0;
			color: #9ea2a8;
		}

		&__element {
			background-color: #1f2329;
			border-color: #414852;
			color: #ffffff;

			&::placeholder {
				color: #9ea2a8;
			}

			&:focus + .rc-input__icon--right {
				display: flex;
			}
		}

		&__icon {
			left: 0.5rem;

			&--right {
				display: none;
				left: auto;
				right: 0.5rem;
			}

			& + .rc-input__element {
				padding: 0.5rem 1rem 0.5rem 2.25rem;
			}
		}
	}

	& .rc-button {
		background-color: #1f2329;
		border-color: #414852;
		color: #9ea2a8;
		margin-left: 0.5rem;
	}
}

/* rooms list */
.rooms-list {
	padding: 0 8px;
	height: 100%;
	overflow-y: auto;

	&__list {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__type {
		font-size: 0.75rem;
		margin-bottom: 0.5rem;
		margin-left: 22px;
	}

	&__empty-room {
		font-size: 0.75rem;
		margin-left: 22px;
	}

	& .badge {
		margin-left: 8px;
	}

	&__toolbar-search {
		position: absolute;
		z-index: 1;
		width: 100%;
		left: 0;
		top: var(--sidebar-header-height);
		height: calc(100% - calc(var(--sidebar-header-height) + var(--sidebar-footer-height)));
		padding: 0 8px;
		overflow-y: auto;
	}
}

/* room item */
.sidebar-item {
	cursor: pointer;
	height: var(--room-item-height);
	display: flex;
	align-items: center;
	border-radius: 2px;
	padding-left: 22px;

	&__link {
		font-size: 1rem;
		flex: 1;
		line-height: var(--room-item-height);
		display: flex;
		align-items: center;
	}

	& .badge {
		margin: 0 8px 0 3px;
	}

	&__icon {
		stroke: currentColor;
		margin: 0 auto;

		&--hashtag {
			width: 14px;
			height: 14px;
		}

		&--lock {
			width: 12px;
			height: 18px;
		}

		&--customize {
			width: 14px;
			height: 14px;
		}

		&--user {
			width: 18px;
			height: 17px;
		}

		&--user-rounded {
			width: 18px;
			height: 18px;
		}
	}

	&__user-thumb {
		width: var(--room-item-thumb-size);
		height: var(--room-item-thumb-size);
	}

	&__user-status {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin-left: -16px;
		margin-right: 10px;
	}

	&__picture {
		width: var(--room-item-thumb-size);
		display: flex;
		align-items: center;
		margin-right: 6px;
	}

	&__name {
		font-size: 1rem;
	}
}
