:root {
	--account-thumb-size: 56px;
	--account-status-bullet-size: 12px;
	--room-item-height: 32px;
	--room-item-thumb-size: 20px;
	--sidebar-header-height: 190px;
	--sidebar-header-padding: 24px;
	--sidebar-footer-height: 125px;
	--sidebar-footer-padding: var(--sidebar-header-padding);
}

/* Sidebar */
.sidebar {
	width: var(--rooms-box-width);
	height: auto;
	display: flex;
	flex-direction: column;
	z-index: 9999;
	position: relative;

	&--flex {
		position: absolute;
		height: 100%;
	}

	&-wrap {
		z-index: -1;
		height: 100%;
		position: absolute;
		top: 0;
		touch-action: pan-y;
		user-select: none;
		-webkit-user-drag: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	&__header {
		padding: var(--sidebar-header-padding) var(--sidebar-header-padding) 33px;
		height: var(--sidebar-header-height);
	}

	& .unread-rooms {
		display: none;
	}

	&__footer {
		padding: var(--sidebar-footer-padding);
		height: var(--sidebar-footer-height);
		width: auto;
		text-align: center;

		& img {
			height: 100%;
			max-width: 100%;
		}
	}

	&-flex {
		&__back-button {
			font-size: 1rem;
			margin-left: 0.25rem;
		}

		&__back-icon {
			width: 18px;
			height: 14px;
			stroke: currentColor;
		}
	}
}

@media (width < 780px) {
	.sidebar {
		transform: translateX(-280px);
		will-change: transform;
		touch-action: pan-y;
		user-select: none;
		-webkit-user-drag: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

/* Sidebar Account */

.sidebar__account {
	display: flex;
	align-items: center;
	margin-bottom: 40px;

	&-thumb {
		width: var(--account-thumb-size);
		height: var(--account-thumb-size);
	}

	&-data {
		margin-left: 1rem;
		position: relative;
	}

	&-name,
	&-username {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&-name {
		font-size: 1.375rem;
		height: 1.375rem;
		font-weight: 400;
		width: 160px;
	}

	&-username {
		max-width: 124px;
		margin-right: 8px;
		user-select: none;
	}

	&-status {
		font-size: 1rem;
		display: flex;
		align-items: center;
		margin-top: 2px;
		cursor: pointer;
	}

	&-status-bullet {
		display: block;
		width: var(--account-status-bullet-size);
		height: var(--account-status-bullet-size);
		border-radius: 50%;
		margin: 0.25rem 0.5rem 0.25rem 0;
	}

	&-arrow {
		stroke: currentColor;
		width: 8px;
		height: 8px;
		transition: transform 0.2s linear;
	}

	& .rc-popover-anchor:checked {
		& ~ .sidebar__account-status .sidebar__account-arrow {
			transform: rotate(180deg);
		}
	}

	& .rc-popover {
		top: 50px;
	}
}

/* toolbar */
.toolbar {
	&__wrapper {
		display: flex;
	}

	&__search {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__search-input {
		width: 100%;
		padding-left: 32px;

		&:focus + svg {
			display: block;
		}
	}

	&__search-buttons {
		margin-left: 8px;
	}

	&__icon {
		width: 13px;
		height: 13px;
		stroke: currentColor;

		&-search {
			position: absolute;
			left: 8px;

			&--right {
				left: auto;
				right: 8px;
				cursor: pointer;
				display: none;
			}
		}
	}
}

/* rooms list */
.rooms-list {
	padding: 0 8px;
	height: 100%;
	overflow-y: auto;

	&__list {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__type {
		font-size: 0.75rem;
		font-weight: 600;
		margin-bottom: 18px;
		margin-left: 22px;
	}

	& .badge {
		margin-left: 8px;
	}

	&__toolbar-search {
		position: absolute;
		z-index: 1;
		width: 100%;
		left: 0;
		top: var(--sidebar-header-height);
		height: calc(100% - calc(var(--sidebar-header-height) + var(--sidebar-footer-height)));
		padding: 0 8px;
		overflow-y: auto;
	}
}

/* room item */
.sidebar-item {
	cursor: pointer;
	height: var(--room-item-height);
	display: flex;
	align-items: center;
	border-radius: 2px;
	padding-left: 22px;
	font-weight: 400;

	&__link {
		font-size: 1rem;
		flex: 1;
		line-height: var(--room-item-height);
		display: flex;
		align-items: center;
	}

	& .badge {
		margin: 0 8px 0 3px;
	}

	&__icon {
		stroke: currentColor;
		margin: 0 auto;

		&--hashtag {
			width: 14px;
			height: 14px;
		}

		&--lock {
			width: 12px;
			height: 18px;
		}

		&--customize {
			width: 14px;
			height: 14px;
		}

		&--user {
			width: 18px;
			height: 17px;
		}

		&--user-rounded {
			width: 18px;
			height: 18px;
		}
	}

	&__user-thumb {
		width: var(--room-item-thumb-size);
		height: var(--room-item-thumb-size);
	}

	&__user-status {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin-left: -16px;
		margin-right: 10px;
	}

	&__picture {
		width: var(--room-item-thumb-size);
		display: flex;
		align-items: center;
		margin-right: 6px;
	}
}
