.rc-table {
	width: 100%;

	color: var(--rc-color-primary);

	font-size: 0.875rem;

	&--fixed {
		table-layout: fixed;
	}

	& tbody {
		& tr {
			cursor: pointer;

			&:hover {
				background-color: var(--rc-color-primary-lightest);
			}
		}
	}

	& th,
	& td {
		vertical-align: middle;

		&.bold {
			font-weight: 600;
		}
	}

	& th {
		height: 0;

		padding-top: 0;
		padding-bottom: 0;

		white-space: nowrap;

		color: transparent;

		line-height: 0;

		& > .rc-icon {
			display: none;
		}
	}

	& td {
		padding: 0.25rem 0.5rem;

		font-size: 0.75rem;
		line-height: 1rem;
	}
}

.table-wrapper {
	position: relative;

	height: 100%;
}

.table-content-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;
}

.table-content {
	display: flex;
	flex-direction: column;

	min-height: 0;
	flex-grow: 1;
}

.table-scroll {
	overflow: auto;

	min-height: 0;

	margin-top: 2rem;

	border-top: 1px solid #d8d8d8;
	flex-grow: 1;
}

.table-fake-th {
	position: absolute;
	top: 0;

	padding: 0.5rem;

	text-align: left;

	color: var(--rc-color-primary-light);

	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1rem;

	& .rc-icon {
		fill: var(--rc-color-primary-light);
	}
}

.table-tr-dummy {
	height: 1rem;
}
