.rc-table {
	width: 100%;

	color: var(--rc-color-primary);

	font-size: 0.875rem;

	&--fixed {
		table-layout: fixed;
	}

	& thead {
		color: var(--rc-color-primary-light);

		& tr {
			border-bottom: 1px solid #d8d8d8;
		}

		& td {
			padding: 0.5rem;

			font-size: 0.75rem;
		}

		& .rc-icon {
			fill: var(--rc-color-primary-light);
		}
	}

	& tbody {
		& tr {
			cursor: pointer;

			&:hover {
				background-color: var(--rc-color-primary-lightest);
			}
		}
	}

	& td {

		padding: 0.25rem 0.5rem;

		vertical-align: middle;
		letter-spacing: 0;

		font-size: 0.875rem;

		line-height: 1.25rem;

		&.bold {
			font-weight: 600;
		}
	}
}

.tr-dummy {
	height: 1rem;
}
