.tabs {
	margin-bottom: 0.5rem;

	border-bottom: 1px solid rgba(216, 216, 216, 0.4);
}

.tabs-wrapper {
	display: flex;

	width: 100%;

	margin: 0 -1rem;
}

.tab {
	margin: 0 1rem;
	padding: 1rem 0;

	cursor: pointer;

	transition: all 0.3s;

	color: var(--rc-color-primary-light);

	border-bottom: 1px solid transparent;

	font-size: 1rem;
	line-height: 1.25rem;

	font-weight: 500;

	&.active {
		color: var(--rc-color-button-primary);
		border-bottom-color: var(--rc-color-button-primary);
	}
}
