.rc-user-info {
	z-index: 1;

	display: flex;
	flex-direction: column;

	margin-bottom: var(--default-padding);
	align-items: center;

	&-container {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;

		display: flex;
		flex-direction: column;

		background-color: var(--color-white);

		&.animated {
			transition: transform 0.45s cubic-bezier(0.5, 0, 0, 1), opacity 0.125s ease-out 0.1s, -webkit-transform 0.45s cubic-bezier(0.5, 0, 0, 1);
		}

		&.animated-hidden {
			transform: translateX(100%);

			opacity: 0;
		}
	}

	&-wrapper {
		overflow-y: auto;

		flex: 1 1;
	}

	&__banner {
		background: #1d74f5;
	    color: white;

	    display: flex;
	    border-radius: 3px;
	    position: absolute;
	    z-index: 1;
	    bottom: 50px;
	    width: 100%;
	    -webkit-justify-content: center;
	    align-items: center;
	    margin: 0 -6px;

	    width: 132px;
	    height: 32px;
	}

	&__avatar {
		width: 120px;
		height: 120px;
		margin: var(--default-padding);
		position: relative;

		border-radius: 2px;

		.archived & > .avatar{
			filter: blur(1px);
			opacity: 0.8;
		}
	}

	&__name {
		font-size: 22px;
		font-weight: 500;
		line-height: 28px;
	}

	&__username {
		color: var(--color-gray);

		font-size: 14px;
	}

	&__scroll {
		overflow-x: hidden;
		overflow-y: auto;

		&.archived .rc-user-info__name,
		&.archived .rc-user-info__label {
			color: #9ea2a8;
		}
	}

	&__flex {
		display: flex;

		& > .rc-button {
			flex: 1;

			margin: 0 5px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__block {
		margin: 47px 0;
		padding: 28px 0;

		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}

	&__row {

		/*display: flex;*/
		flex-direction: row;

		padding: 15px 0;

		&:last-child {
			padding-bottom: 0;
		}
		& > .rc-switch {
			flex: 1;

			color: #a1a1a1;

			& > .rc-switch__label > .rc-switch__text {
				flex: 1;
			}
		}

		&--separator {
	    border-bottom: 1px solid #D7D7D7;
	    margin: 14px 0;
		}
	}

	&__label {
		display: block;

		margin-bottom: 37px;

		font-size: 15px;
		font-weight: 400;
	}

	&__description {
		padding: 8px 0;

		color: #9ea2a8;
	}

	&-action {
		display: flex;

		margin-bottom: var(--default-padding);
		justify-content: center;

		&__item {
			overflow: hidden;

			margin: 0 8px;

			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&__icon {
			font-size: 20px;
		}
	}

	&-details {

		margin-bottom: calc(var(--default-small-padding) * -1);
		padding: var(--default-padding);

		background-color: #f7f8fa;

		&__item:not(:last-child) {
			margin-bottom: var(--default-small-padding);
		}

		&__label {
			display: inline-block;

			margin-bottom: var(--default-small-padding);

			color: var(--color-gray);

			font-size: 10px;
		}

		&__info {
			overflow: hidden;

			text-overflow: ellipsis;

			color: var(--color-dark);

			font-size: 16px;
			line-height: 18px;
		}

		&__item {
			display: flex;
			flex-direction: column;
		}
	}
}

.rc-switch-double {
	display: flex;
	width: 100%;

	&__description {
		margin: 5px 2px;
		font-size: 13px;
	}

	&__label {
		flex: 1 1 100%;
		font-size: 16px;
		&:first-child {
			text-align: right;
		}

		&:last-child {
			text-align: left;
		}


			&.disabled {
				color: #A1A1A1;
			}
	}

	& .rc-switch {
		flex: 0 0;
		margin: 0 23px;

		& .rc-switch__button {
			margin: 0;
		}
	}
}
