<template name="InvitingOthers">

	<section class="inviting-others">
		<div class="inviting-others__wrapper">
			<form id="inviting-others" class="inviting-others__content">
				<div class="inviting-others__inputs">
					{{> SearchInvitingOthers
						onClickTag=onClickTagUser
						deleteLastItem=deleteLastItemUser
						list=selectedUsers
						onSelect=onSelectUser
						collection='UserAndRoom'
						subscription='userAutocomplete'
						field='username'
						sort='username'
						label="Invite_Users"
						placeholder="Username_Placeholder"
						name="users"
						icon="at"
						noMatchTemplate="userSearchEmpty"
						templateItem="popupList_item_default"
						modifier=userModifier
					}}
				</div>
			</form>
		</div>
	</section>
</template>

<template name="SearchInvitingOthers">
	<div class="rc-input" id='search-{{name}}' {{disabled}}>
		<label class="rc-input__label">
			<div class="rc-input__title">{{_ label}}</div>
			<div class="rc-input__wrapper">
				{{# if icon}}
				<div class="rc-input__icon">
					{{> icon block="rc-input__icon-svg" icon=icon}}
				</div>
				{{/if}}
				<div class="rc-tags{{# unless icon}} rc-tags--no-icon{{/unless}}">
					{{#each item in list}} {{> tag item}} {{/each}}
					<input type="text" id="{{name}}" class="rc-tags__input" placeholder="{{_ placeholder}}" name="{{name}}" autocomplete="off" {{disabled}} />
				</div>
			</div>
			{{#with config}}
				{{#if autocomplete 'isShowing'}}
					{{> popupList data=config items=items ready=(autocomplete 'isLoaded')}}
				{{/if}}
			{{/with}}
		</label>
		<div class="rc-input__description">{{ description }}</div>
	</div>
</template>
