.button-webcemail-invite {
    width: 49%;
}

.webcemail-content {
    margin-top: 10px;
}

input[aria-invalid='true'].email_input {
    border: 1px solid red !important;
}

.clear-delete-btn {
    width: 1%;
    display: table-cell;
    padding-left: 3px;
    vertical-align: middle;
}

.clear-delete-btn a:hover {
    text-decoration: none;
}