<template name="livechatRoomTagSelector">
	{{#if hasAvailableTags}}
		<div class="rc-select">
			<select class="rc-select__element" name="tags">
				<option class="rc-select__option" value="">{{_ "All"}}</option>
				{{#each availableTags}}
					<option class="rc-select__option" value="{{name}}">{{name}}</option>
				{{/each}}
			</select>
			{{> icon block="rc-select__arrow" icon="arrow-down" }}
		</div>
	{{else}}
		<div class="rc-input__wrapper">
			<input autocomplete="off" type="text" placeholder="{{_ "Tags"}}" class="rc-input__element" name="tags">
		</div>
	{{/if}}
</template>
