/* stylelint-disable */

.emojione-nature {
  background-image: url('/packages/emojione/nature-sprites.png');

  &._2600 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 0%;
  }

  &._2601 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 0%;
  }

  &._2602 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 7.142857142857143%;
  }

  &._2603 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 7.142857142857143%;
  }

  &._2604 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 0%;
  }

  &._2614 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 7.142857142857143%;
  }

  &._2618 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 14.285714285714286%;
  }

  &._2728 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 14.285714285714286%;
  }

  &._2744 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 14.285714285714286%;
  }

  &._1f436 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 0%;
  }

  &._1f431 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 7.142857142857143%;
  }

  &._1f42d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 14.285714285714286%;
  }

  &._1f439 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 21.428571428571427%;
  }

  &._1f430 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 21.428571428571427%;
  }

  &._1f98a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 21.428571428571427%;
  }

  &._1f43b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 21.428571428571427%;
  }

  &._1f43c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 0%;
  }

  &._1f43b-2744 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 7.142857142857143%;
  }

  &._1f428 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 14.285714285714286%;
  }

  &._1f42f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 21.428571428571427%;
  }

  &._1f981 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 28.571428571428573%;
  }

  &._1f42e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 28.571428571428573%;
  }

  &._1f437 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 28.571428571428573%;
  }

  &._1f43d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 28.571428571428573%;
  }

  &._1f438 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 28.571428571428573%;
  }

  &._1f435 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 0%;
  }

  &._1f648 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 7.142857142857143%;
  }

  &._1f649 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 14.285714285714286%;
  }

  &._1f64a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 21.428571428571427%;
  }

  &._1f412 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 28.571428571428573%;
  }

  &._1f414 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 35.714285714285715%;
  }

  &._1f427 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 35.714285714285715%;
  }

  &._1f426 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 35.714285714285715%;
  }

  &._1f424 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 35.714285714285715%;
  }

  &._1f423 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 35.714285714285715%;
  }

  &._1f425 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 35.714285714285715%;
  }

  &._1fabf {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 0%;
  }

  &._1f986 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 7.142857142857143%;
  }

  &._1f426-2b1b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 14.285714285714286%;
  }

  &._1f985 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 21.428571428571427%;
  }

  &._1f989 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 28.571428571428573%;
  }

  &._1f987 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 35.714285714285715%;
  }

  &._1f43a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 42.857142857142854%;
  }

  &._1f417 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 42.857142857142854%;
  }

  &._1f434 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 42.857142857142854%;
  }

  &._1f984 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 42.857142857142854%;
  }

  &._1face {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 42.857142857142854%;
  }

  &._1f41d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 42.857142857142854%;
  }

  &._1fab1 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 42.857142857142854%;
  }

  &._1f41b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 0%;
  }

  &._1f98b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 7.142857142857143%;
  }

  &._1f40c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 14.285714285714286%;
  }

  &._1f41e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 21.428571428571427%;
  }

  &._1f41c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 28.571428571428573%;
  }

  &._1fab0 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 35.714285714285715%;
  }

  &._1fab2 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 42.857142857142854%;
  }

  &._1fab3 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 50%;
  }

  &._1f99f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 50%;
  }

  &._1f997 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 50%;
  }

  &._1f577 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 50%;
  }

  &._1f578 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 50%;
  }

  &._1f982 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 50%;
  }

  &._1f422 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 50%;
  }

  &._1f40d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 50%;
  }

  &._1f98e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 0%;
  }

  &._1f996 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 7.142857142857143%;
  }

  &._1f995 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 14.285714285714286%;
  }

  &._1f419 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 21.428571428571427%;
  }

  &._1f991 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 28.571428571428573%;
  }

  &._1fabc {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 35.714285714285715%;
  }

  &._1f990 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 42.857142857142854%;
  }

  &._1f99e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 50%;
  }

  &._1f980 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 57.142857142857146%;
  }

  &._1f421 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 57.142857142857146%;
  }

  &._1f420 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 57.142857142857146%;
  }

  &._1f41f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 57.142857142857146%;
  }

  &._1f42c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 57.142857142857146%;
  }

  &._1f433 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 57.142857142857146%;
  }

  &._1f40b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 57.142857142857146%;
  }

  &._1f988 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 57.142857142857146%;
  }

  &._1f9ad {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 57.142857142857146%;
  }

  &._1f40a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 0%;
  }

  &._1f405 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 7.142857142857143%;
  }

  &._1f406 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 14.285714285714286%;
  }

  &._1f993 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 21.428571428571427%;
  }

  &._1f98d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 28.571428571428573%;
  }

  &._1f9a7 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 35.714285714285715%;
  }

  &._1f9a3 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 42.857142857142854%;
  }

  &._1f418 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 50%;
  }

  &._1f99b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 57.142857142857146%;
  }

  &._1f98f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 64.28571428571429%;
  }

  &._1f42a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 64.28571428571429%;
  }

  &._1f42b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 64.28571428571429%;
  }

  &._1f992 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 64.28571428571429%;
  }

  &._1f998 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 64.28571428571429%;
  }

  &._1f9ac {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 64.28571428571429%;
  }

  &._1f403 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 64.28571428571429%;
  }

  &._1f402 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 64.28571428571429%;
  }

  &._1f404 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 64.28571428571429%;
  }

  &._1facf {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 64.28571428571429%;
  }

  &._1f40e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 0%;
  }

  &._1f416 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 7.142857142857143%;
  }

  &._1f40f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 14.285714285714286%;
  }

  &._1f411 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 21.428571428571427%;
  }

  &._1f999 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 28.571428571428573%;
  }

  &._1f410 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 35.714285714285715%;
  }

  &._1f98c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 42.857142857142854%;
  }

  &._1f415 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 50%;
  }

  &._1f429 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 57.142857142857146%;
  }

  &._1f9ae {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 64.28571428571429%;
  }

  &._1f415-1f9ba {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 71.42857142857143%;
  }

  &._1f408 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 71.42857142857143%;
  }

  &._1f408-2b1b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 71.42857142857143%;
  }

  &._1fab6 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 71.42857142857143%;
  }

  &._1fabd {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 71.42857142857143%;
  }

  &._1f413 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 71.42857142857143%;
  }

  &._1f983 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 71.42857142857143%;
  }

  &._1f9a4 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 71.42857142857143%;
  }

  &._1f99a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 71.42857142857143%;
  }

  &._1f99c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 71.42857142857143%;
  }

  &._1f9a2 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 71.42857142857143%;
  }

  &._1f9a9 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 0%;
  }

  &._1f54a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 7.142857142857143%;
  }

  &._1f407 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 14.285714285714286%;
  }

  &._1f99d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 21.428571428571427%;
  }

  &._1f9a8 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 28.571428571428573%;
  }

  &._1f9a1 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 35.714285714285715%;
  }

  &._1f9ab {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 42.857142857142854%;
  }

  &._1f9a6 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 50%;
  }

  &._1f9a5 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 57.142857142857146%;
  }

  &._1f401 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 64.28571428571429%;
  }

  &._1f400 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 71.42857142857143%;
  }

  &._1f43f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 78.57142857142857%;
  }

  &._1f994 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 78.57142857142857%;
  }

  &._1f43e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 78.57142857142857%;
  }

  &._1f409 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 78.57142857142857%;
  }

  &._1f432 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 78.57142857142857%;
  }

  &._1f426-1f525 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 78.57142857142857%;
  }

  &._1f335 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 78.57142857142857%;
  }

  &._1f384 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 78.57142857142857%;
  }

  &._1f332 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 78.57142857142857%;
  }

  &._1f333 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 78.57142857142857%;
  }

  &._1f334 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 78.57142857142857%;
  }

  &._1fab5 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 78.57142857142857%;
  }

  &._1f331 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 0%;
  }

  &._1f33f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 7.142857142857143%;
  }

  &._1f340 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 14.285714285714286%;
  }

  &._1f38d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 21.428571428571427%;
  }

  &._1fab4 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 28.571428571428573%;
  }

  &._1f38b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 35.714285714285715%;
  }

  &._1f343 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 42.857142857142854%;
  }

  &._1f342 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 50%;
  }

  &._1f341 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 57.142857142857146%;
  }

  &._1faba {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 64.28571428571429%;
  }

  &._1fab9 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 71.42857142857143%;
  }

  &._1f344 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 78.57142857142857%;
  }

  &._1f344-1f7eb {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 85.71428571428571%;
  }

  &._1f41a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 85.71428571428571%;
  }

  &._1fab8 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 85.71428571428571%;
  }

  &._1faa8 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 85.71428571428571%;
  }

  &._1f33e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 85.71428571428571%;
  }

  &._1f490 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 85.71428571428571%;
  }

  &._1f337 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 85.71428571428571%;
  }

  &._1f339 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 85.71428571428571%;
  }

  &._1f940 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 85.71428571428571%;
  }

  &._1fabb {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 85.71428571428571%;
  }

  &._1fab7 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 85.71428571428571%;
  }

  &._1f33a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 85.71428571428571%;
  }

  &._1f338 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 85.71428571428571%;
  }

  &._1f33c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 0%;
  }

  &._1f33b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 7.142857142857143%;
  }

  &._1f31e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 14.285714285714286%;
  }

  &._1f31d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 21.428571428571427%;
  }

  &._1f31b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 28.571428571428573%;
  }

  &._1f31c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 35.714285714285715%;
  }

  &._1f31a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 42.857142857142854%;
  }

  &._1f315 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 50%;
  }

  &._1f316 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 57.142857142857146%;
  }

  &._1f317 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 64.28571428571429%;
  }

  &._1f318 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 71.42857142857143%;
  }

  &._1f311 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 78.57142857142857%;
  }

  &._1f312 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 85.71428571428571%;
  }

  &._1f313 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 92.85714285714286%;
  }

  &._1f314 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 92.85714285714286%;
  }

  &._1f319 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 92.85714285714286%;
  }

  &._1f30e {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 21.428571428571427% 92.85714285714286%;
  }

  &._1f30d {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 28.571428571428573% 92.85714285714286%;
  }

  &._1f30f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 35.714285714285715% 92.85714285714286%;
  }

  &._1fa90 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 42.857142857142854% 92.85714285714286%;
  }

  &._1f4ab {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 50% 92.85714285714286%;
  }

  &._2b50 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 57.142857142857146% 92.85714285714286%;
  }

  &._1f31f {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 64.28571428571429% 92.85714285714286%;
  }

  &._26a1 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 71.42857142857143% 92.85714285714286%;
  }

  &._1f4a5 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 78.57142857142857% 92.85714285714286%;
  }

  &._1f525 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 85.71428571428571% 92.85714285714286%;
  }

  &._1f32a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 92.85714285714286% 92.85714285714286%;
  }

  &._1f308 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 0%;
  }

  &._1f324 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 7.142857142857143%;
  }

  &._26c5 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 14.285714285714286%;
  }

  &._1f325 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 21.428571428571427%;
  }

  &._1f326 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 28.571428571428573%;
  }

  &._1f327 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 35.714285714285715%;
  }

  &._26c8 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 42.857142857142854%;
  }

  &._1f329 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 50%;
  }

  &._1f328 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 57.142857142857146%;
  }

  &._26c4 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 64.28571428571429%;
  }

  &._1f32c {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 71.42857142857143%;
  }

  &._1f4a8 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 78.57142857142857%;
  }

  &._1f4a7 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 85.71428571428571%;
  }

  &._1f4a6 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 100% 92.85714285714286%;
  }

  &._1fae7 {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 0% 100%;
  }

  &._1f30a {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 7.142857142857143% 100%;
  }

  &._1f32b {
    background-repeat: no-repeat;
    background-size: 1500% 1500%;
    background-position: 14.285714285714286% 100%;
  }

}

