/* stylelint-disable */



.joypixels-32-objects._2328 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    0%;
}



.joypixels-32-objects._2692 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    0%;
}



.joypixels-32-objects._2694 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    7.142857142857143%;
}



.joypixels-32-objects._2696 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    7.142857142857143%;
}



.joypixels-32-objects._2697 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    0%;
}



.joypixels-32-objects._2699 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    7.142857142857143%;
}



.joypixels-32-objects._2702 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    14.285714285714286%;
}



.joypixels-32-objects._2709 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    14.285714285714286%;
}



.joypixels-32-objects._2712 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    14.285714285714286%;
}



.joypixels-32-objects._231a {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    0%;
}



.joypixels-32-objects._1f4f1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    7.142857142857143%;
}



.joypixels-32-objects._1f4f2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    14.285714285714286%;
}



.joypixels-32-objects._1f4bb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    21.428571428571427%;
}



.joypixels-32-objects._1f5a5 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    21.428571428571427%;
}



.joypixels-32-objects._1f5a8 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    21.428571428571427%;
}



.joypixels-32-objects._1f5b1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    21.428571428571427%;
}



.joypixels-32-objects._1f5b2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    0%;
}



.joypixels-32-objects._1f579 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    7.142857142857143%;
}



.joypixels-32-objects._1f5dc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    14.285714285714286%;
}



.joypixels-32-objects._1f4bd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    21.428571428571427%;
}



.joypixels-32-objects._1f4be {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    28.571428571428573%;
}



.joypixels-32-objects._1f4bf {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    28.571428571428573%;
}



.joypixels-32-objects._1f4c0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    28.571428571428573%;
}



.joypixels-32-objects._1f4fc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    28.571428571428573%;
}



.joypixels-32-objects._1f4f7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    28.571428571428573%;
}



.joypixels-32-objects._1f4f8 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    0%;
}



.joypixels-32-objects._1f4f9 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    7.142857142857143%;
}



.joypixels-32-objects._1f3a5 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    14.285714285714286%;
}



.joypixels-32-objects._1f4fd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    21.428571428571427%;
}



.joypixels-32-objects._1f39e {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    28.571428571428573%;
}



.joypixels-32-objects._1f4de {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    35.714285714285715%;
}



.joypixels-32-objects._260e {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    35.714285714285715%;
}



.joypixels-32-objects._1f4df {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    35.714285714285715%;
}



.joypixels-32-objects._1f4e0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    35.714285714285715%;
}



.joypixels-32-objects._1f4fa {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    35.714285714285715%;
}



.joypixels-32-objects._1f4fb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    35.714285714285715%;
}



.joypixels-32-objects._1f399 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    0%;
}



.joypixels-32-objects._1f39a {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    7.142857142857143%;
}



.joypixels-32-objects._1f39b {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    14.285714285714286%;
}



.joypixels-32-objects._1f9ed {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    21.428571428571427%;
}



.joypixels-32-objects._23f1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    28.571428571428573%;
}



.joypixels-32-objects._23f2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    35.714285714285715%;
}



.joypixels-32-objects._23f0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    42.857142857142854%;
}



.joypixels-32-objects._1f570 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    42.857142857142854%;
}



.joypixels-32-objects._231b {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    42.857142857142854%;
}



.joypixels-32-objects._23f3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    42.857142857142854%;
}



.joypixels-32-objects._1f4e1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    42.857142857142854%;
}



.joypixels-32-objects._1f50b {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    42.857142857142854%;
}



.joypixels-32-objects._1faab {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    42.857142857142854%;
}



.joypixels-32-objects._1f50c {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    0%;
}



.joypixels-32-objects._1f4a1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    7.142857142857143%;
}



.joypixels-32-objects._1f526 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    14.285714285714286%;
}



.joypixels-32-objects._1f56f {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    21.428571428571427%;
}



.joypixels-32-objects._1fa94 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    28.571428571428573%;
}



.joypixels-32-objects._1f9ef {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    35.714285714285715%;
}



.joypixels-32-objects._1f6e2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    42.857142857142854%;
}



.joypixels-32-objects._1f4b8 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    50%;
}



.joypixels-32-objects._1f4b5 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    50%;
}



.joypixels-32-objects._1f4b4 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    50%;
}



.joypixels-32-objects._1f4b6 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    50%;
}



.joypixels-32-objects._1f4b7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    50%;
}



.joypixels-32-objects._1fa99 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    50%;
}



.joypixels-32-objects._1f4b0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    50%;
}



.joypixels-32-objects._1f4b3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    50%;
}



.joypixels-32-objects._1faaa {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    0%;
}



.joypixels-32-objects._1f48e {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    7.142857142857143%;
}



.joypixels-32-objects._1fa9c {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    14.285714285714286%;
}



.joypixels-32-objects._1f9f0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    21.428571428571427%;
}



.joypixels-32-objects._1fa9b {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    28.571428571428573%;
}



.joypixels-32-objects._1f527 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    35.714285714285715%;
}



.joypixels-32-objects._1f528 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    42.857142857142854%;
}



.joypixels-32-objects._1f6e0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    50%;
}



.joypixels-32-objects._26cf {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    57.142857142857146%;
}



.joypixels-32-objects._1fa9a {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    57.142857142857146%;
}



.joypixels-32-objects._1f529 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    57.142857142857146%;
}



.joypixels-32-objects._1faa4 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    57.142857142857146%;
}



.joypixels-32-objects._1f9f1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    57.142857142857146%;
}



.joypixels-32-objects._26d3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    57.142857142857146%;
}



.joypixels-32-objects._26d3-1f4a5 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    57.142857142857146%;
}



.joypixels-32-objects._1f9f2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    57.142857142857146%;
}



.joypixels-32-objects._1f52b {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    57.142857142857146%;
}



.joypixels-32-objects._1f4a3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    0%;
}



.joypixels-32-objects._1f9e8 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    7.142857142857143%;
}



.joypixels-32-objects._1fa93 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    14.285714285714286%;
}



.joypixels-32-objects._1f52a {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    21.428571428571427%;
}



.joypixels-32-objects._1f5e1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    28.571428571428573%;
}



.joypixels-32-objects._1f6e1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    35.714285714285715%;
}



.joypixels-32-objects._1f6ac {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    42.857142857142854%;
}



.joypixels-32-objects._26b0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    50%;
}



.joypixels-32-objects._1faa6 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    57.142857142857146%;
}



.joypixels-32-objects._26b1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    64.28571428571429%;
}



.joypixels-32-objects._1f3fa {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    64.28571428571429%;
}



.joypixels-32-objects._1f52e {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    64.28571428571429%;
}



.joypixels-32-objects._1f4ff {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    64.28571428571429%;
}



.joypixels-32-objects._1f9ff {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    64.28571428571429%;
}



.joypixels-32-objects._1faac {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    64.28571428571429%;
}



.joypixels-32-objects._1f488 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    64.28571428571429%;
}



.joypixels-32-objects._1f52d {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    64.28571428571429%;
}



.joypixels-32-objects._1f52c {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    64.28571428571429%;
}



.joypixels-32-objects._1f573 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    64.28571428571429%;
}



.joypixels-32-objects._1fa7b {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    0%;
}



.joypixels-32-objects._1fa79 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    7.142857142857143%;
}



.joypixels-32-objects._1fa7a {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    14.285714285714286%;
}



.joypixels-32-objects._1f48a {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    21.428571428571427%;
}



.joypixels-32-objects._1f489 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    28.571428571428573%;
}



.joypixels-32-objects._1fa78 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    35.714285714285715%;
}



.joypixels-32-objects._1f9ec {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    42.857142857142854%;
}



.joypixels-32-objects._1f9a0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    50%;
}



.joypixels-32-objects._1f9eb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    57.142857142857146%;
}



.joypixels-32-objects._1f9ea {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    64.28571428571429%;
}



.joypixels-32-objects._1f321 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    71.42857142857143%;
}



.joypixels-32-objects._1f9f9 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    71.42857142857143%;
}



.joypixels-32-objects._1faa0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    71.42857142857143%;
}



.joypixels-32-objects._1f9fa {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    71.42857142857143%;
}



.joypixels-32-objects._1f9fb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    71.42857142857143%;
}



.joypixels-32-objects._1f6bd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    71.42857142857143%;
}



.joypixels-32-objects._1f6b0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    71.42857142857143%;
}



.joypixels-32-objects._1f6bf {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    71.42857142857143%;
}



.joypixels-32-objects._1f6c1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    71.42857142857143%;
}



.joypixels-32-objects._1f6c0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    71.42857142857143%;
}



.joypixels-32-objects._1f9fc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    28.571428571428573%;
}



.joypixels-32-objects._1faa5 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    35.714285714285715%;
}



.joypixels-32-objects._1fa92 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    42.857142857142854%;
}



.joypixels-32-objects._1faae {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    50%;
}



.joypixels-32-objects._1f9fd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    57.142857142857146%;
}



.joypixels-32-objects._1faa3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    64.28571428571429%;
}



.joypixels-32-objects._1f9f4 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    71.42857142857143%;
}



.joypixels-32-objects._1f6ce {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    78.57142857142857%;
}



.joypixels-32-objects._1f511 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    78.57142857142857%;
}



.joypixels-32-objects._1f5dd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    78.57142857142857%;
}



.joypixels-32-objects._1f6aa {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    78.57142857142857%;
}



.joypixels-32-objects._1fa91 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    78.57142857142857%;
}



.joypixels-32-objects._1f6cb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    78.57142857142857%;
}



.joypixels-32-objects._1f6cf {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    78.57142857142857%;
}



.joypixels-32-objects._1f6cc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    78.57142857142857%;
}



.joypixels-32-objects._1f9f8 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    7.142857142857143%;
}



.joypixels-32-objects._1fa86 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    14.285714285714286%;
}



.joypixels-32-objects._1f5bc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    21.428571428571427%;
}



.joypixels-32-objects._1fa9e {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    28.571428571428573%;
}



.joypixels-32-objects._1fa9f {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    35.714285714285715%;
}



.joypixels-32-objects._1f6cd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    42.857142857142854%;
}



.joypixels-32-objects._1f6d2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    50%;
}



.joypixels-32-objects._1f381 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    57.142857142857146%;
}



.joypixels-32-objects._1f388 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    64.28571428571429%;
}



.joypixels-32-objects._1f38f {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    71.42857142857143%;
}



.joypixels-32-objects._1f380 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    78.57142857142857%;
}



.joypixels-32-objects._1fa84 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    85.71428571428571%;
}



.joypixels-32-objects._1fa85 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    85.71428571428571%;
}



.joypixels-32-objects._1f38a {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    85.71428571428571%;
}



.joypixels-32-objects._1f389 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    85.71428571428571%;
}



.joypixels-32-objects._1f38e {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    85.71428571428571%;
}



.joypixels-32-objects._1faad {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    85.71428571428571%;
}



.joypixels-32-objects._1f3ee {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    85.71428571428571%;
}



.joypixels-32-objects._1f390 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    85.71428571428571%;
}



.joypixels-32-objects._1faa9 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    85.71428571428571%;
}



.joypixels-32-objects._1f9e7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    85.71428571428571%;
}



.joypixels-32-objects._1f4e9 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    85.71428571428571%;
}



.joypixels-32-objects._1f4e8 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    85.71428571428571%;
}



.joypixels-32-objects._1f4e7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    85.71428571428571%;
}



.joypixels-32-objects._1f48c {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    0%;
}



.joypixels-32-objects._1f4e5 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    7.142857142857143%;
}



.joypixels-32-objects._1f4e4 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    14.285714285714286%;
}



.joypixels-32-objects._1f4e6 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    21.428571428571427%;
}



.joypixels-32-objects._1f3f7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    28.571428571428573%;
}



.joypixels-32-objects._1faa7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    35.714285714285715%;
}



.joypixels-32-objects._1f4ea {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    42.857142857142854%;
}



.joypixels-32-objects._1f4eb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    50%;
}



.joypixels-32-objects._1f4ec {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    57.142857142857146%;
}



.joypixels-32-objects._1f4ed {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    64.28571428571429%;
}



.joypixels-32-objects._1f4ee {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    71.42857142857143%;
}



.joypixels-32-objects._1f4ef {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    78.57142857142857%;
}



.joypixels-32-objects._1f4dc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    85.71428571428571%;
}



.joypixels-32-objects._1f4c3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    92.85714285714286%;
}



.joypixels-32-objects._1f4c4 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    92.85714285714286%;
}



.joypixels-32-objects._1f4d1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    92.85714285714286%;
}



.joypixels-32-objects._1f9fe {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    92.85714285714286%;
}



.joypixels-32-objects._1f4ca {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    92.85714285714286%;
}



.joypixels-32-objects._1f4c8 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    92.85714285714286%;
}



.joypixels-32-objects._1f4c9 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    92.85714285714286%;
}



.joypixels-32-objects._1f5d2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    92.85714285714286%;
}



.joypixels-32-objects._1f5d3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    92.85714285714286%;
}



.joypixels-32-objects._1f4c6 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    92.85714285714286%;
}



.joypixels-32-objects._1f4c5 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    92.85714285714286%;
}



.joypixels-32-objects._1f5d1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    92.85714285714286%;
}



.joypixels-32-objects._1f4c7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    92.85714285714286%;
}



.joypixels-32-objects._1f5c3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    92.85714285714286%;
}



.joypixels-32-objects._1f5f3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    0%;
}



.joypixels-32-objects._1f5c4 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    7.142857142857143%;
}



.joypixels-32-objects._1f4cb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    14.285714285714286%;
}



.joypixels-32-objects._1f4c1 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    21.428571428571427%;
}



.joypixels-32-objects._1f4c2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    28.571428571428573%;
}



.joypixels-32-objects._1f5c2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    35.714285714285715%;
}



.joypixels-32-objects._1f5de {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    42.857142857142854%;
}



.joypixels-32-objects._1f4f0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    50%;
}



.joypixels-32-objects._1f4d3 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    57.142857142857146%;
}



.joypixels-32-objects._1f4d4 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    64.28571428571429%;
}



.joypixels-32-objects._1f4d2 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    71.42857142857143%;
}



.joypixels-32-objects._1f4d5 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    78.57142857142857%;
}



.joypixels-32-objects._1f4d7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    85.71428571428571%;
}



.joypixels-32-objects._1f4d8 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    92.85714285714286%;
}



.joypixels-32-objects._1f4d9 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    0%
    100%;
}



.joypixels-32-objects._1f4da {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    6.666666666666667%
    100%;
}



.joypixels-32-objects._1f4d6 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    13.333333333333334%
    100%;
}



.joypixels-32-objects._1f516 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    20%
    100%;
}



.joypixels-32-objects._1f9f7 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    26.666666666666668%
    100%;
}



.joypixels-32-objects._1f517 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    33.333333333333336%
    100%;
}



.joypixels-32-objects._1f4ce {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    40%
    100%;
}



.joypixels-32-objects._1f587 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    46.666666666666664%
    100%;
}



.joypixels-32-objects._1f4d0 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    100%;
}



.joypixels-32-objects._1f4cf {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    100%;
}



.joypixels-32-objects._1f9ee {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    100%;
}



.joypixels-32-objects._1f4cc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    100%;
}



.joypixels-32-objects._1f4cd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    100%;
}



.joypixels-32-objects._1f58a {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    86.66666666666667%
    100%;
}



.joypixels-32-objects._1f58b {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    93.33333333333333%
    100%;
}



.joypixels-32-objects._1f58c {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    0%;
}



.joypixels-32-objects._1f58d {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    7.142857142857143%;
}



.joypixels-32-objects._1f4dd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    14.285714285714286%;
}



.joypixels-32-objects._270f {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    21.428571428571427%;
}



.joypixels-32-objects._1f50d {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    28.571428571428573%;
}



.joypixels-32-objects._1f50e {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    35.714285714285715%;
}



.joypixels-32-objects._1f50f {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    42.857142857142854%;
}



.joypixels-32-objects._1f510 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    50%;
}



.joypixels-32-objects._1f512 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    57.142857142857146%;
}



.joypixels-32-objects._1f513 {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    100%
    64.28571428571429%;
}






.joypixels-32-diversity._1f6c0-1f3fb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    71.42857142857143%;
}



.joypixels-32-diversity._1f6c0-1f3fc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    0%;
}



.joypixels-32-diversity._1f6c0-1f3fd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    7.142857142857143%;
}



.joypixels-32-diversity._1f6c0-1f3fe {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    14.285714285714286%;
}



.joypixels-32-diversity._1f6c0-1f3ff {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    21.428571428571427%;
}



.joypixels-32-diversity._1f6cc-1f3fb {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    53.333333333333336%
    78.57142857142857%;
}



.joypixels-32-diversity._1f6cc-1f3fc {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    60%
    78.57142857142857%;
}



.joypixels-32-diversity._1f6cc-1f3fd {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    66.66666666666667%
    78.57142857142857%;
}



.joypixels-32-diversity._1f6cc-1f3fe {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    73.33333333333333%
    78.57142857142857%;
}



.joypixels-32-diversity._1f6cc-1f3ff {
  background-image: url('/packages/emoji-toolkit/objects-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1600%
    1500%;
  background-position:
    80%
    0%;
}

