/* stylelint-disable */



.joypixels-32-regional._1f1ff {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    0%
    0%;
}



.joypixels-32-regional._1f1fe {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    20%
    0%;
}



.joypixels-32-regional._1f1fd {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    0%
    25%;
}



.joypixels-32-regional._1f1fc {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    20%
    25%;
}



.joypixels-32-regional._1f1fb {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    40%
    0%;
}



.joypixels-32-regional._1f1fa {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    40%
    25%;
}



.joypixels-32-regional._1f1f9 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    0%
    50%;
}



.joypixels-32-regional._1f1f8 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    20%
    50%;
}



.joypixels-32-regional._1f1f7 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    40%
    50%;
}



.joypixels-32-regional._1f1f6 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    60%
    0%;
}



.joypixels-32-regional._1f1f5 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    60%
    25%;
}



.joypixels-32-regional._1f1f4 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    60%
    50%;
}



.joypixels-32-regional._1f1f3 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    0%
    75%;
}



.joypixels-32-regional._1f1f2 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    20%
    75%;
}



.joypixels-32-regional._1f1f1 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    40%
    75%;
}



.joypixels-32-regional._1f1f0 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    60%
    75%;
}



.joypixels-32-regional._1f1ef {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    80%
    0%;
}



.joypixels-32-regional._1f1ee {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    80%
    25%;
}



.joypixels-32-regional._1f1ed {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    80%
    50%;
}



.joypixels-32-regional._1f1ec {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    80%
    75%;
}



.joypixels-32-regional._1f1eb {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    0%
    100%;
}



.joypixels-32-regional._1f1ea {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    20%
    100%;
}



.joypixels-32-regional._1f1e9 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    40%
    100%;
}



.joypixels-32-regional._1f1e8 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    60%
    100%;
}



.joypixels-32-regional._1f1e7 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    80%
    100%;
}



.joypixels-32-regional._1f1e6 {
  background-image: url('/packages/emoji-toolkit/regional-sprites.png');
  background-repeat: no-repeat;
  background-size:
    600%
    500%;
  background-position:
    100%
    0%;
}




