/* stylelint-disable */

.emojione-symbols {
  background-image: url('/packages/emojione/symbols-sprites.png');

  &._2049 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 0%;
  }

  &._2122 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 0%;
  }

  &._2139 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 5.882352941176471%;
  }

  &._2194 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 5.882352941176471%;
  }

  &._2195 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 0%;
  }

  &._2196 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 5.882352941176471%;
  }

  &._2197 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 11.764705882352942%;
  }

  &._2198 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 11.764705882352942%;
  }

  &._2199 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 11.764705882352942%;
  }

  &._2611 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 0%;
  }

  &._2622 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 5.882352941176471%;
  }

  &._2623 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 11.764705882352942%;
  }

  &._2626 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 17.647058823529413%;
  }

  &._2638 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 17.647058823529413%;
  }

  &._2640 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 17.647058823529413%;
  }

  &._2642 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 17.647058823529413%;
  }

  &._2648 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 0%;
  }

  &._2649 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 5.882352941176471%;
  }

  &._2650 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 11.764705882352942%;
  }

  &._2651 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 17.647058823529413%;
  }

  &._2652 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 23.529411764705884%;
  }

  &._2653 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 23.529411764705884%;
  }

  &._2660 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 23.529411764705884%;
  }

  &._2663 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 23.529411764705884%;
  }

  &._2665 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 23.529411764705884%;
  }

  &._2666 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 0%;
  }

  &._2668 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 5.882352941176471%;
  }

  &._2695 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 11.764705882352942%;
  }

  &._2705 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 17.647058823529413%;
  }

  &._2714 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 23.529411764705884%;
  }

  &._2716 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 29.41176470588235%;
  }

  &._2721 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 29.41176470588235%;
  }

  &._2733 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 29.41176470588235%;
  }

  &._2734 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 29.41176470588235%;
  }

  &._2747 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 29.41176470588235%;
  }

  &._2753 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 29.41176470588235%;
  }

  &._2754 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 0%;
  }

  &._2755 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 5.882352941176471%;
  }

  &._2757 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 11.764705882352942%;
  }

  &._2763 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 17.647058823529413%;
  }

  &._2764 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 23.529411764705884%;
  }

  &._2795 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 29.41176470588235%;
  }

  &._2796 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 35.294117647058826%;
  }

  &._2797 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 35.294117647058826%;
  }

  &._2934 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 35.294117647058826%;
  }

  &._2935 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 35.294117647058826%;
  }

  &._3030 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 35.294117647058826%;
  }

  &._3297 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 35.294117647058826%;
  }

  &._3299 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 35.294117647058826%;
  }

  &._1fa77 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 0%;
  }

  &._1f9e1 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 5.882352941176471%;
  }

  &._1f49b {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 11.764705882352942%;
  }

  &._1f49a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 17.647058823529413%;
  }

  &._1fa75 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 23.529411764705884%;
  }

  &._1f499 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 29.41176470588235%;
  }

  &._1f49c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 35.294117647058826%;
  }

  &._1f5a4 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 41.1764705882353%;
  }

  &._1fa76 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 41.1764705882353%;
  }

  &._1f90d {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 41.1764705882353%;
  }

  &._1f90e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 41.1764705882353%;
  }

  &._1f494 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 41.1764705882353%;
  }

  &._1f495 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 41.1764705882353%;
  }

  &._1f49e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 41.1764705882353%;
  }

  &._1f493 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 41.1764705882353%;
  }

  &._1f497 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 0%;
  }

  &._1f496 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 5.882352941176471%;
  }

  &._1f498 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 11.764705882352942%;
  }

  &._1f49d {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 17.647058823529413%;
  }

  &._2764-1fa79 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 23.529411764705884%;
  }

  &._2764-1f525 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 29.41176470588235%;
  }

  &._1f49f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 35.294117647058826%;
  }

  &._262e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 41.1764705882353%;
  }

  &._271d {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 47.05882352941177%;
  }

  &._262a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 47.05882352941177%;
  }

  &._1f549 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 47.05882352941177%;
  }

  &._1faaf {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 47.05882352941177%;
  }

  &._1f52f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 47.05882352941177%;
  }

  &._1f54e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 47.05882352941177%;
  }

  &._262f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 47.05882352941177%;
  }

  &._1f6d0 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 47.05882352941177%;
  }

  &._26ce {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 47.05882352941177%;
  }

  &._264a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 0%;
  }

  &._264b {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 5.882352941176471%;
  }

  &._264c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 11.764705882352942%;
  }

  &._264d {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 17.647058823529413%;
  }

  &._264e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 23.529411764705884%;
  }

  &._264f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 29.41176470588235%;
  }

  &._1f194 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 35.294117647058826%;
  }

  &._269b {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 41.1764705882353%;
  }

  &._1f251 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 47.05882352941177%;
  }

  &._1f4f4 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 52.94117647058823%;
  }

  &._1f4f3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 52.94117647058823%;
  }

  &._1f236 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 52.94117647058823%;
  }

  &._1f21a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 52.94117647058823%;
  }

  &._1f238 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 52.94117647058823%;
  }

  &._1f23a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 52.94117647058823%;
  }

  &._1f237 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 52.94117647058823%;
  }

  &._1f19a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 52.94117647058823%;
  }

  &._1f4ae {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 52.94117647058823%;
  }

  &._1f250 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 52.94117647058823%;
  }

  &._1f234 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 0%;
  }

  &._1f235 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 5.882352941176471%;
  }

  &._1f239 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 11.764705882352942%;
  }

  &._1f232 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 17.647058823529413%;
  }

  &._1f170 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 23.529411764705884%;
  }

  &._1f171 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 29.41176470588235%;
  }

  &._1f18e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 35.294117647058826%;
  }

  &._1f191 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 41.1764705882353%;
  }

  &._1f17e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 47.05882352941177%;
  }

  &._1f198 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 52.94117647058823%;
  }

  &._274c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 58.8235294117647%;
  }

  &._2b55 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 58.8235294117647%;
  }

  &._1f6d1 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 58.8235294117647%;
  }

  &._26d4 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 58.8235294117647%;
  }

  &._1f4db {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 58.8235294117647%;
  }

  &._1f6ab {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 58.8235294117647%;
  }

  &._1f4af {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 58.8235294117647%;
  }

  &._1f4a2 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 58.8235294117647%;
  }

  &._1f6b7 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 58.8235294117647%;
  }

  &._1f6af {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 58.8235294117647%;
  }

  &._1f6b3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 58.8235294117647%;
  }

  &._1f6b1 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 0%;
  }

  &._1f51e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 5.882352941176471%;
  }

  &._1f4f5 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 11.764705882352942%;
  }

  &._1f6ad {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 17.647058823529413%;
  }

  &._203c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 23.529411764705884%;
  }

  &._1f505 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 29.41176470588235%;
  }

  &._1f506 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 35.294117647058826%;
  }

  &._303d {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 41.1764705882353%;
  }

  &._26a0 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 47.05882352941177%;
  }

  &._1f6b8 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 52.94117647058823%;
  }

  &._1f531 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 58.8235294117647%;
  }

  &._269c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 64.70588235294117%;
  }

  &._1f530 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 64.70588235294117%;
  }

  &._267b {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 64.70588235294117%;
  }

  &._1f22f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 64.70588235294117%;
  }

  &._1f4b9 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 64.70588235294117%;
  }

  &._274e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 64.70588235294117%;
  }

  &._1f310 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 64.70588235294117%;
  }

  &._1f4a0 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 64.70588235294117%;
  }

  &._24c2 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 64.70588235294117%;
  }

  &._1f300 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 64.70588235294117%;
  }

  &._1f4a4 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 64.70588235294117%;
  }

  &._1f3e7 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 64.70588235294117%;
  }

  &._1f6be {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 0%;
  }

  &._267f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 5.882352941176471%;
  }

  &._1f17f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 11.764705882352942%;
  }

  &._1f6d7 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 17.647058823529413%;
  }

  &._1f233 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 23.529411764705884%;
  }

  &._1f202 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 29.41176470588235%;
  }

  &._1f6c2 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 35.294117647058826%;
  }

  &._1f6c3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 41.1764705882353%;
  }

  &._1f6c4 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 47.05882352941177%;
  }

  &._1f6c5 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 52.94117647058823%;
  }

  &._1f6dc {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 58.8235294117647%;
  }

  &._1f6b9 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 64.70588235294117%;
  }

  &._1f6ba {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 70.58823529411765%;
  }

  &._1f6bc {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 70.58823529411765%;
  }

  &._1f6bb {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 70.58823529411765%;
  }

  &._1f6ae {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 70.58823529411765%;
  }

  &._1f3a6 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 70.58823529411765%;
  }

  &._1f4f6 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 70.58823529411765%;
  }

  &._1f201 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 70.58823529411765%;
  }

  &._1f523 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 70.58823529411765%;
  }

  &._1f524 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 70.58823529411765%;
  }

  &._1f521 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 70.58823529411765%;
  }

  &._1f520 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 70.58823529411765%;
  }

  &._1f196 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 70.58823529411765%;
  }

  &._1f197 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 70.58823529411765%;
  }

  &._1f199 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 0%;
  }

  &._1f192 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 5.882352941176471%;
  }

  &._1f195 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 11.764705882352942%;
  }

  &._1f193 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 17.647058823529413%;
  }

  &._0030-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 23.529411764705884%;
  }

  &._0031-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 29.41176470588235%;
  }

  &._0032-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 35.294117647058826%;
  }

  &._0033-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 41.1764705882353%;
  }

  &._0034-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 47.05882352941177%;
  }

  &._0035-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 52.94117647058823%;
  }

  &._0036-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 58.8235294117647%;
  }

  &._0037-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 64.70588235294117%;
  }

  &._0038-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 70.58823529411765%;
  }

  &._0039-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 76.47058823529412%;
  }

  &._1f51f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 76.47058823529412%;
  }

  &._1f522 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 76.47058823529412%;
  }

  &._0023-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 76.47058823529412%;
  }

  &._002a-20e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 76.47058823529412%;
  }

  &._23cf {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 76.47058823529412%;
  }

  &._25b6 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 76.47058823529412%;
  }

  &._23f8 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 76.47058823529412%;
  }

  &._23ef {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 76.47058823529412%;
  }

  &._23f9 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 76.47058823529412%;
  }

  &._23fa {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 76.47058823529412%;
  }

  &._23ed {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 76.47058823529412%;
  }

  &._23ee {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 76.47058823529412%;
  }

  &._23e9 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 76.47058823529412%;
  }

  &._23ea {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 0%;
  }

  &._23eb {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 5.882352941176471%;
  }

  &._23ec {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 11.764705882352942%;
  }

  &._25c0 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 17.647058823529413%;
  }

  &._1f53c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 23.529411764705884%;
  }

  &._1f53d {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 29.41176470588235%;
  }

  &._27a1 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 35.294117647058826%;
  }

  &._2b05 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 41.1764705882353%;
  }

  &._2b06 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 47.05882352941177%;
  }

  &._2b07 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 52.94117647058823%;
  }

  &._21aa {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 58.8235294117647%;
  }

  &._21a9 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 64.70588235294117%;
  }

  &._1f500 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 70.58823529411765%;
  }

  &._1f501 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 76.47058823529412%;
  }

  &._1f502 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 82.3529411764706%;
  }

  &._1f504 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 82.3529411764706%;
  }

  &._1f503 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 82.3529411764706%;
  }

  &._1f3b5 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 82.3529411764706%;
  }

  &._1f3b6 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 82.3529411764706%;
  }

  &._1f7f0 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 82.3529411764706%;
  }

  &._267e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 82.3529411764706%;
  }

  &._1f4b2 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 82.3529411764706%;
  }

  &._1f4b1 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 82.3529411764706%;
  }

  &._00a9 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 82.3529411764706%;
  }

  &._00ae {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 82.3529411764706%;
  }

  &._27b0 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 82.3529411764706%;
  }

  &._27bf {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 82.3529411764706%;
  }

  &._1f51a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 82.3529411764706%;
  }

  &._1f519 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 82.3529411764706%;
  }

  &._1f51b {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 0%;
  }

  &._1f51d {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 5.882352941176471%;
  }

  &._1f51c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 11.764705882352942%;
  }

  &._1f518 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 17.647058823529413%;
  }

  &._26aa {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 23.529411764705884%;
  }

  &._26ab {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 29.41176470588235%;
  }

  &._1f534 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 35.294117647058826%;
  }

  &._1f535 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 41.1764705882353%;
  }

  &._1f7e4 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 47.05882352941177%;
  }

  &._1f7e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 52.94117647058823%;
  }

  &._1f7e2 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 58.8235294117647%;
  }

  &._1f7e1 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 64.70588235294117%;
  }

  &._1f7e0 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 70.58823529411765%;
  }

  &._1f53a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 76.47058823529412%;
  }

  &._1f53b {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 82.3529411764706%;
  }

  &._1f538 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 88.23529411764706%;
  }

  &._1f539 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 88.23529411764706%;
  }

  &._1f536 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 88.23529411764706%;
  }

  &._1f537 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 88.23529411764706%;
  }

  &._1f533 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 88.23529411764706%;
  }

  &._1f532 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 88.23529411764706%;
  }

  &._25aa {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 88.23529411764706%;
  }

  &._25ab {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 88.23529411764706%;
  }

  &._25fe {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 88.23529411764706%;
  }

  &._25fd {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 88.23529411764706%;
  }

  &._25fc {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 88.23529411764706%;
  }

  &._25fb {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 88.23529411764706%;
  }

  &._2b1b {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 88.23529411764706%;
  }

  &._2b1c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 88.23529411764706%;
  }

  &._1f7e7 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 88.23529411764706%;
  }

  &._1f7e6 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 88.23529411764706%;
  }

  &._1f7e5 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 0%;
  }

  &._1f7eb {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 5.882352941176471%;
  }

  &._1f7ea {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 11.764705882352942%;
  }

  &._1f7e9 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 17.647058823529413%;
  }

  &._1f7e8 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 23.529411764705884%;
  }

  &._1f508 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 29.41176470588235%;
  }

  &._1f507 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 35.294117647058826%;
  }

  &._1f509 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 41.1764705882353%;
  }

  &._1f50a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 47.05882352941177%;
  }

  &._1f514 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 52.94117647058823%;
  }

  &._1f515 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 58.8235294117647%;
  }

  &._1f4e3 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 64.70588235294117%;
  }

  &._1f4e2 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 70.58823529411765%;
  }

  &._1f5e8 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 76.47058823529412%;
  }

  &._1f441-1f5e8 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 82.3529411764706%;
  }

  &._1f4ac {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 88.23529411764706%;
  }

  &._1f4ad {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 94.11764705882354%;
  }

  &._1f5ef {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 94.11764705882354%;
  }

  &._1f0cf {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 94.11764705882354%;
  }

  &._1f3b4 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 94.11764705882354%;
  }

  &._1f004 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 94.11764705882354%;
  }

  &._1f550 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 94.11764705882354%;
  }

  &._1f551 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 94.11764705882354%;
  }

  &._1f552 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 94.11764705882354%;
  }

  &._1f553 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 47.05882352941177% 94.11764705882354%;
  }

  &._1f554 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 52.94117647058823% 94.11764705882354%;
  }

  &._1f555 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 58.8235294117647% 94.11764705882354%;
  }

  &._1f556 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 64.70588235294117% 94.11764705882354%;
  }

  &._1f557 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 70.58823529411765% 94.11764705882354%;
  }

  &._1f558 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 76.47058823529412% 94.11764705882354%;
  }

  &._1f559 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 82.3529411764706% 94.11764705882354%;
  }

  &._1f55a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 88.23529411764706% 94.11764705882354%;
  }

  &._1f55b {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 94.11764705882354% 94.11764705882354%;
  }

  &._1f55c {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 0%;
  }

  &._1f55d {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 5.882352941176471%;
  }

  &._1f55e {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 11.764705882352942%;
  }

  &._1f55f {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 17.647058823529413%;
  }

  &._1f560 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 23.529411764705884%;
  }

  &._1f561 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 29.41176470588235%;
  }

  &._1f562 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 35.294117647058826%;
  }

  &._1f563 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 41.1764705882353%;
  }

  &._1f564 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 47.05882352941177%;
  }

  &._1f565 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 52.94117647058823%;
  }

  &._1f566 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 58.8235294117647%;
  }

  &._1f567 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 64.70588235294117%;
  }

  &._0030 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 70.58823529411765%;
  }

  &._0031 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 76.47058823529412%;
  }

  &._0032 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 82.3529411764706%;
  }

  &._0033 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 88.23529411764706%;
  }

  &._0034 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 100% 94.11764705882354%;
  }

  &._0035 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 0% 100%;
  }

  &._0036 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 5.882352941176471% 100%;
  }

  &._0037 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 11.764705882352942% 100%;
  }

  &._0038 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 17.647058823529413% 100%;
  }

  &._0039 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 23.529411764705884% 100%;
  }

  &._0023 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 29.41176470588235% 100%;
  }

  &._002a {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 35.294117647058826% 100%;
  }

  &._26a7 {
    background-repeat: no-repeat;
    background-size: 1800% 1800%;
    background-position: 41.1764705882353% 100%;
  }

}

