/* stylelint-disable */



.joypixels-32-travel._2693 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    0%;
}



.joypixels-32-travel._2708 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    0%;
}



.joypixels-32-travel._1f697 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    10%;
}



.joypixels-32-travel._1f695 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    10%;
}



.joypixels-32-travel._1f699 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    0%;
}



.joypixels-32-travel._1f6fb {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    10%;
}



.joypixels-32-travel._1f690 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    20%;
}



.joypixels-32-travel._1f68c {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    20%;
}



.joypixels-32-travel._1f68e {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    20%;
}



.joypixels-32-travel._1f3ce {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    0%;
}



.joypixels-32-travel._1f693 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    10%;
}



.joypixels-32-travel._1f691 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    20%;
}



.joypixels-32-travel._1f692 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    30%;
}



.joypixels-32-travel._1f69a {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    30%;
}



.joypixels-32-travel._1f69b {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    30%;
}



.joypixels-32-travel._1f69c {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    30%;
}



.joypixels-32-travel._1f9af {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    0%;
}



.joypixels-32-travel._1f9bd {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    10%;
}



.joypixels-32-travel._1f9bc {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    20%;
}



.joypixels-32-travel._1fa7c {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    30%;
}



.joypixels-32-travel._1f6f4 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    40%;
}



.joypixels-32-travel._1f6b2 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    40%;
}



.joypixels-32-travel._1f6f5 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    40%;
}



.joypixels-32-travel._1f3cd {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    40%;
}



.joypixels-32-travel._1f6fa {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    40%;
}



.joypixels-32-travel._1f6de {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    0%;
}



.joypixels-32-travel._1f6a8 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    10%;
}



.joypixels-32-travel._1f694 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    20%;
}



.joypixels-32-travel._1f68d {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    30%;
}



.joypixels-32-travel._1f698 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    40%;
}



.joypixels-32-travel._1f696 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    50%;
}



.joypixels-32-travel._1f6a1 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    50%;
}



.joypixels-32-travel._1f6a0 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    50%;
}



.joypixels-32-travel._1f69f {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    50%;
}



.joypixels-32-travel._1f683 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    50%;
}



.joypixels-32-travel._1f68b {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    50%;
}



.joypixels-32-travel._1f69e {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    0%;
}



.joypixels-32-travel._1f69d {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    10%;
}



.joypixels-32-travel._1f684 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    20%;
}



.joypixels-32-travel._1f685 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    30%;
}



.joypixels-32-travel._1f688 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    40%;
}



.joypixels-32-travel._1f682 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    50%;
}



.joypixels-32-travel._1f686 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    60%;
}



.joypixels-32-travel._1f687 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    60%;
}



.joypixels-32-travel._1f68a {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    60%;
}



.joypixels-32-travel._1f689 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    60%;
}



.joypixels-32-travel._1f6eb {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    60%;
}



.joypixels-32-travel._1f6ec {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    60%;
}



.joypixels-32-travel._1f6e9 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    60%;
}



.joypixels-32-travel._1f4ba {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    0%;
}



.joypixels-32-travel._1f6f0 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    10%;
}



.joypixels-32-travel._1f680 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    20%;
}



.joypixels-32-travel._1f6f8 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    30%;
}



.joypixels-32-travel._1f681 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    40%;
}



.joypixels-32-travel._1f6f6 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    50%;
}



.joypixels-32-travel._26f5 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    60%;
}



.joypixels-32-travel._1f6a4 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    70%;
}



.joypixels-32-travel._1f6e5 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    70%;
}



.joypixels-32-travel._1f6f3 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    70%;
}



.joypixels-32-travel._26f4 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    70%;
}



.joypixels-32-travel._1f6a2 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    70%;
}



.joypixels-32-travel._1f6df {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    70%;
}



.joypixels-32-travel._1fa9d {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    70%;
}



.joypixels-32-travel._26fd {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    70%;
}



.joypixels-32-travel._1f6a7 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    0%;
}



.joypixels-32-travel._1f6a6 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    10%;
}



.joypixels-32-travel._1f6a5 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    20%;
}



.joypixels-32-travel._1f68f {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    30%;
}



.joypixels-32-travel._1f5fa {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    40%;
}



.joypixels-32-travel._1f5ff {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    50%;
}



.joypixels-32-travel._1f5fd {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    60%;
}



.joypixels-32-travel._1f5fc {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    70%;
}



.joypixels-32-travel._1f3f0 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    80%;
}



.joypixels-32-travel._1f3ef {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    80%;
}



.joypixels-32-travel._1f3df {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    80%;
}



.joypixels-32-travel._1f3a1 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    80%;
}



.joypixels-32-travel._1f3a2 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    80%;
}



.joypixels-32-travel._1f3a0 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    80%;
}



.joypixels-32-travel._26f2 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    80%;
}



.joypixels-32-travel._26f1 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    80%;
}



.joypixels-32-travel._1f3d6 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    80%;
}



.joypixels-32-travel._1f3dd {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    0%;
}



.joypixels-32-travel._1f3dc {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    10%;
}



.joypixels-32-travel._1f30b {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    20%;
}



.joypixels-32-travel._26f0 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    30%;
}



.joypixels-32-travel._1f3d4 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    40%;
}



.joypixels-32-travel._1f5fb {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    50%;
}



.joypixels-32-travel._1f3d5 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    60%;
}



.joypixels-32-travel._26fa {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    70%;
}



.joypixels-32-travel._1f3e0 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    80%;
}



.joypixels-32-travel._1f3e1 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    90%;
}



.joypixels-32-travel._1f3d8 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    90%;
}



.joypixels-32-travel._1f3da {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    90%;
}



.joypixels-32-travel._1f6d6 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    90%;
}



.joypixels-32-travel._1f3d7 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    90%;
}



.joypixels-32-travel._1f3ed {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    90%;
}



.joypixels-32-travel._1f3e2 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    90%;
}



.joypixels-32-travel._1f3ec {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    90%;
}



.joypixels-32-travel._1f3e3 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    90%;
}



.joypixels-32-travel._1f3e4 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    90%;
}



.joypixels-32-travel._1f3e5 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    0%;
}



.joypixels-32-travel._1f3e6 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    10%;
}



.joypixels-32-travel._1f3e8 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    20%;
}



.joypixels-32-travel._1f3ea {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    30%;
}



.joypixels-32-travel._1f3eb {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    40%;
}



.joypixels-32-travel._1f3e9 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    50%;
}



.joypixels-32-travel._1f492 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    60%;
}



.joypixels-32-travel._1f3db {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    70%;
}



.joypixels-32-travel._26ea {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    80%;
}



.joypixels-32-travel._1f54c {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    90%;
}



.joypixels-32-travel._1f54d {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    0%
    100%;
}



.joypixels-32-travel._1f6d5 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    9.090909090909092%
    100%;
}



.joypixels-32-travel._1f54b {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    18.181818181818183%
    100%;
}



.joypixels-32-travel._26e9 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    27.272727272727273%
    100%;
}



.joypixels-32-travel._1f6e4 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    36.36363636363637%
    100%;
}



.joypixels-32-travel._1f6e3 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    45.45454545454545%
    100%;
}



.joypixels-32-travel._1f5fe {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    54.54545454545455%
    100%;
}



.joypixels-32-travel._1f391 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    63.63636363636363%
    100%;
}



.joypixels-32-travel._1f3de {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    72.72727272727273%
    100%;
}



.joypixels-32-travel._1f305 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    81.81818181818181%
    100%;
}



.joypixels-32-travel._1f304 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    90.9090909090909%
    100%;
}



.joypixels-32-travel._1f320 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    0%;
}



.joypixels-32-travel._1f387 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    10%;
}



.joypixels-32-travel._1f386 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    20%;
}



.joypixels-32-travel._1f307 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    30%;
}



.joypixels-32-travel._1f306 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    40%;
}



.joypixels-32-travel._1f3d9 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    50%;
}



.joypixels-32-travel._1f303 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    60%;
}



.joypixels-32-travel._1f30c {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    70%;
}



.joypixels-32-travel._1f309 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    80%;
}



.joypixels-32-travel._1f301 {
  background-image: url('/packages/emoji-toolkit/travel-sprites.png');
  background-repeat: no-repeat;
  background-size:
    1200%
    1100%;
  background-position:
    100%
    90%;
}




