html.rtl .attachment {
	direction: rtl;

	& .attachment-block {
		padding-right: 15px;
		padding-left: 0;

		& .attachment-block-border {
			right: 0;
			left: auto;
		}
	}

	& .attachment-thumb {
		padding-top: 10px;
		padding-right: 5px;
	}

	& .attachment-download-icon {
		margin-right: 5px;
		margin-left: auto;
	}
}

.attachment {
	& .attachment-block {
		position: relative;

		margin: 5px 0;
		padding-left: 15px;

		& .attachment-block-border {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;

			width: 4px;

			border-radius: 8px;
		}
	}

	& .attachment-author {
		font-size: 0.95rem;
		font-weight: 600;
		line-height: 1.2rem;

		& > a {
			font-weight: 600;
		}

		& img {
			max-width: 16px;
			max-height: 16px;
			margin-right: 2px;
			margin-bottom: -2px;
		}

		& .time {
			font-size: 0.8em;
			font-weight: normal;
		}
	}

	& .attachment-title {
		font-size: 1.02rem;
		font-weight: 500;
		line-height: 1.5rem;

		& > a {
			font-weight: 500;
		}
	}

	& .attachment-text {
		padding: 3px 0;

		line-height: 1rem;
	}

	& .attachment-image {
		margin-top: 4px;

		line-height: 0;
	}

	& .attachment-fields {
		margin-top: 4px;

		& .attachment-field {
			&.attachment-field-short {
				display: inline-block;

				margin-right: 12px;
			}

			& .attachment-field-title {
				font-weight: 600;
				line-height: 1rem;
			}
		}
	}

	& .attachment-field ~ .attachment-field {
		margin-top: 8px;
	}

	& .attachment-thumb {
		padding-top: 5px;
		padding-right: 10px;

		line-height: 0;

		& img {
			max-width: 100px;
		}
	}

	& .attachment-flex {
		display: flex;
		align-items: flex-start;

		& .attachment-flex-column-grow {
			flex-grow: 1;
		}
	}

	& .attachment-small-content {
		max-width: 700px;
	}

	& .attachment-download-icon {
		margin-left: 5px;
		padding: 2px 5px;

		border-width: 1px;
		border-radius: 5px;
	}
}
