.rc-directory {
	display: flex;
	flex-direction: column;

	height: 100vh;

	padding: 1.25rem 2rem;

	&-fields {
		display: flex;
		flex-direction: row;

		height: 89px;

		margin-right: -5px;
		margin-left: -5px;

		padding: 10px 0;
	}

	&-dropdown {
		height: 48px;
	}

	&-search {
		height: 48px;

		margin-right: 5px;
		margin-left: 5px;

		& .rc-icon {
			width: 0.875rem;
		}
	}

	&-topic {
		color: var(--rc-color-primary-light);
	}
}

.rc-directory-icon {
	color: var(--color-dark-light);
}

.rc-table-content {
	display: flex;
	overflow-x: auto;
	flex-direction: column;
	flex: 1 1 100%;

	height: 100vh;

	& .js-sort {
		cursor: pointer;

		&.is-sorting .table-fake-th .rc-icon {
			opacity: 1;
		}
	}

	& .table-fake-th {
		&:hover .rc-icon {
			opacity: 1;
		}

		& .rc-icon {
			transition: opacity 0.3s;

			opacity: 0;

			font-size: 1rem;
		}
	}
}

.rc-directory-td--users {
	overflow: hidden;

	width: 80px;

	white-space: nowrap;
	text-overflow: ellipsis;
}

@media (width <= 700px) {
	.rc-table-content {
		& th:not(:first-child),
		& td:not(:first-child) {
			display: none;
		}
	}
}
