:root {
	--create-channel-gap-between-elements: 2.5rem;
}

.create-channel {
	animation-name: fadeIn;
	animation-duration: 1s;

	&__header,
	&__switches,
	&__inputs,
	& .rc-input:not(:last-child) {
		margin-bottom: var(--create-channel-gap-between-elements);
	}

	&__title {
		padding: 0.25rem 0;

		color: var(--color-darkest);

		font-size: 1.375rem;
	}

	&__description {
		padding: 0.25rem 0;

		color: var(--color-gray);

		font-size: 0.875rem;
	}

	&__switches {
		display: flex;
	}

	& .rc-switch {
		width: 50%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
