:root {
	--create-channel-gap-between-elements: 2.5rem;
}

.create-channel {
	&__header,
	&__switches,
	&__inputs,
	& .rc-input:not(:last-child) {
		margin-bottom: var(--create-channel-gap-between-elements);
	}

	&__title {
		color: #1f2329;
		font-size: 1.375rem;
		font-weight: 400;
		padding: 0.25rem 0;
	}

	&__description {
		font-size: 0.875rem;
		color: #9ea2a8;
		padding: 0.25rem 0;
	}

	&__switches {
		display: flex;
	}

	& .rc-switch {
		width: 50%;
	}
}
