.rc-directory {
	display: flex;
	flex-direction: column;

	padding: 0 1.5rem;

	&-search {
		width: 100%;

		& .rc-icon {
			width: 0.875rem;
		}
	}

	& .rc-header {
		padding: 1.25rem 0.5rem 0.75rem;

		&__wrap {

			padding: 0.75rem 0;

			box-shadow: none;
		}

		&__block {
			font-size: 1.375rem;
		}
	}
}

.rc-directory-channel {
	&-wrapper {
		display: flex;

		overflow: hidden;

		align-items: center;
	}

	&-avatar {
		flex: 0 0 auto;

		width: 32px;
		height: 32px;
		padding: 3px;

		background-repeat: no-repeat;
		background-position: center center;

		background-size: contain;
	}

	&-info {
		display: flex;

		overflow: hidden;

		flex-direction: column;

		width: 1%;

		white-space: nowrap;

		text-overflow: ellipsis;
		flex-grow: 1;
	}

	&-name {
		overflow: hidden;

		white-space: nowrap;

		text-overflow: ellipsis;

		& .rc-icon {
			font-size: 1rem;
		}
	}

	&-description {

		overflow: hidden;

		max-width: 200px;
		margin-top: 0.625rem;

		text-overflow: ellipsis;

		color: var(--rc-color-primary-light);
	}

	&-createdAt {
		text-transform: capitalize;
	}
}

.rc-directory-content {
	display: flex;
	overflow-x: auto;
	flex-direction: column;
	flex: 1 1 100%;

	height: 100vh;

	& .js-sort {
		cursor: pointer;

		&.is-sorting .table-fake-th .rc-icon {
			opacity: 1;
		}
	}

	& .table-fake-th {
		&:hover .rc-icon {
			opacity: 1;
		}

		& .rc-icon {
			transition: opacity 0.3s;

			opacity: 0;

			font-size: 1rem;
		}
	}
}

.rc-directory-td--createdAt,
.rc-directory-td--users {
	overflow: hidden;

	width: 120px;

	white-space: nowrap;
	text-overflow: ellipsis;
}

.rc-directory-td--users {
	width: 80px;
}

@media (width <= 500px) {
	.rc-directory-content {
		& thead,
		& td:not(:first-child) {
			display: none;
		}
	}

	.rc-directory {
		&-selector,
		&-search,
		&-plus {
			padding: 0 0.3rem;
		}
	}
}
