.rc-directory {
	display: flex;
	flex-direction: column;

	&-header {
		display: flex;
	}


	/* TODO: -plus and -search should be "globals" */

	&-plus {
		width: 36px;
		min-width: 36px;
		height: 36px;
		min-height: 36px;
		padding: 0;
	}
	&-search {
		max-width: 260px;
	}

	&-selector,
	&-search,
	&-plus {
		margin: 0 0.5rem;
	}
}

.rc-directory-header .rc-input__wrapper {
	padding: 0;
}

.rc-directory-channel {
	&-wrapper {
		display: flex;
		align-items: center;
		margin: 0 -9px;

		overflow: hidden;
	}

	&-avatar {
		width: 40px;
		height: 40px;
		margin: 0 9px;

		flex: 0 0 auto;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&-info {
		display: flex;

		flex-direction: column;
		width: 1%;
		flex-grow: 1;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-name {
		font-size: 1rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-creator {
		margin-top: 0.275rem;
		color: var(--rc-color-primary-light);
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-createdAt {
		text-transform: capitalize;
	}
}

.rc-directory-content {
	overflow-x: hidden;
	overflow-y: scroll;
	flex: 1 1 100%;
	height: 100vh;
	padding: 0 1rem;

	& .js-sort {
		cursor: pointer;
	}
}
.rc-table-td {
	padding: 0.250rem 0;
}

.rc-table-body .rc-table-tr {
	box-shadow: none;
	&:hover {
		box-shadow: 1px 1px 2px 2px rgba(31, 35, 41, 0.08);
		background-color: var(--rc-color-primary-white);
	}
}

.rc-table-td--createdAt,
.rc-table-td--users {
	width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.rc-table-td--users {
	width: 80px;
}

@media (width <= 500px) {
	.rc-directory-content .rc-table-head {
		display: none;
	}

	.rc-directory {
		&-selector,
		&-search,
		&-plus {
			padding: 0 0.3rem;
		}
	}
}
