.rc-directory {
	display: flex;
	flex-direction: column;

	height: 100vh;

	padding: 0 1.5rem;

	&-search {
		width: 100%;

		& .rc-icon {
			width: 0.875rem;
		}
	}

	&-topic {
		color: var(--rc-color-primary-light);
	}
}

.rc-directory-icon {
	color: var(--color-dark-light);
}

.rc-directory-banner {
	width: 100%;
	margin: auto;
	padding: 3px 0;

	text-align: center;

	background-color: var(--rc-color-alert);
	box-shadow: 0 1px 2px 0 rgba(31, 35, 41, 0.08);

	font-family: inherit;
	font-size: inherit;
	font-weight: lighter;
	font-style: oblique;
}

.rc-table-content {
	display: flex;
	overflow-x: auto;
	flex-direction: column;
	flex: 1 1 100%;

	height: 100vh;
	padding: 0 1rem;

	& .js-sort {
		cursor: pointer;

		&.is-sorting .table-fake-th .rc-icon {
			opacity: 1;
		}
	}

	& .table-fake-th {
		&:hover .rc-icon {
			opacity: 1;
		}

		& .rc-icon {
			transition: opacity 0.3s;

			opacity: 0;

			font-size: 1rem;
		}
	}
}

.rc-directory-td--users {
	overflow: hidden;

	width: 80px;

	white-space: nowrap;
	text-overflow: ellipsis;
}

@media (width <= 700px) {
	.rc-table-content {
		& th:not(:first-child),
		& td:not(:first-child) {
			display: none;
		}
	}
}
