<template name="CreateThread">

	<section class="create-channel">
		<div class="create-channel__wrapper">
			<p class="create-channel__description">{{_ "Threading_description"}}</p>
			<form id="create-thread" class="create-channel__content">
				{{#unless disabled}}
				{{> SearchCreateThread
					onClickTag=onClickTagRoom
					deleteLastItem=deleteLastItemRoom
					list=selectedRoom
					onSelect=onSelectRoom
					collection=roomCollection
					field='name'
					sort='name'
					label="Thread_target_channel"
					placeholder="Thread_target_channel_description"
					name="parentChannel"
					disabled=disabled
					selector=roomSelector
					description=targetChannelText
					noMatchTemplate="roomSearchEmpty"
					templateItem="popupList_item_channel"
					modifier=roomModifier
				}} {{else}}
					<div class="rc-input" disabled>
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Thread_target_channel"}}</div>
							<div class="rc-input__wrapper">
								<input disabled name="parentChannel" id="parentChannel" value={{parentChannel}} class="rc-input__element" />
							</div>
						</label>
					</div>
				{{/unless}}
				{{> SearchCreateThread
					onClickTag=onClickTagUser
					deleteLastItem=deleteLastItemUser
					list=selectedUsers
					onSelect=onSelectUser
					collection='UserAndRoom'
					subscription='userAutocomplete'
					field='username'
					sort='username'
					label="Invite_Users"
					placeholder="Username_Placeholder"
					name="users"
					icon="at"
					noMatchTemplate="userSearchEmpty"
					templateItem="popupList_item_default"
					modifier=userModifier
				}}
				<div class="create-channel__inputs">
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Thread_name"}}</div>
							<div class="rc-input__wrapper">
								<div class="rc-input__icon">
									{{> icon block="rc-input__icon-svg" icon="thread"}}
								</div>
								<input name="thread_name" id="thread_name" class="rc-input__element" placeholder="{{_ 'New_thread_name'}}"
									maxlength="{{maxMessageLength}}" value="{{channelName}}"/>
							</div>
						</label>
					</div>
					<div class="rc-input">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Threading_first_message_title"}}</div>
							<div class="rc-input__wrapper">
								<textarea name="thread_message" id="thread_message" class="rc-input__element" placeholder="{{_ 'New_thread_first_message'}}"
									maxlength="{{maxMessageLength}}"></textarea>
							</div>
						</label>
					</div>
				</div>
			</form>
			<div class="rc-input">
				<button form="create-thread" class="rc-button rc-button--primary js-save-thread {{createIsDisabled}}" {{createIsDisabled}}>{{_ " Create "}}</button>
			</div>
		</div>
	</section>
</template>

<template name="SearchCreateThread">
	<div class="rc-input" id='search-{{name}}' {{disabled}}>
		<label class="rc-input__label">
			<div class="rc-input__title">{{_ label}}</div>
			<div class="rc-input__wrapper">
				{{# if icon}}
				<div class="rc-input__icon">
					{{> icon block="rc-input__icon-svg" icon=icon}}
				</div>
				{{/if}}
				<div class="rc-tags{{# unless icon}} rc-tags--no-icon{{/unless}}">
					{{#each item in list}} {{> tag item}} {{/each}}
					<input type="text" id="{{name}}" class="rc-tags__input" placeholder="{{_ placeholder}}" name="{{name}}" autocomplete="off" {{disabled}} />
				</div>
			</div>
			{{#with config}} {{#if autocomplete 'isShowing'}}
			<div class="fadeInDown">
				{{> popupList data=config items=items}}
			</div>
			{{/if}} {{/with}}
		</label>
		<div class="rc-input__description">{{ description }}</div>
	</div>
</template>
