<template name="userSettingsFlex">
	<header>
		<div>
			<h4>{{_ "My_Account"}}</h4>
		</div>
	</header>
	<div class="content">
		<div class="wrapper">
			<ul>
				<li>
					<a href="{{pathFor 'userSettings' group='profile'}}">{{_ "Profile"}}</a>
					{{!-- <a href="{{pathFor 'userSettings' group='account'}}">{{_ "Account_Settings"}}</a> --}}
					{{!-- <a href="{{pathFor 'userSettings' group='notification'}}">{{_ "Notification"}}</a> --}}
					<a href="{{pathFor 'changeAvatar'}}">{{_ "Change_avatar"}}</a> {{!-- move this to profile --}}
				</li>
			</ul>
		</div>
	</div>
</template>
