<template name="userSettingsProfile">
	<fieldset>
		<div class="input-line">
			<label for="language">{{_ "Language"}}</label>
			<div>
				<select id="language" class="required">
					{{#each languages}}
					<option value="{{key}}" selected="{{userLanguage key}}" dir="auto">{{name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class="input-line">
			<label for="password">{{_ "Password"}}</label>
			<div>
				<input type="password" name="password" id="password" />
			</div>
		</div>
		<div class="input-line">
			<div class="input-line">
				<label for="showUTC"></label>
				<div>
					<label><input type="checkbox" name="showUTC" id="showUTC" value="1" /> {{_ "Show_UTC"}}</label>
				</div>
			</div>
		</div>
	</fieldset>
</template>