<template name="userSettings-general">
	<section class="page-container page-home page-static">
		<head class="fixed-title">
			{{> burger}}
			<h2>
				<span class="room-title">{{_ "General"}}</span>
			</h2>
		</head>
		<div class="content">
			<div class="info">
				<h3>{{_ "General"}}</h3>
				<h3>{{_ "General"}}</h3>
			</div>
			<div class="rocket-form">
				<fieldset>
					
				</fieldset>
				<div class="submit">
					<button class="button"><i class="icon-send"></i><span>{{_ "Save_changes"}}</span></button>
				</div>
			</div>
		</div>
	</section>
</template>