.emoji {
	position: relative;

	display: inline-block;
	overflow: hidden;

	width: 22px;
	height: 22px;
	margin: 0 0.15em;

	vertical-align: middle;
	white-space: nowrap;
	text-indent: 100%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	font-size: inherit;
	line-height: normal;
	image-rendering: auto;
}

.emoji.big {
	width: 44px !important;
	height: 44px !important;
}
