.rocket-search {
	padding: 0 !important;
}

.defaultProvider {
	padding: 24px;
}

.rocket-search-tab {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.rocket-default-search-results {
	overflow: auto;
	overflow-x: hidden;
}

.rocket-search-result {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.rocket-default-search-settings {
	padding-bottom: 20px;
}

.rocket-default-search-results .list .message {
	padding-left: 70px !important;
	padding-right: 8px !important;
}

.rocket-search-error {
	padding: 0 24px;
}

.rocket-default-search-results .js-list {
	overflow: hidden;
}

#rocket-search-suggestions {
	position: absolute;
	top: 58px;
	left: 24px;
	padding: 10px 0;
	background-color: white;
	right: 24px;
	z-index: 1000;
	box-shadow: 0 1px 10px #aaa;
	border-radius: 0px;
}

.rocket-search-suggestion-item {
	width: 100%;
	cursor: pointer;
}

.rocket-search-suggestion-item.active, .rocket-search-suggestion-item:hover {
	background-color: var(--button-primary-background);
	color: white;
}
