.rocket-default-search-settings {
	margin-bottom: 50px;
}

.rocket-default-search-results .loading-animation {
	margin-top: 10px;
}

.rocket-default-search-results .load-more {
	margin-top: 10px;
	text-align: center;
	position: relative;
}

.rocket-default-search-results .load-more button {
	cursor: pointer;
	text-decoration: underline;
}
