.rocket-searchbox input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.rocket-searchresult {
	margin-top: 20px;
}

.rocket-searchresult .result {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom:10px;
}

#search-admin h2 {
	font-size: 20px;
	padding: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

#search-admin .rocket-form {
	padding: 0 20px;
}

#search-admin h3 {
	margin: 20px 0 10px 0;
}

