.rocket-search {
	padding: 0 !important;
}

.defaultProvider {
	padding: 24px;
}

.rocket-search-tab {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.rocket-default-search-results {
	overflow: auto;
	overflow-x: hidden;
}

.rocket-search-result {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.rocket-default-search-settings {
	padding-bottom: 20px;
}

.rocket-default-search-results .list .message {
	padding-left: 70px !important;
	padding-right: 8px !important;
}
