{
  "extends": ["@rocket.chat/eslint-config", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "globals": {
    "__meteor_bootstrap__"        : false,
    "__meteor_runtime_config__"   : false,
    "Assets"                      : false,
    "chrome"                      : false,
    "jscolor"                     : false
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "warnOnUnsupportedTypeScriptVersion": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "legacyDecorators": true
    }
  },
  "plugins": ["react", "@typescript-eslint"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-fragments": ["error", "syntax"],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/interface-name-prefix": ["error", "always"],
    "no-useless-constructor": ["off", {
      "extensions": ".d.ts"
    }],
    "@typescript-eslint/no-useless-constructor": ["off", {
      "extensions": ".d.ts"
    }],
    "@typescript-eslint/camelcase": ["off", {
      "extensions": ".js"
    }],
    "@typescript-eslint/no-this-alias": ["off", {
      "extensions": ".js"
    }],
    "@typescript-eslint/no-empty-function": ["off", {
      "extensions": ".js"
    }],
    "@typescript-eslint/no-var-requires": ["off", {
      "extensions": ".js"
    }],
    "prefer-spread": ["off", {
      "extensions": ".js"
    }],
    "@typescript-eslint/class-name-casing": ["off", {
      "extensions": ".js"
    }],
    "@typescript-eslint/explicit-function-return-type": ["off", {
      "extensions": ".js"
    }],
    "@typescript-eslint/no-unused-vars": ["off", {
      "extensions": ".js"
    }],
    "@typescript-eslint/no-use-before-define": ["off", {
      "extensions": ".js"
    }],
    "import/export": ["off", {
      "extensions": ".js"
    }],
    "complexity": ["off", {
      "extensions": ".js"
    }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect",
    },
  },
}
