node_modules
packages/autoupdate/
packages/meteor-streams/
packages/meteor-timesync/
packages/rocketchat-emoji-emojione/generateEmojiIndex.js
packages/rocketchat-favico/favico.js
packages/rocketchat-katex/client/katex/katex.min.js
packages/rocketchat-livechat/app/node_modules
packages/rocketchat-livechat/assets/rocketchat-livechat.min.js
packages/rocketchat-migrations/
packages/rocketchat-theme/client/minicolors/jquery.minicolors.js
packages/rocketchat-ui/lib/customEventPolyfill.js
packages/rocketchat-ui/lib/Modernizr.js
packages/rocketchat-ui/lib/recorderjs/recorder.js
packages/rocketchat-ui/lib/textarea-autogrow.js
packages/rocketchat-videobridge/client/public/external_api.js
packages/rocketchat-theme/client/vendor/
private/moment-locales/
public/livechat/
public/recorderWorker.js
