public/recorderWorker.js
lib/ua-parser.min.js
private/moment-locales/
packages/autoupdate/
packages/meteor-streams/
packages/meteor-timesync/
packages/rocketchat-migrations/
packages/rocketchat-katex/client/katex/katex.min.js
packages/rocketchat-favico/favico.js
packages/rocketchat-theme/client/minicolors/jquery.minicolors.js
packages/rocketchat-emojione/generateEmojiIndex.js
packages/rocketchat-ui/lib/Modernizr.js
packages/rocketchat-ui/lib/clipboardjs/clipboard.js
packages/rocketchat-ui/lib/jquery.swipebox.min.js
packages/rocketchat-ui/lib/particles.js
packages/rocketchat-ui/lib/recorderjs/recorder.js
packages/rocketchat-ui/lib/textarea-autogrow.js
packages/rocketchat-ui/lib/customEventPolyfill.js
packages/rocketchat-ui/lib/constallation.js
packages/rocketchat-livechat/client/lib/ua-parser.js
packages/rocketchat-livechat/public/livechat.js
packages/rocketchat-livechat/public/external.js
packages/rocketchat-autolinker/lib/Autolinker.min.js
packages/rocketchat-livechat/lib/ua-parser.js
packages/rocketchat-videobridge/client/public/external_api.js
