 .phone-call-buttons {
     display: -webkit-flex;
     display: -moz-flex;
     display: flex;
     button {
         -webkit-flex-grow: 1;
         -moz-flex-grow: 1;
         flex-grow: 1;
     }
 }

 .green-hook {
     background-color: green !important;
 }

 .red-hook {
     background-color: red !important;
 }

 .dialkey {
     width: 33%;
 }

 .phone-display {
     text-align: right;
 }

 .phonestream {
     width: 100%;
     visibility: hidden;
 }

 .phone-notifications {
     display: none;
     text-align: center;
 }
