:root {
	--header-min-height: 30px;
	--footer-min-height: 55px;
	--link-font-color: #008ce3;
	--primary-font-color: #444444;
	--secondary-font-color: #7f7f7f;
	--info-font-color: #aaaaaa;
}

.flex-list {
	.active {
		background-color: rgba(255, 255, 255, 0.075);
	}
}

.trigger-option,
.trigger-value {
	display: inline-block;
	float: left;
}

.trigger-option {
	width: 30%;
	max-width: 300px;
	padding-right: 4px;
}

.trigger-value {
	width: 70%;

	textarea,
	input,
	select {
		display: block !important;

		width: auto !important;
		min-width: 50%;
		margin-bottom: 4px;
	}
}

.livechat-code {
	width: 90%;
	max-width: 750px;

	text-align: right;

	textarea {
		display: block;

		width: 100%;
		height: 200px;

		margin-bottom: 1rem;

		text-align: left;

		background-color: #efefef;

		font-family: courier;
		font-size: 12px;
	}
}

.preview-mode {
	width: auto;
	margin-bottom: 1em;
}

.livechat-content {
	display: flex;
	flex-direction: row;

	max-width: 960px;
}

.department-agents {
	list-style-type: none;

	li {
		display: inline-block;

		margin: 1px 0;
		padding: 2px 8px 2px 2px;

		cursor: pointer;

		border-radius: 10px;
		background-color: #dddddd;

		.icon-plus-circled {
			opacity: 0.5;

			font-size: 0.8rem;
		}
	}
}

.agent-info {
	input[type='text'] {
		width: auto;
		height: 24px;

		line-height: 24px;
	}
}

.visitor-custom-fields {
	padding: 0 20px;
}

.visitor-navigation,
.visitor-custom-fields {
	.visitor-scroll {
		overflow-y: auto;

		height: 130px;
		margin-top: 4px;
		margin-bottom: 20px;
		padding: 4px;

		border: 1px solid #e7e7e7;
		border-radius: 4px;

		ul {
			li {
				white-space: nowrap;

				a {
					display: block;
					overflow: hidden;

					text-decoration: underline;
					text-overflow: ellipsis;

					color: var(--secondary-font-color);

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.livechat-section {
	margin-bottom: 22px;
}

.livechat-status {
	color: #9d9fa3;

	font-size: 20px;
	line-height: 18px;
}

.external-message {
	position: relative;

	padding: 10px;

	&::after {
		position: absolute;
		right: 10px;
		bottom: 0;
		left: 10px;

		content: " ";

		border-bottom: 1px solid #cccccc;
	}
}

.user-view {
	li {
		color: var(--secondary-font-color);

		font-size: 12px;
		font-weight: 300;
		line-height: 18px;
	}

	nav.centered-buttons {
		margin-bottom: 1em;

		text-align: center;

		button {
			display: inline-block;

			width: auto;
		}
	}
}

.rooms-list {
	.inquiries {
		.opt {
			display: none;
		}
	}
}

.visitor-edit {
	h3 {
		margin-bottom: 8px;

		font-size: 24px;
		line-height: 22px;
	}
}

.queue-department {
	.show-offline {
		vertical-align: middle;
	}
}

.lc-analytics-table {
	display: flex;

	height: 100%;

	min-height: 300px;
	flex-flow: column;
}

.lc-analytics-flex-container {
	position: relative;

	display: flex;

	height: 100%;
	flex-flow: row;
}

.lc-analytics-chart-col {
	position: relative;

	flex: 66.66666%;

	max-width: 66.66666%;
	max-height: 100%;
	padding-right: 2px;
}

.lc-chart-ov-content {
	overflow: auto;
}

.lc-analytics-chart-ov-col {
	position: relative;

	flex: 33.33333%;

	max-width: 33.33333%;
	height: 100%;

	padding-left: 2px;
}

.lc-chart-section {
	position: relative;

	height: 100%;
	max-height: 100%;
}

.lc-chart-section-content {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.border-component-td {
	padding: 0.5rem;
}

.lc-analytics-chart-container {
	position: relative;

	flex: auto;
}

.lc-analytics-header {
	float: right;

	& > .lc-date-picker-btn {
		position: relative;

		padding-top: 23px;

		color: #383838;

		font-size: inherit;
		font-weight: inherit;

		.fade {
			color: #9ea2a8;
		}
	}
}

.lc-analytics-overview {
	display: flex;

	margin-top: 10px;
	margin-bottom: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.lc-analytics-ov-col {
	flex: 25%;

	max-width: 25%;
	min-height: 20px;

	&.-full-width {
		max-width: 100%;
	}

	&:not(:last-child) {
		border-right: 1px solid #e9e9e9;
	}
}

.lc-analytics-ov-case {
	width: 100%;
	margin-bottom: 20px;

	user-select: text;
	text-align: center;

	&:first-child {
		margin-top: 8px;
	}

	&.-standalone {
		& > .title {
			display: inline-block;

			margin-top: 1px;

			text-transform: none;

			font-size: 0.875rem;
			font-weight: 300;
		}

		& > .value {
			margin-bottom: 6px;

			font-size: 1.75rem;
		}
	}

	& > .title {
		display: inline-block;

		margin-top: 8px;

		text-transform: uppercase;

		color: #9ea2a8;

		font-size: 0.875rem;
		font-weight: 300;
	}

	& > .value {
		display: inline-block;

		width: 100%;

		text-transform: capitalize;

		color: #383838;

		font-size: 1.75rem;
		font-weight: 400;
		line-height: 1;
	}
}

@media screen and (max-width: 925px) {
	.lc-analytics-ov-case {
		& > .title {
			font-size: 0.5rem;
		}

		& > .value {
			font-size: 1rem;
		}
	}

	.lc-analytics-flex-container {
		flex-flow: column;
	}

	.lc-analytics-chart-col {
		flex: 100%;

		max-width: 100%;
		max-height: 100%;
		padding-right: 0;
		padding-bottom: 2px;
	}

	.lc-analytics-chart-ov-col {
		flex: 100%;

		max-width: 100%;
		max-height: 100%;
		padding-top: 2px;
		padding-left: 0;
	}
}

@media screen and (max-width: 800px) {
	.lc-analytics-ov-case {
		& > .title {
			font-size: 0.875rem;
		}

		& > .value {
			font-size: 1.75rem;
		}
	}

	.lc-analytics-flex-container {
		flex-flow: row;
	}

	.lc-analytics-chart-col {
		flex: 66.66666%;

		max-width: 66.66666%;
		max-height: 100%;
		padding-right: 2px;
		padding-bottom: 0;
	}

	.lc-analytics-chart-ov-col {
		flex: 33.33333%;

		max-width: 33.33333%;
		max-height: 100%;
		padding-top: 0;
		padding-left: 2px;
	}
}

@media screen and (max-width: 600px) {
	.lc-analytics-ov-case {
		& > .title {
			font-size: 0.5rem;
		}

		& > .value {
			font-size: 1rem;
		}
	}

	.lc-analytics-flex-container {
		flex-flow: column;
	}

	.lc-analytics-chart-col {
		flex: 100%;

		max-width: 100%;
		max-height: 100%;
		padding-right: 0;
		padding-bottom: 2px;
	}

	.lc-analytics-chart-ov-col {
		flex: 100%;

		max-width: 100%;
		max-height: 100%;
		padding-top: 2px;
		padding-left: 0;
	}
}

.lc-monitoring-flex {
	display: flex;

	margin-top: 2px !important;
	margin-bottom: 2px !important;
	flex-wrap: wrap;
}

.lc-monitoring-doughnut-chart {
	flex: 33.33333%;

	max-width: 33.33333%;
	padding: 2px;
}

.lc-monitoring-line-chart {
	flex: 66.66666%;

	max-width: 66.66666%;
	padding: 2px;

	& .lc-analytics-ov-col {
		flex: 33.3%;

		max-width: 33.3%;
		min-height: 20px;

		&.-full-width {
			max-width: 100%;
		}

		&:not(:last-child) {
			border-right: 1px solid #e9e9e9;
		}
	}

	& .lc-analytics-overview {
		margin: auto;
	}
}

.lc-monitoring-line-chart-full {
	flex: 66.66666%;

	width: 100%;
	padding: 2px;
}

.lc-monitoring-chart-container {
	min-height: 250px;
}

@media screen and (max-width: 925px) {
	.lc-monitoring-doughnut-chart {
		flex: 100%;

		max-width: 100%;
	}

	.lc-monitoring-line-chart {
		flex: 100%;

		max-width: 100%;
	}

	.lc-monitoring-line-chart-full {
		flex: 100%;

		max-width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.lc-monitoring-doughnut-chart {
		flex: 33.33333%;

		max-width: 33.33333%;
	}

	.lc-monitoring-line-chart {
		flex: 66.66666%;

		max-width: 66.66666%;
	}

	.lc-monitoring-line-chart-full {
		flex: 66.66666%;

		width: 66.66666%;
		max-width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.lc-monitoring-doughnut-chart {
		flex: 100%;

		max-width: 100%;
	}

	.lc-monitoring-line-chart {
		flex: 100%;

		max-width: 100%;
	}

	.lc-monitoring-line-chart-full {
		flex: 100%;

		max-width: 100%;
	}
}

.livechat-group-filters-wrapper {
	display: flex;
}

.livechat-group-filters-container {
	flex: 8 0;
}

.livechat-group-filters-buttons {
	flex: 0 0 auto;

	margin-top: 26px;
	padding-left: 30px;

	& > .rc-button__group {
		margin: 0 5px;
	}
}

.livechat-current-chats-tag-filter-wrapper {
	display: flex;

	& a {
		margin-top: auto;
		margin-bottom: auto;
	}
}

.livechat-current-chats-add-filter-button {
	margin-top: 17px;
}

.external-frame {
	width: 100%;
	height: 100%;
}
