.rc-promtp {
	display: flex;

	min-height: 188px;
	padding: 1rem;

	border-radius: 2px;
	background: #2f343d;
	flex-flow: column wrap;
	justify-content: space-between;

	&--element,
	&--element[disabled] {
		flex: 1 1 auto;

		resize: none;

		color: #cbced1;
		border: none;
		background: none;

		font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
		font-size: 14px;
		line-height: 20px;
	}
}
