<template name="federationFlexTab">
	<div class="content">
		<div class="main-content-flex">
			<section class="page-container page-list flex-tab-main-content">
				<div class="content">
					<div class="section">
						<div class="section-content">
							<div class="group left wrap border-component-color">
								{{#each federationPeerStatuses}}
									<div class="overview-column small">
										<div class="overview-pill" title="{{status}} - {{statusAt}}">
											<div class="status {{status}}"></div>
											<span class="title">{{peer}}</span>
										</div>
									</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</template>
