.message-thread {
	display: flex;

	padding: 0.5rem 0;
	align-items: center;
}

.thread-reply-lm {
	padding: 4px 8px;

	color: #9ea2a8;

	font-size: 12px;
}

.threads-list .empty {
	margin-top: 60px;

	text-align: center;

	color: #7f7f7f;
}

.threads-list .load-more {
	text-align: center;
	text-transform: lowercase;

	font-style: italic;
	line-height: 40px;
}

.threads-list .load-more .load-more-loading {
	color: #aaaaaa;
}
