.message-thread,
.message-discussion {
	display: flex;

	padding: 0.5rem 0;
	align-items: center;

	flex-wrap: wrap;
}

.message-thread {
	.reply-counter {
		color: var(--color-gray);
	}
}

.discussion-reply-lm,
.reply-counter {
	color: var(--color-white);

	font-size: 12px;
	font-style: italic;

	flex-grow: 0;
	flex-shrink: 0;
}

.reply-counter {
	font-weight: 600;
	margin-inline-start: 8px;
}

.discussion-reply-lm {
	padding: 4px 8px;

	color: var(--color-gray);
}

.discussions-list .load-more {
	text-align: center;
	text-transform: lowercase;

	font-style: italic;
	line-height: 40px;
}
