.rooms-list {
	overflow-y: auto;

	height: 100%;

	&__list {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	&__type {
		margin-bottom: 0.5rem;
		margin-left: calc(var(--sidebar-default-padding) - calc(var(--sidebar-default-padding) / 3));

		color: var(--rooms-list-title-color);

		font-size: var(--rooms-list-title-text-size);
	}

	&__empty-room {
		margin-left: calc(var(--sidebar-default-padding) - calc(var(--sidebar-default-padding) / 3));

		color: var(--rooms-list-empty-text-color);

		font-size: var(--rooms-list-empty-text-size);
	}

	& .badge {
		margin-left: 8px;
	}

	&__toolbar-search {
		position: absolute;
		z-index: 1;

		left: 0;

		overflow-y: auto;

		width: 100%;
		height: calc(100% - calc(var(--sidebar-header-height) + var(--sidebar-footer-height)));
		padding: 0 8px;

		background-color: var(--sidebar-background);
	}
}

@media (width <= 400px) {
	.rooms-list {
		&__type,
		&__empty-room {
			margin-left: 0;
		}
	}
}
