.rtl .sidebar-item {
	margin: 0 8px 0 0;
}

.sidebar-item {
	position: relative;

	display: flex;

	height: var(--sidebar-item-height);

	margin: 0 0 0 8px;

	padding: 0 calc(var(--sidebar-default-padding) - 8px);

	cursor: pointer;

	border-radius: var(--sidebar-item-radius);
	align-items: center;

	&--active {
		background-color: var(--color-dark-light);
	}

	&--darken {
		&:hover {
			background-color: var(--sidebar-item-darken-hover-background);
		}

		& .sidebar-item__link {
			color: var(--sidebar-item-darken-text-color);
		}
	}

	&--lighten:hover {
		background-color: var(--sidebar-item-lighten-hover-background);
	}

	&__popup-active {
		background-color: var(--sidebar-item-popup-background);
	}

	&__link {
		display: flex;
		overflow: hidden;
		flex: 1;

		margin: 0 -4px;

		color: var(--sidebar-item-text-color);

		font-size: 1rem;
		align-items: center;

		&--active {
			color: var(--sidebar-item-active-text-color);
		}
	}

	& .badge {
		margin: 0 16px 0 3px;
	}

	&__icon {
		font-size: 1.25rem;
		fill: currentColor;
	}

	&__user-thumb {
		width: var(--sidebar-item-thumb-size);
		height: var(--sidebar-item-thumb-size);
	}

	&__user-status {
		position: absolute;

		top: 50%;
		left: 4px;

		width: var(--sidebar-item-user-status-size);
		height: var(--sidebar-item-user-status-size);

		transform: translateY(-50%);

		border-radius: var(--sidebar-item-user-status-radius);

		&--online {
			background-color: var(--status-online);
		}

		&--away {
			background-color: var(--status-away);
		}

		&--busy {
			background-color: var(--status-busy);
		}

		&--offline {
			background-color: var(--status-invisible-sidebar);
		}
	}

	&__picture {
		display: flex;
		flex: 0 0 var(--sidebar-item-thumb-size);

		margin: 0 4px;

		align-items: center;
	}

	&__name {
		overflow: hidden;
		flex: 1;

		margin: 0 4px;

		white-space: nowrap;
		text-overflow: ellipsis;

		font-size: var(--sidebar-item-text-size);
	}
}

.rtl .sidebar-item__user-status {
	right: 4px;
	left: initial;
}

@media (width <= 400px) {
	.sidebar-item {
		padding: 0 calc(var(--sidebar-small-default-padding) - 8px);

		& .badge {
			margin: 0 0 0 3px;
		}

		&__user-status {
			left: 0;
		}
	}

	.rtl .sidebar-item__user-status {
		right: 0;
	}
}
