.sidebar-light {
	& .sidebar__account-username {
		color: var(--color-dark);
	}

	& .sidebar__account-menu {
		fill: var(--color-dark);
	}

	& .sidebar__account.active:hover {
		background-color: var(--sidebar-background-light-hover);
	}
}

.sidebar__account {
	display: flex;

	margin: 0 0 var(--sidebar-extra-small-default-padding);

	padding: var(--sidebar-extra-small-default-padding) var(--sidebar-default-padding);

	transition: background-color 0.3s;

	align-items: center;

	&.active:hover {
		cursor: pointer;

		background-color: var(--sidebar-item-hover-background);
	}

	&-thumb {

		flex: 0 0 var(--sidebar-account-thumb-size);

		width: var(--sidebar-account-thumb-size);
		height: var(--sidebar-account-thumb-size);
		margin: 0 0.5rem 0 0;
	}

	&-data {
		position: relative;

		display: flex;
		overflow: hidden;
		flex-direction: column;
		flex: 1;

		margin: 0 0.5rem;
	}

	&-username {
		overflow: hidden;
		flex: 1;

		max-width: fit-content;
		height: calc(var(--sidebar-account-username-size) + 0.1rem);

		white-space: nowrap;
		text-overflow: ellipsis;

		color: var(--sidebar-account-username-color);

		font-size: var(--sidebar-account-username-size);
		font-weight: var(--sidebar-account-username-weight);
		line-height: calc(var(--sidebar-account-username-size) + 0.1rem);
	}

	&-visual-status {
		max-width: 124px;
		margin-right: 8px;

		user-select: none;

		font-size: var(--sidebar-account-status-font-size);
	}

	&-status {
		display: flex;

		margin: 0 -0.25rem;

		color: var(--sidebar-account-status-color);

		align-items: center;
	}

	&-status-bullet {
		display: block;

		width: var(--sidebar-account-status-bullet-size);
		height: var(--sidebar-account-status-bullet-size);
		margin: 0.25rem;

		border-radius: var(--sidebar-account-status-bullet-radius);

		&--online {
			background-color: var(--status-online);
		}

		&--away {
			background-color: var(--status-away);
		}

		&--busy {
			background-color: var(--status-busy);
		}

		&--invisible {
			background-color: var(--status-invisible);
		}

		&--offline {
			background-color: var(--status-invisible);
		}
	}

	&-label {

		position: relative;

		padding: 0;

		cursor: pointer;

		&:hover .sidebar__account-menu {
			fill: var(--sidebar-account-status-color);
		}
	}

	&-menu {
		transition: fill 0.2s;

		font-size: 1.375rem;

		fill: var(--sidebar-account-username-color);
	}

	& .rc-popover {
		top: 40px;
		left: 0;
	}
}

.rtl .sidebar__account .rc-popover {
	right: 0;
	left: initial;
}

@media (width <= 400px) {
	.sidebar__account {
		margin: 0 0 5px;
		padding: var(--sidebar-header-small-padding) calc(var(--sidebar-small-default-padding) - 8px) var(--sidebar-header-small-padding);

		&-thumb {

			flex: 0 0 var(--sidebar-small-account-thumb-size);

			width: var(--sidebar-small-account-thumb-size);
			height: var(--sidebar-small-account-thumb-size);
		}

		&-data {
			flex-direction: row;

			margin: 0;
			align-items: center;
		}

		&-username {
			width: auto;
			margin: 0 0.65rem;

			font-weight: var(--sidebar-small-account-username-weight);
		}

		&-visual-status {
			display: none;
		}

		&-status-bullet {
			width: var(--sidebar-small-account-status-bullet-size);
			height: var(--sidebar-small-account-status-bullet-size);
			margin: 0;
		}
	}
}

.rc-popover--account {
	& [data-type="set-state"] {
		& .rc-icon {
			font-size: var(--sidebar-account-status-bullet-size);
		}

		&.rc-popover__item {
			&--online {
				& .rc-icon {
					color: var(--status-online);
				}
			}

			&--away {
				& .rc-icon {
					color: var(--status-away);
				}
			}

			&--busy {
				& .rc-icon {
					color: var(--status-busy);
				}
			}

			&--offline {
				& .rc-icon {
					color: var(--status-invisible);
				}
			}
		}
	}
}
