.sidebar-light {
	& .sidebar-item {
		color: var(--color-dark);

		&:hover {
			background-color: var(--sidebar-background-light-hover);
		}

		&__picture {
			color: inherit;
		}
	}
}

.sidebar--big {
	& > .rooms-list,
	& .rooms-list__toolbar-search {
		& .sidebar-item {
			height: var(--sidebar-item-big-height);

			&__picture {
				flex: 0 0 var(--sidebar-item-big-thumb-size);

				width: var(--sidebar-item-big-thumb-size);
				height: var(--sidebar-item-big-thumb-size);
			}

			&__icon {
				margin: 0 auto;
			}

			&__room-type {
				height: var(--sidebar-item-big-height);
			}

			&__user-thumb {
				width: var(--sidebar-item-big-thumb-size);
				height: var(--sidebar-item-big-thumb-size);
			}

			&__message {
				flex-direction: column;
				height: var(--sidebar-item-big-thumb-size);

				&-top,
				&-bottom {
					display: flex;

					width: 100%;
					align-items: center;
				}
			}
		}
	}
}

.sidebar-item {
	position: relative;

	display: flex;

	height: var(--sidebar-item-height);

	padding: 0 var(--sidebar-default-padding);

	cursor: pointer;

	transition: all 0.3s;

	color: var(--sidebar-item-text-color);

	border-radius: var(--sidebar-item-radius);

	background-color: var(--sidebar-item-background);

	align-items: stretch;

	&:hover {
		background-color: var(--sidebar-item-hover-background);

		& .sidebar-item__menu {
			display: block;
		}
	}

	&--active {
		background-color: var(--sidebar-item-active-background);
	}

	&--unread,
	&--mention {
		color: var(--sidebar-item-unread-color);
	}

	&__popup-active {
		background-color: var(--sidebar-item-popup-background);
	}

	&__link {
		display: flex;
		overflow: hidden;
		flex: 1;

		margin: 0 -4px;

		color: inherit;

		font-size: 1rem;
		align-items: center;
	}

	&__icon {
		font-size: 1rem;
		fill: currentColor;
		display: flex;
		align-items: center;
	}

	&__room-type {
		left: 4px;
		font-size: 1rem;
		fill: currentColor;
		display: flex;
		align-items: center;
		position: absolute;
		height: var(--sidebar-item-height);
		color: var(--sidebar-item-text-color);
	}

	&__user-thumb {
		width: var(--sidebar-item-thumb-size);
		height: var(--sidebar-item-thumb-size);
	}

	&__user-status {
		position: absolute;

		top: 50%;
		left: 8px;

		width: var(--sidebar-item-user-status-size);
		height: var(--sidebar-item-user-status-size);

		transform: translateY(-50%);

		border-radius: var(--sidebar-item-user-status-radius);

		&--online {
			background-color: var(--status-online);
		}

		&--away {
			background-color: var(--status-away);
		}

		&--busy {
			background-color: var(--status-busy);
		}

		&--offline {
			background-color: var(--status-invisible-sidebar);
		}
	}

	&__picture {
		display: flex;
		flex: 0 0 var(--sidebar-item-thumb-size);

		height: 20px;

		margin: 0 4px;

		color: var(--sidebar-item-unread-color);
		border-radius: var(--sidebar-item-radius);

		align-items: center;
		justify-content: center;
	}

	&__body {
		display: flex;

		overflow: hidden;
		flex: 1;

		margin: 0 4px;
		align-items: center;
	}

	&__message {
		display: flex;
		overflow: hidden;
		flex-direction: row;
		flex: 1;

		margin: 0 -3px;
		align-items: center;
		justify-content: space-between;

		&-top {
			overflow: hidden;
		}
	}

	&__name {
		overflow: hidden;

		flex: 1;

		margin: 0 3px;

		white-space: nowrap;
		text-overflow: ellipsis;

		font-size: var(--sidebar-item-text-size);

		line-height: 1.2rem;
	}

	&__me {
		text-transform: lowercase;
	}

	&__last-message {
		overflow: hidden;
		flex: 1;

		margin: 0 3px;

		white-space: nowrap;
		text-overflow: ellipsis;

		font-size: 12px;
		line-height: normal;

		& .emojione,
		& .emoji {
			width: 13px !important;
			min-width: 13px;
			height: 13px !important;
			min-height: 13px;
		}

		& > p,
		& code,
		& pre {
			display: inline;

			white-space: unset;
		}

		& br {
			display: none;
		}

		& a {
			pointer-events: none;
		}
	}

	&__time {
		margin: 0 3px;

		color: var(--sidebar-item-text-color);

		font-size: 10px;
	}

	&__menu {
		position: absolute;
		right: 0;

		display: none;
		flex: 0;

		padding: 6px;

		&-icon {
			fill: var(--color-white);
		}
	}

	& .mention-link {
		color: inherit;
		background: transparent;
	}
}

.rtl .sidebar-item {
	&__menu {
		right: auto;
		left: 0;
	}

	&__user-status {
		right: 8px;
		left: initial;
	}

	&__room-type {
		right: 4px;
		left: initial;
	}
}

@media (width <= 400px) {
	.sidebar-item {
		padding: 0 0 0 var(--sidebar-small-default-padding);

		&__user-status {
			left: 4px;
		}

		&__room-type {
			left: 0;
		}
	}

	.rtl .sidebar-item {
		padding: 0 var(--sidebar-small-default-padding) 0 0;

		&__user-status {
			right: 4px;
		}

		&__room-type {
			right: 0;
		}
	}
}
