<template name="livechatAnalyticsCustomDaterange">
	<div class="rc-popover__column">
		<ul class="rc-popover__list">
			<li class="rc-popover__item">
				<input type="text" placeholder="{{_ "From" }}" class="lc-custom-daterange rc-input__element lc-custom-daterange-from" name="lc-custom-daterange-from" value="{{from}}">
			</li>
			<li class="rc-popover__item">
				<input type="text" placeholder="{{_ "To"}}" class="lc-custom-daterange rc-input__element lc-custom-daterange-to" name="lc-custom-daterange-to" value="{{to}}">
			</li>
			<li class="rc-popover__item">
				<button class="rc-button lc-custom-daterange-submit">{{_ "Ok"}}</button>
			</li>
		</ul>
	</div>
</template>
