.permission-grid {
	border-collapse: collapse;
	// td:nth-child(2n+2) {
	// 	background-color: #FAFAFA;
	// }
	tr:nth-child(even) {
		background-color: #EFEFEF;
		// td:nth-child(2n+2) {
		// 	background-color: #EAEAEA;
		// }
	}
	td:nth-child(n+2) {
		text-align: center;
	}
	td {
		padding: 5px;
		border: 1px solid #E0E0E0;
	}
}
