<template name="settings">
	<section class="page-container page-home page-static">
		<head class="fixed-title">
			<div>
				<div class="burger">
					<i></i>
					<i></i>
					<i></i>
				</div>
				<h2>
					<span class="room-title">{{_ "App_Settings"}}</span>
				</h2>
			</div>
		</head>
		<div class="content">
			<h3>{{_ group.i18nLabel}}</h3>
			<div class="rocket-form">
				<fieldset>
					<legend>
						<!-- <h3>This is another section</h3>
						<p>This is a configuration text. With configuration info</p> -->
					</legend>
					{{#each settings}}
					<div class="input-line double-col">
						<label>{{_ i18nLabel}}</label>
						<div>
							<input type="text" name="input-name" value="{{value}}" />
						</div>
					</div>
					{{/each}}
				</fieldset>
			</div>
		</div>
	</section>
	<section class="flex-tab">
		<div class="control">
			<div class="search-form">
				<div class="input-line search">
					<input type="text" class="search" placeholder={{tSearchSettings}} />
					<i class="icon-plus"></i>
				</div>
			</div>
		</div>
		<div class="content">
			<ul class='list cf_ lines'>
				{{#each groups}}
				<li>
					<a href="{{pathFor 'settings' group=_id}}">{{_ i18nLabel}}</a>
				</li>
				{{/each}}
				{{!-- <li>
				<a href="{{pathFor 'settings' group='authentication'}}">{{_ "Authentication_Methods"}}</a>
			</li>
			<li>
				<a href="{{pathFor 'settings' group='messages'}}">{{_ "Message_Editing_Deleting"}}</a>
			</li>
			<li>
				<a href="{{pathFor 'settings' group='registration'}}">{{_ "Registration"}}</a>
			</li> --}}
		</ul>
	</div>
</section>
</template>
