<template name="CreateDirectMessage">

	<section class="create-channel">
		<div class="create-channel__wrapper">
			<form id="create-dm" class="create-channel__content">
				<div class="create-channel__inputs">
					{{> SearchCreateDiscussion
						onClickTag=onClickTagUser
						deleteLastItem=deleteLastItemUser
						list=selectedUsers
						onSelect=onSelectUser
						collection='UserAndRoom'
						endpoint='users.autocomplete'
						field='username'
						sort='username'
						label="Direct_message_creation_description"
						placeholder="Username_Placeholder"
						name="directMessageUsers"
						icon="at"
						noMatchTemplate="userSearchEmpty"
						templateItem="popupList_item_default"
						modifier=userModifier
					}}
				</div>
			</form>
			<div class="rc-input">
				<button form="create-dm" class="rc-button rc-button--primary js-save-dm {{createIsDisabled}}" {{createIsDisabled}}>{{_ " Create "}}</button>
			</div>
		</div>
	</section>
</template>
