<template name="CreateDirectMessageWhatsapp">

	<section class="create-channel">
		<div class="create-channel__wrapper">
			<form id="create-dm" class="create-channel__content">
				<div class="create-channel__inputs"> 
					<input name="numeroCelular" type="text" maxlength="120" class="rc-input__element" placeholder="{{_ "StatusMessage_Placeholder"}}" autofocus value="">
				</div>
			</form>
			<div class="rc-input">
				<button form="create-dm" class="rc-button rc-button--primary js-save-dm " >{{_ " Create "}}</button>
			</div>
		</div>
	</section>
</template>
