.directory {
	display: flex;
	flex-direction: column;

	height: 100vh;

	padding: 1.25rem 2rem;

	.directory__search-form {
		display: flex;

		margin: 0 -5px;
		flex-flow: row nowrap;

		> * {
			margin: 0 5px;
		}
	}

	.directory__channel-name,
	.directory__user-name,
	.directory__user-count,
	.directory__username,
	.directory__email,
	.directory__domain {
		overflow: hidden;

		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.directory__user-count {
		width: 80px;
	}

	.directory__user-name,
	.directory__username,
	.directory__email,
	.directory__domain {
		min-width: 100px;
	}

	.rc-table-content {
		display: flex;
		overflow-x: auto;
		flex-direction: column;
		flex: 1 1 100%;

		height: 100vh;

		& .js-sort {
			cursor: pointer;

			&.is-sorting .table-fake-th .rc-icon {
				opacity: 1;
			}
		}

		& .table-fake-th {
			&:hover .rc-icon {
				opacity: 1;
			}

			& .rc-icon {
				transition: opacity 0.3s;

				opacity: 0;

				font-size: 1rem;
			}
		}
	}

	@media (width <= 700px) {
		.rc-table-content {
			& th:not(:first-child),
			& td:not(:first-child) {
				display: none;
			}
		}
	}
}
