.edit-status-type.rc-popover {
	&__item {
		&--online {
			color: var(--rc-status-online);
		}

		&--away {
			color: var(--rc-status-away);
		}

		&--busy {
			color: var(--rc-status-busy);
		}

		&--offline {
			color: var(--rc-status-invisible);
		}
	}
}

.edit-status-type-icon {
	&--online {
		& .rc-icon {
			color: var(--rc-status-online);
		}
	}

	&--away {
		& .rc-icon {
			color: var(--rc-status-away);
		}
	}

	&--busy {
		& .rc-icon {
			color: var(--rc-status-busy);
		}
	}

	&--offline {
		& .rc-icon {
			color: var(--rc-status-invisible);
		}
	}
}
