<template name="forwardMessage">
	<section class="forward-message">
		<form class="forward-message__content">
			{{#nrr nrrargs 'messageAttachment' attachment}}{{/nrr}}

			<div class="forward-message__recipients">
				<label>{{_ "Choose_rooms"}}</label><br>
				<div class="rc-tags">
					{{#each room in selected}}
						{{> nameTag room}}
					{{/each}}

					{{> inputAutocomplete settings=autocompleteChannelSettings name="recipients" class="search rc-tags__input" placeholder=(_ "Forward_recipients_placeholder") autocomplete="off"}}
				</div>
			</div>

			<input class="rc-button rc-button--primary" type="submit" data-button="forward" value="{{_ "Forward"}}" {{forwardDisabled}}>
		</form>
	</section>
</template>

<template name='nameTag'>
	<span class="rc-tags__tag">
		<span class="rc-tags__tag-text">{{name}}</span>
		{{> icon block="rc-tags__tag-icon" icon="cross"}}
	</span>
</template>
