<template name="roomsList" >
	<div style="background-color: #F1F1F1 !important; width: 100%; height: 100%;">
		<h1 style="font-size:50px; margin-top: 2%; margin-left: 2%;">Country Name: {{ getParam }}</h1>
		<h3 style="font-size:35px; margin-top: 2%; margin-left: 3%;">List of Rooms: </h3>
		{{#with getRooms}}
		<ul>
			{{#each room in this}}
			<li onmouseover="this.style.backgroundColor='#1F2329';" onmouseout="this.style.backgroundColor='white';"
				style="width: 90%; height: 100px; border:1px solid black; background-color: #a3a3a3; margin: 1% 5% 0% 5%; border-radius: 1%;">
				<a style="color: black;" href="/group/{{room.name}}">
					<div style="display: flex; width: 100%; justify-content: start; align-items: flex-start;">
						<div style="width: 50px;height: 50px;margin-top: 25px;margin-left: 20px;">
							<div class="avatar">
								{{> avatar src=room.name lazy=true}}
							</div>
						</div>
						<div>
							<h1 style="margin-left: 20px;margin-top: 35px;font-size: 24px;">{{room.name}}</h1>
						</div>
					</div>
				</a>
			</li>
			{{/each}}
		</ul>
		{{/with}}
	</div>
</template>

<template name='roomsList'>

</template>
<template name="roomsList" >
	<div style="background-color: #F1F1F1 !important; width: 100%; height: 100%;">
		<h1 style="font-size:50px; margin-top: 2%; margin-left: 2%;">Country Name: {{ getParam }}</h1>
		<h3 style="font-size:35px; margin-top: 2%; margin-left: 3%;">List of Rooms: </h3>
		{{#with getRooms}}
		<ul>
			{{#each room in this}}
			<li onmouseover="this.style.backgroundColor='#1F2329';" onmouseout="this.style.backgroundColor='white';"
				style="width: 90%; height: 100px; border:1px solid black; background-color: #a3a3a3; margin: 1% 5% 0% 5%; border-radius: 1%;">
				<a style="color: black;" href="/group/{{room.name}}">
					<div style="display: flex; width: 100%; justify-content: start; align-items: flex-start;">
						<div style="width: 50px;height: 50px;margin-top: 25px;margin-left: 20px;">
							<div class="avatar">
								{{> avatar src=room.name lazy=true}}
							</div>
						</div>
						<div>
							<h1 style="margin-left: 20px;margin-top: 35px;font-size: 24px;">{{room.name}}</h1>
						</div>
					</div><template name="roomsList" >
						<div style="background-color: #F1F1F1 !important; width: 100%; height: 100%;">
							<h1 style="font-size:50px; margin-top: 2%; margin-left: 2%;">Country Name: {{ getParam }}</h1>
							<h3 style="font-size:35px; margin-top: 2%; margin-left: 3%;">List of Rooms: </h3>
							{{#with getRooms}}
							<ul>
								{{#each room in this}}
								<li onmouseover="this.style.backgroundColor='#1F2329';" onmouseout="this.style.backgroundColor='white';"
									style="width: 90%; height: 100px; border:1px solid black; background-color: #a3a3a3; margin: 1% 5% 0% 5%; border-radius: 1%;">
									<a style="color: black;" href="/group/{{room.name}}">
										<div style="display: flex; width: 100%; justify-content: start; align-items: flex-start;">
											<div style="width: 50px;height: 50px;margin-top: 25px;margin-left: 20px;">
												<div class="avatar">
													{{> avatar src=room.name lazy=true}}
												</div>
											</div>
											<div>
												<h1 style="margin-left: 20px;margin-top: 35px;font-size: 24px;">{{room.name}}</h1>
											</div>
										</div>
									</a>
								</li>
								{{/each}}
							</ul>
							{{/with}}
						</div>
					</template>
					</div>
				</a>
			</li>
			{{/each}}
		</ul>
		{{/with}}
	</div>
</template>
