<template name="livechatCurrentChats">
	{{#requiresPermission 'view-livechat-manager'}}
		<fieldset>
			<form class="form-inline" method="post">
				<div class="form-group">
					<input type="text" placeholder="{{_ "Name"}}" class="rc-input__element" name="name">
				</div>
				<div class="form-group">
					{{> livechatAutocompleteUser
						onClickTag=onClickTagAgent
						list=selectedAgents
						onSelect=onSelectAgents
						collection='UserAndRoom'
						subscription='userAutocomplete'
						field='username'
						sort='username'
						label="Served_By"
						placeholder="Served_By"
						name="agent"
						icon="at"
						noMatchTemplate="userSearchEmpty"
						templateItem="popupList_item_default"
						modifier=agentModifier
					}}
				</div>
				<div class="form-group">
					<div class="rc-select">
						<select class="rc-select__element" name="status">
							<option class="rc-select__option" value="">{{_ "All"}}</option>
							<option class="rc-select__option" value="opened">{{_ "Opened"}}</option>
							<option class="rc-select__option" value="closed">{{_ "Closed"}}</option>
						</select>
						{{> icon block="rc-select__arrow" icon="arrow-down" }}
					</div>
				</div>
				<div class="form-group">
					<div class="rc-select">
						<select class="rc-select__element" name="department">
							<option class="rc-select__option" value="">{{_ "Select_a_department"}}</option>
							{{#each departments}}
								<option class="rc-select__option" value="{{_id}}">{{name}}</option>
							{{/each}}
						</select>
						{{> icon block="rc-select__arrow" icon="arrow-down" }}
					</div>
				</div>
				<div class="form-group input-daterange">
					<input autocomplete="off" type="text" placeholder="{{_ "Date_From"}}" class="rc-input__element" id="from" name="from" >
					<input autocomplete="off" type="text" placeholder="{{_ "Date_to"}}" class="rc-input__element" id="to" name="to">
				</div>
				<div class="form-group">
					<button class="rc-button rc-button--primary">{{_ "Filter"}}</button>
				</div>
			</form>
		</fieldset>
		<div class="rc-table-content">
			{{#table fixed='true' onScroll=onTableScroll onResize=onTableResize onSort=onTableSort}}
				<thead>
					<tr>
						<th width="25%">
							<div class="table-fake-th">{{_ "Name"}}</div>
						</th>
						<th width="15%">
							<div class="table-fake-th">{{_ "Department"}}</div>
						</th>
						<th width="15%">
							<div class="table-fake-th">{{_ "Served_By"}}</div>
						</th>
						<th width="15%">
							<div class="table-fake-th">{{_ "Started_At"}}</div>
						</th>

						<th width="15%">
							<div class="table-fake-th">{{_ "Last_Message_At"}}</div>
						</th>
						<th width="10%">
							<div class="table-fake-th">{{_ "Status"}}</div>
						</th>

						<th width="5%"><div class="table-fake-th">&nbsp;</div></th>
					</tr>
				</thead>
				<tbody>
					{{#each livechatRoom}}
						<tr class="rc-table-tr manage row-link" data-name="{{latest.name}}">

							<td>
								<div class="rc-table-wrapper">
									<div class="rc-table-info">
										<span class="rc-table-title">
											{{fname}}
										</span>
									</div>
								</div>
							</td>
							<td>{{lookupDepartment.name}}</td>
							<td>{{servedBy}}</td>
							<td>{{startedAt}}</td>
							<td>{{lastMessage}}</td>
							<td>{{status}}</td>
							{{#requiresPermission 'remove-closed-livechat-rooms'}}
								{{#if isClosed}}
									<td><a href="#remove" class="remove-livechat-room"><i class="icon-trash"></i></a></td>
								{{else}}
									<td>&nbsp;</td>
								{{/if}}
							{{else}}
								<td>&nbsp;</td>
							{{/requiresPermission}}
						</tr>
					{{/each}}
					{{#unless isReady}}
						<tr class="table-no-click">
							<td colspan="5" class="table-loading-td">{{> loading}}</td>
						</tr>
					{{/unless}}
				</tbody>
			{{/table}}
		</div>
		{{#if hasMore}}
			<div class="rc-button__group">
				<button class="rc-button rc-button--primary js-load-more">{{_ "Load_more"}}</button>
			</div>
		{{/if}}
	{{/requiresPermission}}
</template>
