<template name="livechatDashboard">
  {{#requiresPermission 'view-livechat-manager'}}
    <h1>Dashboard</h1>
    <table class="table-location">
      <tr>
        <th>{{_ "ID"}}</th>
        <th>{{_ "Country"}}</th>
        <th>{{_ "City"}}</th>
        <th>{{_ "Latitude"}}</th>
        <th>{{_ "Longitude"}}</th>
        <th>{{_ "Visits"}}</th>
      </tr>
      {{#each userLocation}}
      <tr data-id="{{_id}}">
        <td>{{_id}}</td>
        <td>{{location.countryName}}</td>
        <td>{{location.city}}</td>
        <td>{{location.latitude}}</td>
        <td>{{location.longitude}}</td>
        <td>{{count}}</td>
      </tr>
      {{/each}}
    </table>
  {{/requiresPermission}}
</template>
