.trigger-option, .trigger-value {
	float: left;
	display: inline-block;
}

.trigger-option {
	width: 30%;
	max-width: 300px;
	padding-right: 4px;
}

.trigger-value {
	width: 70%;

	input {
		display: inline-block !important;
		width: auto !important;
	}
}

.livechat-code {
	height: 200px;
	background-color: #EFEFEF;
	font-family: courier;
	font-size: 12px;
	width: 90%;
	max-width: 750px;
}
