.main-content {
	display: flex;
	flex-direction: column;
}

.rc-audit-empty {
	padding: 1.5rem;

	text-align: center;
}

.rc-select {
	margin: 0.5rem 0;
}

.rc-audit-container {
	overflow-y: scroll;
	flex: 1 1 auto;
}

.rc-audit {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

.rc-audit-form {
	display: flex;

	flex: 0 0 auto;

	padding: var(--header-padding);

	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.rc-input__element[type=date]::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
}

.rc-audit-date {
	flex-grow: 0;
}

.rc-table--audit {
	table-layout: fixed;
}

.rc-table--audit .rc-table-td {
	overflow: hidden;

	padding-right: 0.5rem;

	padding-left: 0.5rem;

	text-overflow: ellipsis;
}

.rc-audit-filter-td {
	width: 200px;
}

.rc-audit-results-td {
	width: 70px;
}

.rc-audit-created-td {
	width: 200px;

	text-align: center;
}

.rc-audit-user-td {
	display: flex;

	min-width: 180px;

	font-size: 16px;
	align-items: center;
}

.rc-audit-user__avatar {
	flex: 0 0 auto;

	width: 48px;
	height: 48px;
}

@media (max-width: 501px) {
	.rc-audit-results-td,
	.rc-audit-user__avatar {
		display: none;
	}
}

.rc-audit-user__username {
	padding: 0 0.5rem;
}

.rc-audit .message .read-receipt,
.rc-audit .message .message-actions,
.rc-audit .message .actionLinks,
.rc-audit .message .rc-button-broadcast,
.rc-audit .message .reactions {
	display: none;
}
