.SetupWizard__Epilogue {
	&.SetupWizard__Epilogue {
		max-width: 930px;
	}

	.SetupWizard__Epilogue-header {
		display: flex;

		margin: 5rem 0;
		align-items: center;
	}

	.SetupWizard__Epilogue-headerLogo {
		height: 1.5rem;
	}

	.SetupWizard__Epilogue-runningHead {
		letter-spacing: 0.05rem;

		text-transform: uppercase;

		font-size: 0.75rem;

		line-height: 1.125rem;
	}

	.SetupWizard__Epilogue-title {
		font-size: 2rem;

		font-weight: 600;

		line-height: 2.6rem;
	}

	.SetupWizard__Epilogue-link {
		margin-bottom: 1.5rem;

		letter-spacing: 0;

		color: var(--rc-color-button-primary);

		font-size: 1rem;

		line-height: 1.5rem;
	}

	.SetupWizard__Epilogue-linkLabel {
		text-transform: uppercase;
	}
}
