.SetupWizard {
	display: flex;

	width: 100%;
	min-height: 100vh;

	background-color: var(--color-dark-05);
	align-items: stretch;

	justify-content: center;

	&__wrapper {
		display: flex;
		flex-flow: column nowrap;
		flex: 1 1 auto;

		height: 100vh;
	}

	&__steps {
		flex: 1 1 auto;
		justify-content: center;
	}
}

@media (width <= 760px) {
	.SetupWizard {
		flex-direction: column;
		justify-content: stretch;
		min-height: 100vh;

		&__wrapper {
			min-height: 0;
		}
	}
}
