.SetupWizard__SideBar {
	.SetupWizard__SideBar-step {
		&::before {
			display: flex;

			width: 1.5rem;
			height: 1.5rem;
			margin: 0 0.5rem;

			content: attr(data-number);

			border-width: 0.0625rem;
			border-radius: 9999px;

			font: inherit;
			font-size: 0.875em;
			align-items: center;
			justify-content: center;
		}

		&::after {
			position: absolute;
			top: 100%;
			left: 1.1875rem;

			display: block;

			width: 0.125rem;
			height: 2rem;

			content: '';

			background-color: var(--color-dark-10);
		}

		&:last-child::after {
			display: none;
		}

		&--past {
			&::before {
				color: var(--rc-color-content);
				border-color: var(--rc-color-button-primary);
				background-color: var(--rc-color-button-primary);
			}

			&::after {
				background-color: var(--rc-color-button-primary);
			}
		}

		.rtl &::after {
			right: 1.1875rem;
			left: auto;
		}
	}
}
