.SetupWizard__StepHeader {
	margin-bottom: 2rem;
}

.SetupWizard__StepHeader-runningHead {
	margin-bottom: 3px;

	letter-spacing: 0.05rem;

	text-transform: uppercase;

	color: var(--color-dark-20);

	font-size: 0.75rem;

	line-height: 1.125rem;
}

.SetupWizard__StepHeader-title {
	letter-spacing: 0.05rem;

	color: var(--color-dark-90);

	font-size: 1.25rem;
	font-weight: 500;

	line-height: 1.75rem;
}
