.SetupWizard__Step {
	display: none;

	flex-direction: column;

	max-width: 350px;
	margin: 2rem auto;

	transition: opacity 1s;

	opacity: 1;

	&--active {
		display: flex;
	}

	&--working {
		opacity: 0.5;
	}
}

@media (width <= 760px) {
	.SetupWizard__Step {
		margin: 0 auto;
	}
}
