<template name="livechatFlex">
	<aside class="sidebar-light sidebar--medium" role="navigation">
		<header class="sidebar-flex__header">
			<h1 class="sidebar-flex__title">{{_ "Livechat"}}</h1>
			{{#unless embeddedVersion}}
				<button class="sidebar-flex__close-button" data-action="close">
					{{> icon block="sidebar-flex__close-icon" icon="cross"}}
				</button>
			{{/unless}}
		</header>
		<div class="rooms-list {{#if embeddedVersion}}rooms-list--embedded{{/if}}">
			<ul class="rooms-list__list">
				{{#each sidebarItems}}
          {{> sidebarItem menuItem title false slug }}
        {{/each}}
			</ul>
		</div>
	</aside>
</template>
