<template name="membersList">
	<div class="content">
		{{#if isGroupChat}}
			{{#if remoteVideoUrl}}
				<div>
					<video class="video-self" src="{{selfVideoUrl}}" autoplay muted></video>
					<div class="videos">
						<video class="" src="{{selfVideoUrl}}" autoplay muted></video>
						{{#each remoteVideoUrl}}
							<video class="" src="{{.}}" autoplay></video>
						{{/each}}
					</div>
				</div>
			{{/if}}
			<div class="list-view{{#if $.Session.get 'showUserInfo'}} -hidden{{/if}}">
				{{#with roomUsers}}
					<div class="status">
						<h2>{{_ "Members_List"}}</h2>
						<p>
							{{{_ "Showing_online_users" total_online=totalOnline total=total}}}
							{{!--<button class="see-all">{{seeAll}}</button>--}}
						</p>
						<div class="group-call-buttons">
							{{#if remoteVideoUrl}}
								<button class="stop-call button red"><i class="icon-stop"></i>{{_ "Stop"}}</button>
							{{else}}
								<button class="start-video-call button"><i class="icon-videocam"></i></button>
								<!-- <button class="start-audio-call button"><i class="icon-phone"></i></button> -->
							{{/if}}
						</div>
						{{#if canAddUser}}
							<div class="control">
								<div class="search-form">
									<div class="input-line search">
										{{> inputAutocomplete settings=autocompleteSettingsAddUser id="user-add-search" class="search" placeholder=tAddUsers}}
										<i class="icon-plus"></i>
									</div>
								</div>
							</div>
						{{/if}}
					</div>
					<ul class='list clearfix lines'>
						{{#each users}}
							<li class='user-image user-card-room status-{{status}}'>
								<a data-username="{{username}}" tabindex="0" title="{{username}}">
									{{> avatar username=username}}
									<p>{{username}} {{utcOffset}}</p>
								</a>
							</li>
						{{/each}}
					</ul>
				{{/with}}
			</div>
		{{/if}}
		<div class="user-view animated{{#unless $.Session.get 'showUserInfo'}} -hidden{{/unless}}">
			{{> userInfo user=flexUserInfo showAll=isGroupChat video=isDirectChat}}
		</div>
	</div>
</template>
