<template name="membersList">
	<div class="content">
		{{#if videoActive}}
			<div>
				<div class="main-video">
					<video src="{{mainVideoUrl}}" autoplay muted="true"></video>
					<div>{{mainVideoUsername}}</div>
				</div>
				<div class="videos">
					<div class="video-item" data-username="$self">
						<video src="{{selfVideoUrl}}" autoplay muted="true"></video>
						{{#unless audioAndVideoEnabled}}
							<div class="video-muted-overlay">
								{{#unless audioEnabled}}
									<i class="icon-mute"></i>
								{{/unless}}
								{{#unless videoEnabled}}
									<i class="icon-eye-off"></i>
								{{/unless}}
							</div>
						{{/unless}}
						<div>{{_ "you"}}</div>
					</div>
					{{#each remoteVideoUrl}}
						<div class="video-item {{#unless connected}}state-overlay{{/unless}}" data-state-text="{{stateText}}" data-username="{{id}}">
							<video src="{{url}}" autoplay></video>
							<div>{{id}}</div>
						</div>
					{{/each}}
				</div>
				<div class="group-call-buttons">
					{{#if videoActive}}
						<button class="stop-call button red"><i class="icon-stop"></i>{{_ "Stop"}}</button>
						{{#if audioEnabled}}
							<button class="disable-audio button" title="{{_ 'Mute'}}"><i class="icon-mute"></i></button>
						{{else}}
							<button class="enable-audio button" title="{{_ 'Unmute'}}"><i class="icon-mic"></i></button>
						{{/if}}
						{{#if videoEnabled}}
							<button class="disable-video button"><i class="icon-eye-off"></i></button>
						{{else}}
							<button class="enable-video button"><i class="icon-eye"></i></button>
						{{/if}}
					{{/if}}
				</div>
			</div>
		{{/if}}
		{{#if isGroupChat}}
			<div class="list-view{{#if $.Session.get 'showUserInfo'}} -hidden{{/if}}">
				{{#with roomUsers}}
					<div class="status">
						<h2>{{_ "Members_List"}}</h2>
						<p>
							{{{_ "Showing_online_users" total_online=totalOnline total=total}}}
							{{!--<button class="see-all">{{seeAll}}</button>--}}
						</p>
						<div class="group-call-buttons">
							{{#unless videoActive}}
								{{#if callInProgress}}
									<button class="join-video-call button secondary"><i class="icon-videocam"></i>{{_ "Join"}}</button>
								{{else}}
									<button class="start-video-call button"><i class="icon-videocam"></i>{{_ "Start"}}</button>
								{{/if}}
								<!-- <button class="start-audio-call button"><i class="icon-phone"></i></button> -->
							{{/unless}}
						</div>
						{{#if canAddUser}}
							<div class="control">
								<div class="search-form">
									<div class="input-line search">
										{{> inputAutocomplete settings=autocompleteSettingsAddUser id="user-add-search" class="search" placeholder=tAddUsers}}
										<i class="icon-plus"></i>
									</div>
								</div>
							</div>
						{{/if}}
					</div>
					<ul class='list clearfix lines'>
						{{#each users}}
							<li class='user-image user-card-room status-{{status}}'>
								<a data-username="{{username}}" tabindex="0" title="{{username}}">
									{{> avatar username=username}}
									<p>{{username}} {{utcOffset}}</p>
								</a>
							</li>
						{{/each}}
					</ul>
				{{/with}}
			</div>
		{{/if}}
		<div class="user-view {{#unless $.Session.get 'showUserInfo'}} -hidden{{/unless}}">
			{{> userInfo user=flexUserInfo showAll=isGroupChat video=isDirectChat}}
		</div>
	</div>
</template>
