<template name="uploadedFilesList">
  <div class="content">
    <div class="list-view">
      <div class="status">
        <h2>{{_ "Room_uploaded_file_list"}}</h2>
      </div>
      {{#if hasFiles }}
        <ul class='list clearfix lines'>
          {{#each files}}
            <li>
              <i class="{{getFileIcon type}}"></i>
              <a title="{{name}}" href="{{url}}" target="_blank">{{name}}</a>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <h2>{{_ "Room_uploaded_file_list_empty"}}</h2>
      {{/if}}
    </div>
  </div>
</template>