<template name="uploadedFilesList">
  <div class="content">
    <div class="list-view">
      <div class="status">
        <h2>{{_ "Room_uploaded_file_list"}}</h2>
      </div>
      {{#if Template.subscriptionsReady}}
        {{#if hasFiles }}
          <ul class='list clearfix lines'>
            {{#each files}}
              <li>
                <i class="{{getFileIcon type}}"></i>
                <a title="{{name}}" href="{{url}}" target="_blank" class="room-file-item {{customClassForFileType}}">{{name}}</a>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <h2>{{_ "Room_uploaded_file_list_empty"}}</h2>
        {{/if}}
      {{else}}
        <span>{{_ "Loading..."}}</span>
      {{/if}}
    </div>
  </div>
</template>
