<template name="selectDropdown">
	<div class="rc-input rc-input--small">
		<label class="rc-input__label">
			<div class="rc-input__title">{{title}}</div>
			<div class="rc-input__wrapper">
				<select type="text" class="rc-input__element" placeholder="{{placeholder}}" name="{{name}}">
					{{#each option in options}}
						{{#if option.selected}}
						<option value={{option.value}} selected>{{option.title}}</option>
						{{else}}
						<option value={{option.value}}>{{option.title}}</option>
						{{/if}}
					{{/each}}
				</select>
			</div>
		</label>
	</div>
</template>
