.modal-separator {
	display: flex;

	text-align: center;
	text-transform: uppercase;

	font-size: 0.625rem;
	font-weight: normal;
}

.modal-separator::before,
.modal-separator::after {
	flex: 1;

	margin: auto 0.8em;

	content: '';

	border-bottom: solid 2px #f2f3f5;
}
