.chip-container {
	list-style-type: none;
	margin: 15px;
}

.chip-container li {
	display: inline-block;
	background-color: #dddddd;
	border-radius: 10px;
	padding: 2px 8px 2px 2px;
	margin: 1px 0;
	cursor: pointer;
}

.chip-container li .icon-plus-circled {
	opacity: 0.5;
	font-size: 0.8rem;
}
