:root {
	--clearfix: {
		clear: both;

		&::after {
			content: "";
			display: table;
			clear: both;
		}
	}

	--fill-all: {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	--flex-center: {
		display: flex;
		align-items: center;
	}

	--small-title: {
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 5px;
		font-weight: 600;
	}

	--rocket-h2: {
		font-weight: 300;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: -0.5px;
		margin: 18px 0;
	}

	--rocket-h3: {
		font-weight: 300;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: -0.5px;
		margin: 18px 0;
	}
}
