*,
*::before,
*::after {
	box-sizing: border-box;
}

.range-slider {
	margin: 0 0 0 0%;
	width: 100%;
}

.range-slider__range {
	-webkit-appearance: none;
	width: calc(100% - (73px));
	height: 10px;
	border-radius: 5px;
	outline: none;
	padding: 0;
	margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
}

.range-slider__value {
	display: inline-block;
	position: relative;
	width: 60px;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	padding: 5px 10px;
	margin-left: 8px;
}

.range-slider__value::after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid;
	border-right: 7px solid;
	border-bottom: 7px solid;
	content: '';
}

::-moz-range-track {
	border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
	border: 0;
}
