// general
.input-line {
	.clearfix;
	display: block;
	margin-bottom: 12px;
	&:nth-last-child(1) {
		margin-bottom: 0;
	}
	&.search {
		.icon-spin {
			position: absolute;
			right: 5px;
			top: 10px;
			font-weight: 400;
			-webkit-animation-name: spin;
			-webkit-animation-duration: 2000ms;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			animation-name: spin;
			animation-duration: 2000ms;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		.icon-search,
		.icon-right-open-small,
		.icon-sort-alt-up,
		.icon-lock,
		.icon-comment {
			position: absolute;
			left: 2px;
			top: 10px;
		}
		input {
			padding-left: 30px;
		}
	}
	> label {
		display: block;
		margin-bottom: 4px;
	}
	> div {
		position: relative;
		.right {
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 10;
		}
	}
	> div.-autocomplete-container {
		position: absolute;
	}
	input[type='text'] {
		display: block;
	}
	&.double-col {
		> label {
			width: 30%;
			float: left;
			margin-bottom: 0;
			padding-right: 20px;
			text-align: right;
			line-height: 15px;
			padding: 10px 20px 10px 0;
		}
		> div {
			float: left;
			width: 70%;
			label {
				display: inline-block;
				margin-right: 4px;
				line-height: 35px;
				&:nth-last-child(1) {
					margin-right: 0;
				}
				input {
					margin-right: 4px;
				}
			}
		}
	}
}

// Admin settings
.page-admin {
	// input
	.input-line {
		input[type='text'],
		textarea {
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid #9e9e9e;
			border-radius: 0;
			outline: none;
			height: 3rem;
			width: 100%;
			font-size: 1rem;
			margin: 0 0 5px 0;
			padding: 0;
			box-shadow: none;
			transition: all 0.3s;
			&:focus {
				border-bottom: 1px solid @primary-background-color;
				+ .icon-search {
					color: @primary-background-color;
				}
			}
			+ label {
				color: #9e9e9e;
				position: absolute;
				top: -5px;
				font-size: .8rem;
			}
		}
		textarea {
			resize: none;
			min-height: 3rem;
			margin-top: 20px !important;
		}
		.settings-description {
			margin-bottom: 12px;
    	display: block;
		}
		&.search {
			.icon-spin {
				top: 15px;
			}
			.icon-search,
			.icon-right-open-small,
			.icon-sort-alt-up,
			.icon-lock,
			.icon-comment {
				top: 15px;
				transition: all 0.3s;
			}
		}
		&.icon {
			input {
				padding-left: 30px;
			}
		}
	}
	.checkbox {
		display: inline-block;
		padding: 10px 10px 10px 0;
		transform: translateZ(0);

		label {
			cursor: pointer;
			padding-left: 0;
		}
		input[type=checkbox] {
			position: absolute;
			z-index: -1;
			left: 0;
			overflow: hidden;
			width: 0;
			height: 0;
			margin: 0;
			pointer-events: none;
			opacity: 0;
			&:focus {
				+ .checkbox-inside {
					.check {
						&::after {
							opacity: 0.2;
						}
					}
				}
			}
			&:checked {
				+ .checkbox-inside {
					.check {
						&::before {
							box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
							animation: checkbox-on 0.3s forwards ease-out;
						}
					}
				}
			}
			&[disabled] {
				&:not(:checked) {
					~ .checkbox-inside {
						.check {
							&::before {
								opacity: 0.5;
							}
						}
					}
				}
				+ .checkbox-inside {
					.check {
						&::after {
							background-color: rgba(0, 0, 0, 0.84);
							transform: rotate(-45deg);
						}
					}
				}
			}
		}
		.checkbox-inside {
			position: relative;
			top: 3px;
			vertical-align: middle;
			&::before {
				position: absolute;
				z-index: 1;
				top: 2px;
				left: 8px;
				width: 4px;
				height: 4px;
				margin: 0;
				content: '';
				opacity: 0;
				border-radius: 100%;
				background-color: rgba(0, 0, 0, .5);
			}
			.check {
				position: relative;
				z-index: 1;
				display: inline-block;
				overflow: hidden;
				width: 20px;
				height: 20px;
				color: @primary-background-color;
				border: 2px solid;
				border-radius: 2px;
				&::before {
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					margin-top: -4px;
					margin-left: 6px;
					content: '';
					transform: rotate(45deg);
					animation: checkbox-off .3s forwards ease-out;
					box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
				}
			}
		}
	}
}

.page-mailer {
	.input-line {
		&:first-child {
			margin-bottom: 0;
		}
	}
}
