.ConnectionStatusBar {
	position: fixed;
	z-index: 1000000;
	top: 0;

	width: 100%;
	padding: 2px;

	text-align: center;

	color: #916302;
	border-bottom-width: 1px;
	background-color: #fffdf9;

	&__retry-link {
		color: var(--color-blue);
	}
}
