.contextual-bar__content {
	&.livestream {
		justify-content: flex-start;
	}

	& .rc-button--stack {
		width: 100%;
	}
}

.thumbnail-container {
	position: relative;

	height: 270px;

	& .popout {
		&--absolute-center {
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 25px);

			font-size: 50px;
		}

		&--play-solid {
			fill: white;
		}
	}
}

.liveStreamTab__form {
	& .rc-switch {
		padding: 15px 5px;
	}

	& .rc-input__label p {
		padding: 10px 0;
	}
}

.livestream--url {
	overflow: hidden;

	margin: 10px 5px;
	padding: 10px 0;

	white-space: nowrap;

	text-overflow: ellipsis;

	font-size: 15px;

	& .current-setting {
		display: inline-block;

		text-decoration: none;

		color: black;
	}

	& .rc-button {
		width: 49%;
	}
}
