.block-kit-debug.debug {
	padding: 1rem;

	border: 1px solid;
}

.block-kit-debug legend {
	display: none;
}

.block-kit-debug.debug legend {
	display: initial;
}

.rc-modal--uikit {
	width: 680px;
	max-width: 100%;
}
