/* General */
@import 'imports/general/variables.css';
@import 'imports/general/reset.css';
@import 'imports/general/base_old.css';
@import 'imports/general/base.css';
@import 'imports/general/animations.css';
@import 'imports/general/react-root.css';

/* Forms */
@import 'imports/general/forms.css';
@import 'imports/forms/button.css';
@import 'imports/forms/input.css';
@import 'imports/forms/select.css';
@import 'imports/forms/popup-list.css';
@import 'imports/forms/switch.css';
@import 'imports/forms/tags.css';
@import 'imports/forms/checkbox.css';

/* Typography */
@import 'imports/general/typography.css';

/* Sidebar */
@import 'imports/components/sidebar/sidebar.css';
@import 'imports/components/sidebar/rooms-list.css';

/* Main */
@import 'imports/components/flex-nav.css';
@import 'imports/components/header.css';
@import 'imports/components/main-content.css';
@import 'imports/components/message-box.css';
@import 'imports/components/avatar.css';
@import 'imports/components/popover.css';
@import 'imports/components/popout.css';
@import 'imports/components/modal.css';
@import 'imports/components/messages.css';
@import 'imports/components/read-receipts.css';
@import 'imports/components/contextual-bar.css';
@import 'imports/components/emojiPicker.css';

/* User Info */
@import 'imports/components/userInfo.css';

/* RTL */
@import 'imports/general/rtl.css';

/* Legacy theming */
@import 'imports/general/theme_old.css';
