/* General */
@import 'imports/general/variables.css';
@import 'imports/general/reset.css';
@import 'imports/general/base_old.css';
@import 'imports/general/base.css';
@import 'imports/general/react-root.css';

/* Forms */
@import 'imports/general/forms.css';
@import 'imports/forms/button.css';
@import 'imports/forms/input.css';

/* Main */
@import 'imports/components/flex-nav.css';
@import 'imports/components/main-content.css';
@import 'imports/components/message-box.css';
@import 'imports/components/modal.css';
@import 'imports/components/messages.css';
@import 'imports/components/emoji.css';
@import 'imports/components/loading.css';

/* Legacy theming */
@import 'imports/general/theme_old.css';
@import '../../theme/client';
@import '../../../node_modules/@rocket.chat/fuselage/dist/fuselage.css';
