/* General */
@import url('imports/general/variables.css');
@import url('imports/general/reset.css');
@import url('imports/general/base_old.css');
@import url('imports/general/base.css');
@import url('imports/general/react-root.css');

/* Main */
@import url('imports/components/flex-nav.css');
@import url('imports/components/emoji.css');
@import url('imports/components/loading.css');

/* Legacy theming */
@import url('imports/general/theme_old.css');
@import url('./rocketchat.font.css');
@import url('../../../node_modules/@rocket.chat/fuselage/dist/fuselage.css');

/* Fix truncation of Livechat transfer comments */
.rcx-message-system__container,
.rcx-message-system__body {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  word-break: break-word;
}

/* Ensure name aligns with top of multiline message */
.rcx-message-system__block {
  align-items: flex-start;
}
