.rc-apps {
	&-settings {
		flex-direction: column;

		&__item {
			padding: 10px 0;
			    width: 100%;
		}
	}

	&-container {
		padding: 25px 0;
		max-width: 705px;
		margin: auto;
    	width: 100%;
		display: flex;
		padding-bottom: 25px;

		&__header {
			border-bottom: 1px solid #E1E1E1;
		}
	}

	&-marketplace {
		padding: 0 24px;
	}

	&-details {
		display: flex;
		padding: 25px;

		&__photo {
			width: 95px;
			height: 95px;
			flex: 0 0 auto;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			border: 1px solid #f7f7f7;
		}

		&__content {
			flex: 1 1 auto;
			justify-content: space-between;
			padding: 0 15px;
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}

		&__row {
			display: flex;
			align-items: flex-end;

			& button svg {
				margin: 0 5px 0 -5px;
				font-size: 18px;
			}

			h2 {
				font-size: 18px;
				padding: 5px 0;
			}
		}

		&__row + &__row {
			padding-top: 5px
		}

		&__block {
			flex-direction: column;
			align-items: flex-start;
		}

		&__name {
			font-size: 24px;
		}

		&__version {
			color: var(--rc-color-primary-light);
		}

		&__author {
			font-weight: 500;
		}

		&__item {
			white-space: nowrap;
			flex: 1 1 1px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	}
}

@media (width <= 500px) {
	.rc-apps {
		&-container {
			padding: 25px;

			flex-direction: column;
			align-items: center;
		}
		&-details {

			&__item {
				text-align: center;
			}

			&__row {
		    justify-content: center;
			}
		}

	}
}
