* {
	font-weight: 500;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	height: 100%;

	&.noscroll {
		overflow: hidden;
	}
}

body {
	font-size: 0.875rem;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1rem;
	padding: 0;
	overflow: visible;
	position: relative;
}

:focus {
	outline: 0 !important;
	outline-color: transparent;
	outline-style: none;
}

.clearfix {
	clear: both;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

a {
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: none;
	}
}

button {
	background: none;
	border-width: 0;
	padding: 0;
	text-align: left;
	cursor: pointer;
	text-transform: inherit;
	color: inherit;
	font-style: inherit;
}

#rocket-chat {
	display: flex;
	align-items: stretch;
	height: 100%;

	&.animated-hidden {
		visibility: hidden;
		opacity: 0;
	}
}
