*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	overflow-y: auto;

	height: 100%;

	&.noscroll {
		overflow: hidden;
	}
}

body {
	position: relative;

	overflow: visible;

	width: 100%;
	height: 100%;
	padding: 0;

	font-size: var(--text-size);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {
	outline: 0 !important;
	outline-style: none;
	outline-color: transparent;
}

.clearfix {
	clear: both;

	&::after {
		display: table;
		clear: both;

		content: "";
	}
}

a {
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: none;
	}
}

button {
	padding: 0;

	cursor: pointer;
	text-align: left;
	text-transform: inherit;

	color: inherit;
	border-width: 0;
	background: none;

	font-style: inherit;
}

#rocket-chat {
	display: flex;

	height: 100%;
	align-items: stretch;

	&.animated-hidden {
		visibility: hidden;

		opacity: 0;
	}
}

.flex-tab-bar {
	& .tab-button {
		cursor: pointer;
	}

	& .tab-button-icon {
		color: var(--rc-color-primary-dark);

		font-size: 1.125rem;

		fill: var(--rc-color-primary-dark);

		&--star {
			fill: none;
		}
	}
}

.rc-icon {

	overflow: hidden;

	width: 1em;
	height: 1em;

	vertical-align: -0.15em;
}

.ps-scrollbar-y-rail {
	background: transparent !important;
}
.ps-scrollbar-y {
	width: 4px !important;
}

.first-unread .body {
	&::before {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

		width: 100%;
		height: 1px;

		content: "";

		background: var(--rc-color-error);
	}

	&::after {
		position: absolute;
		z-index: 2;
		top: -10px;
		right: 0;

		padding: 0 1rem;

		content: attr(data-unread-text);
		text-align: right;
		text-transform: uppercase;

		color: var(--rc-color-error);
		background: #ffffff;

		font-size: 10px;
	}
}

.message.new-day.first-unread {
	&::after {
		border-color: var(--rc-color-error);
	}

	& .body {
		&::before {
			display: none;
		}

		&::after {
			top: -30px;
		}
	}
}
