*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	height: 100%;

	&.noscroll {
		overflow: hidden;
	}
}

body {
	font-size: 0.875rem;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1rem;
	padding: 0;
	overflow: visible;
	position: relative;
}

:focus {
	outline: 0 !important;
	outline-color: transparent;
	outline-style: none;
}

.clearfix {
	clear: both;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

a {
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: none;
	}
}

button {
	background: none;
	border-width: 0;
	padding: 0;
	text-align: left;
	cursor: pointer;
	text-transform: inherit;
	color: inherit;
	font-style: inherit;
}

.avatar {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 4px;

	& .emoji,
	& .emojione {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	& .avatar-image {
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	&[initials]::before {
		display: flex;
		align-items: center;
		content: attr(initials);
		position: absolute;
		font-size: 22px;
		text-align: center;
		width: 100%;
		height: 100%;
		justify-content: center;
		text-transform: uppercase;
		font-weight: bold;
	}
}
