.input {
	&.radio {
		min-height: 13px;
		position: relative;

		& input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			outline: 0;
			z-index: -1;
			width: 0;
			height: 0;

			&:checked + label::after {
				opacity: 1;
			}
		}

		& label {
			cursor: pointer;
			user-select: none;
			padding-left: 20px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 15px;
				height: 15px;
				border-width: 1px;
				border-radius: 50%;
			}

			&::after {
				content: '';
				position: absolute;
				top: 4px;
				left: 4px;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				opacity: 0;
				transition: opacity 0.2s ease-out;
			}
		}
	}

	&.checkbox.toggle {
		min-height: 20px;
		position: relative;

		& input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			outline: 0;
			z-index: -1;
			width: 0;
			height: 0;

			&:checked + label::after {
				left: 25px;
			}
		}

		& label {
			cursor: pointer;
			user-select: none;
			display: block;
			min-height: 20px;
			vertical-align: top;

			&::before {
				display: block;
				position: absolute;
				content: '';
				z-index: 0;
				top: 0;
				left: 0;
				box-shadow: none;
				width: 40px;
				height: 16px;
				border-radius: 50px;
				transition: background-color 0.2s ease-out;
			}

			&::after {
				content: '';
				position: absolute;
				left: 1px;
				top: 1px;
				border-radius: 50%;
				width: 14px;
				height: 14px;
				z-index: 1;
				transition: left 0.2s ease-out;
			}
		}
	}
}

:root {
	--button-square-size: 36px;
	--button-padding: 0.782rem;
	--button-padding-small: 0.5rem;
	--input-font-size: 0.875rem;
	--border: 2px;
	--gap-between-elements: 2.5rem;
	--label-margin-bottom: 1rem;
}

.rc-button {
	font-size: var(--input-font-size);
	padding: var(--button-padding);
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	background-color: transparent;
	transition: background-color 0.3s;
	cursor: pointer;

	&:disabled {
		background-color: #e1e5e8;
		color: #ffffff;
		border: 0;
		cursor: default;
	}

	&--blue {
		background-color: #1d74f5;
		color: #ffffff;
		border: 0;
	}

	&--small {
		padding: var(--button-padding-small);
	}

	&--square {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		flex: 0 0 var(--button-square-size);
	}

	&.loading {
		position: relative;
		padding-right: calc(3 * 0.782rem);
		transition: padding-right 0.3s;

		&::before {
			content: "";
			border-radius: 50%;
			width: 20px;
			height: 20px;
			display: block;
			border: 0.15rem solid rgba(127, 127, 127, 0.5);
			border-top-color: white;
			animation: spin 1s infinite cubic-bezier(0.14, 0.48, 0.45, 0.63);
			position: absolute;
			right: 0.782rem;
			top: 25%;
		}
	}
}

.rc-message-box {
	width: 100%;
	font-size: var(--input-font-size);
	position: relative;
	padding: 24px;

	&__toolbar-markdown {
		position: absolute;
		bottom: 4px;
		display: flex;
		width: 100%;
		justify-content: center;
		left: 0;
		color: #9ea2a8;

		&__item {
			width: 16px;
			height: 16px;
			margin: 0 4px;
			text-align: center;
			transition: color 0.5s;

			&:hover,
			&:focus {
				color: #2f343d;
			}
		}
	}

	&__typing {
		position: absolute;
		top: 4px;
		left: 0;
		margin-left: 24px;
		font-size: 12px;
		color: #9ea2a8;

		&__user {
			color: #2f343d;
		}

		&::after {
			overflow: hidden;
			display: inline-block;
			vertical-align: bottom;
			animation: ellipsis steps(4, end) 1.5s infinite;
			content: "\2026"; /* ascii code for the ellipsis character */
			width: 0;
		}
	}

	&__container {
		display: flex;
		border-width: 2px;
		border-radius: 2px;
		border-color: #e1e5e8;
		padding: 0.75rem 0;
		align-items: flex-end;

		&.editing {
			background-color: #fff5df;
		}
	}

	&__textarea {
		width: 100%;
		max-height: 155px;
		resize: none;
		border: 0;
		background-color: transparent;
		font-size: var(--input-font-size);

		&::placeholder {
			color: #cbced1;
		}
	}

	&__icon {
		cursor: pointer;
		width: 50px;
		display: flex;
		justify-content: center;
		height: 21px;
		align-items: center;

		& .rc-input__icon-svg--plus {
			transition: transform 0.2s linear;
		}
	}

	&__action-label {
		position: relative;

		& #rc-message-box__action-input:checked ~ .rc-message-box__icon .rc-input__icon-svg {
			transform: rotate(45deg);
		}

		& .rc-popover {
			bottom: 30px;
			right: 8px;

			&__column {
				justify-content: space-between;
			}

			&__title {
				font-size: 0.75rem;
				color: #9ea2a8;
				text-transform: none;
			}

			&__item {
				padding: 1px 0;
			}
		}
	}
}

@media (width <= 500px) {
	.rc-message-box {
		padding: 24px 0 0;

		&__typing {
			margin-left: 10px;
		}

		&__toolbar-markdown {
			display: none;
		}

		&__container {
			display: flex;
			border-width: 0;
			border-top-width: 1px;
		}
	}
}

.rc-input {
	width: 100%;

	&__label {
		cursor: pointer;
	}

	&__title {
		font-size: var(--input-font-size);
		color: #2d343d;
	}

	&__wrapper {
		padding: 0.5rem 0;
		position: relative;
		color: #2f343d;
	}

	&__icon {
		width: 20px;
		display: flex;
		justify-content: center;
		position: absolute;
		left: 1rem;
		top: 0;
		height: 100%;
		align-items: center;
		cursor: default;

		& + .rc-input__element {
			padding: 0.75rem 1rem 0.75rem 3.25rem;
		}

		& + .rc-input__element--small {
			padding: 0.5rem 1rem 0.5rem 3.25rem;
		}

		&--right {
			right: 1rem;
			left: auto;
		}
	}

	&__icon-svg {
		stroke: currentColor;

		&--at,
		&--plus,
		&--hashtag {
			width: 14px;
			height: 14px;
		}

		&--smile {
			width: 18px;
			height: 18px;
		}

		&--lock {
			width: 12px;
			height: 18px;
		}

		&--user {
			width: 12px;
			height: 13px;
		}

		&--magnifier {
			width: 13px;
			height: 13px;
		}

		&--cross {
			width: 10px;
			height: 10px;
		}
	}

	&__element {
		width: 100%;
		background-color: transparent;
		border-width: 2px;
		border-radius: 2px;
		border-color: #e1e5e8;
		padding: 0.75rem 1rem;
		font-size: var(--input-font-size);

		&--small {
			padding: 0.5rem 1rem;
		}

		&::placeholder {
			color: #cbced1;
		}
	}

	&__description {
		color: #9ea2a8;
		font-size: var(--input-font-size);
		margin-bottom: 0.25rem;
	}

	&__error {
		color: #f5455c;
		display: flex;
		align-items: center;

		&-icon {
			width: 20px;

			&--warning {
				width: 20px;
				height: 20px;
				stroke: currentColor;
			}
		}

		&-message {
			margin-left: 0.5rem;
		}
	}

	&--error {
		& .rc-input {
			&__element {
				border-color: #f5455c;
			}
		}
	}
}

.rc-switch {
	&__label {
		display: flex;
		align-items: center;
		margin-bottom: 0.5rem;
	}

	&__input {
		display: none;

		&:disabled {
			& + .rc-switch__button {
				cursor: default;
				border-color: #e1e5e8;
				background-color: #f2f3f5;
			}

			& ~ .rc-switch__text {
				cursor: default;
			}
		}

		&:checked {
			& + .rc-switch__button {
				border-color: #26d198;
				background-color: #2de0a5;

				& .rc-switch__button-inside {
					transform: translate3d(1px, 1px, 0);
				}
			}
		}
	}

	&__button {
		display: block;
		width: 32px;
		height: 20px;
		border-radius: 13px;
		border-color: #e1364c;
		background-color: #f5455c;
		border-width: 1px;
		transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
		margin-right: 0.5rem;
		cursor: pointer;
	}

	&__button-inside {
		display: block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #ffffff;
		border-width: 1px;
		border-color: #f2f3f5;
		transform: translate3d(13px, 1px, 0);
		transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	}

	&__text {
		font-size: var(--input-font-size);
		color: #2f343d;
		cursor: pointer;
	}

	&__description {
		font-size: var(--input-font-size);
		color: #9ea2a8;
	}
}

.rc-tags {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	background-color: transparent;
	border-width: 1px;
	border-radius: 2px;
	border-color: #e1e5e8;
	padding: 0 1rem 0 3.25rem;
	min-height: 43px;

	&__tag {
		background: #f2f3f5;
		padding: 0.35rem 0.5rem;
		display: flex;
		align-items: center;
		color: #2f343d;
		margin: 0.25rem;

		&-avatar {
			width: 20px;
			height: 20px;
			margin-right: 0.5rem;
		}

		&-username {
			margin-right: 0.5rem;
		}

		&-icon {
			stroke: #9d9fa3;
			width: 10px;
			height: 10px;
		}
	}

	&__input {
		font-size: 0.875rem;
		border: 0;
		margin: 0.25rem;
		padding: 0.35rem 0.5rem;

		&::placeholder {
			color: #cbced1;
		}
	}
}

.rc-popup-list {
	width: 100%;
	position: absolute;

	&__list {
		border-radius: 2px;
		background-color: #ffffff;
		box-shadow: 0 0 2px 0 rgba(47, 52, 61, 0.08), 0 0 12px 0 rgba(47, 52, 61, 0.12);
		padding: 1rem;
		width: 100%;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 0.5rem;
		border-radius: 2px;
		cursor: pointer;

		&.selected {
			background-color: #f2f3f5;
		}

		&:hover {
			background-color: #f2f3f5;
		}

		&-image {
			width: 32px;
			height: 32px;
			margin-right: 1rem;
		}

		&-name {
			font-size: 1rem;
			color: #2d343d;
		}
	}
}

.rc-select-avatar {
	display: flex;
	align-items: flex-start;

	&__preview {
		width: 150px;
		height: 150px;
		flex: 0 0 150px;
		margin-right: 1rem;
	}

	&__loading::after {
		overflow: hidden;
		display: inline-block;
		vertical-align: bottom;
		animation: ellipsis steps(4, end) 1.5s infinite;
		content: "\2026"; /* ascii code for the ellipsis character */
		width: 0;
	}

	&__list {
		display: flex;

		&__item {
			margin-right: 10px;
			cursor: pointer;
			height: 50px;
			width: 50px;
			border: 1px solid;

			& .avatar {
				transition: opacity 0.5s;
			}

			& .avatar:hover {
				opacity: 0.8;
			}
		}
	}
}

.rc-form-group {
	margin-bottom: var(--gap-between-elements);
}

.rc-form-label {
	display: block;
	cursor: pointer;
	font-size: var(--input-font-size);
	color: #2d343d;
	margin-bottom: var(--label-margin-bottom);
}

.rc-form-legend {
	color: #2d343d;
	font-size: 1rem;
}

.rc-grid {
	display: flex;
	align-items: flex-start;
}

.rc-w50 {
	flex: 0 0 50%;

	&.padded {
		&:nth-child(odd) {
			padding-right: 15px;
		}

		&:nth-child(even) {
			padding-left: 15px;
		}
	}
}

@media (width <= 500px) {
	.rc-grid {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	.rc-w50 {
		flex: 0 0 100%;

		&.padded {
			&:nth-child(odd) {
				padding-right: 0;
			}

			&:nth-child(even) {
				padding-left: 0;
			}
		}
	}
}

.preferences-page {
	&__header {
		height: 77px;
		display: flex;
		align-items: center;
		padding: 25px;
		box-shadow: 0 0 1px 1px #e6e4e4;
		color: #2f343d;
		font-size: 16px;
		font-weight: 600;
	}

	&__content {
		padding: 10px;
		margin: 25px auto;
	}
}

@media (width > 500px) {
	.preferences-page__content {
		max-width: 649px;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}
