.input {
	&.radio {
		position: relative;

		min-height: 13px;

		& input {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;

			width: 0;
			height: 0;

			opacity: 0;
			outline: 0;

			&:checked + label::after {
				opacity: 1;
			}
		}

		& label {
			padding-left: 20px;

			cursor: pointer;
			user-select: none;

			&::before {
				position: absolute;
				top: 0;
				left: 0;

				width: 15px;
				height: 15px;

				content: '';

				border-width: 1px;
				border-radius: 50%;
			}

			&::after {
				position: absolute;
				top: 4px;
				left: 4px;

				width: 7px;
				height: 7px;

				content: '';
				transition: opacity 0.2s ease-out;

				opacity: 0;
				border-radius: 50%;
			}
		}
	}

	&.checkbox.toggle {
		position: relative;

		min-height: 20px;

		& input {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;

			width: 0;
			height: 0;

			opacity: 0;
			outline: 0;

			&:checked + label::after {
				left: 25px;
			}
		}

		& label {
			display: block;

			min-height: 20px;

			cursor: pointer;
			user-select: none;
			vertical-align: top;

			&::before {
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;

				display: block;

				width: 40px;
				height: 16px;

				content: '';
				transition: background-color 0.2s ease-out;

				border-radius: 50px;
				box-shadow: none;
			}

			&::after {
				position: absolute;
				z-index: 1;
				top: 1px;
				left: 1px;

				width: 14px;
				height: 14px;

				content: '';
				transition: left 0.2s ease-out;

				border-radius: 50%;
			}
		}
	}
}

.rc-button {
	padding: var(--button-padding);

	cursor: pointer;
	transition: background-color 0.3s;

	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	background-color: transparent;

	font-size: var(--input-font-size);

	&:disabled {
		cursor: default;

		color: var(--color-white);
		border: 0;
		background-color: var(--color-gray-light);
	}

	&--blue {
		color: var(--color-white);
		border: 0;
		background-color: var(--color-button-primary);
	}

	&--small {
		padding: var(--button-padding-small);
	}

	&--square {
		display: flex;
		flex: 0 0 var(--button-square-size);

		padding: 0;
		align-items: center;
		justify-content: center;
	}

	&.loading {
		position: relative;

		padding-right: calc(3 * 0.782rem);

		transition: padding-right 0.3s;

		&::before {
			position: absolute;
			top: 25%;
			right: 0.782rem;

			display: block;

			width: 20px;
			height: 20px;

			content: "";
			animation: spin 1s infinite cubic-bezier(0.14, 0.48, 0.45, 0.63);

			border: 0.15rem solid rgba(127, 127, 127, 0.5);
			border-top-color: white;
			border-radius: 50%;
		}
	}
}

.rc-message-box {
	position: relative;

	width: 100%;
	padding: 24px;

	font-size: var(--input-font-size);

	&__toolbar-markdown {
		position: absolute;
		left: 0;

		display: flex;

		width: 100%;
		height: 24px;

		color: var(--color-gray);
		justify-content: center;

		&-item {
			display: flex;

			width: 16px;
			margin: 0 4px;

			transition: color 0.1s;
			justify-content: center;

			&:hover,
			&:focus,
			&.active {
				color: var(--color-dark);
			}
		}

		&-icon {
			fill: currentColor;
			stroke: currentColor;

			&--bold {
				width: 8px;
				height: 10px;
				stroke: none;
			}

			&--italic {
				width: 2px;
				height: 10px;
				stroke: none;
			}

			&--inline_code {
				width: 16px;
				height: 12px;
			}

			&--strike {
				width: 12px;
				height: 11px;
				stroke: none;
			}

			&--multi_line {
				width: 13px;
				height: 11px;
			}
		}
	}

	&__typing {
		position: absolute;
		top: 4px;
		left: 0;

		margin-left: 24px;

		color: var(--color-gray);

		font-size: 12px;

		&__user {
			color: var(--color-dark);
		}

		&::after {
			display: inline-block;
			overflow: hidden;

			width: 0;

			content: "\2026"; /* ascii code for the ellipsis character */
			animation: ellipsis steps(4, end) 1.5s infinite;
			vertical-align: bottom;
		}
	}

	&__container {
		display: flex;

		padding: 0.75rem 0;

		transition: background-color 0.3s;

		border-width: 2px;
		border-color: var(--color-gray-light);
		border-radius: 2px;
		align-items: flex-end;

		&.editing {
			background-color: #fff5df;
		}
	}

	&__textarea {
		width: 100%;
		max-height: 155px;
		padding: 0;

		resize: none;

		border: 0;
		background-color: transparent;

		font-size: var(--input-font-size);

		&::placeholder {
			color: var(--color-gray-medium);
		}
	}

	&__icon {
		display: flex;

		width: 50px;
		height: 21px;

		cursor: pointer;
		align-items: center;
		justify-content: center;

		& .rc-input__icon-svg--plus {
			transition: transform 0.2s linear;
		}
	}

	&__action-label {
		position: relative;

		& #rc-message-box__action-input:checked ~ .rc-message-box__icon .rc-input__icon-svg {
			transform: rotate(135deg);
		}

		& .rc-popover {
			right: 18px;
			bottom: 30px;

			&__column {
				justify-content: space-between;
			}

			&__title {
				text-transform: none;

				color: var(--color-gray);

				font-size: 0.75rem;
			}
		}
	}
}

@media (width <= 500px) {
	.rc-message-box {
		padding: 24px 0 0;

		&__typing {
			margin-left: 10px;
		}

		&__toolbar-markdown {
			display: none;
		}

		&__container {
			display: flex;

			border-width: 0;
			border-top-width: 1px;
		}
	}
}

.rc-input {
	width: 100%;

	&__label {
		cursor: pointer;
	}

	&__title {
		color: #2d343d;

		font-size: var(--input-font-size);
	}

	&__wrapper {
		position: relative;

		padding: 0.5rem 0;

		color: var(--color-dark);
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 1rem;

		display: flex;

		width: 20px;
		height: 100%;

		cursor: default;
		align-items: center;
		justify-content: center;

		& + .rc-input__element {
			padding: 0.75rem 1rem 0.75rem 3.25rem;
		}

		& + .rc-input__element--small {
			padding: 0.5rem 1rem 0.5rem 3.25rem;
		}

		&--right {
			right: 1rem;
			left: auto;
		}
	}

	&__icon-svg {
		stroke: currentColor;

		&--at,
		&--plus,
		&--hashtag {
			width: 14px;
			height: 14px;
		}

		&--smile {
			width: 18px;
			height: 18px;
		}

		&--lock {
			width: 12px;
			height: 18px;
		}

		&--user {
			width: 12px;
			height: 13px;
		}

		&--magnifier {
			width: 13px;
			height: 13px;
		}

		&--cross {
			width: 10px;
			height: 10px;
		}
	}

	&__element {
		width: 100%;
		padding: 0.75rem 1rem;

		border-width: 2px;
		border-color: var(--color-gray-light);
		border-radius: 2px;
		background-color: transparent;

		font-size: var(--input-font-size);

		&--small {
			padding: 0.5rem 1rem;
		}

		&::placeholder {
			color: var(--color-gray-medium);
		}
	}

	&__description {
		margin-bottom: 0.25rem;

		color: var(--color-gray);

		font-size: var(--input-font-size);
	}

	&__error {
		display: flex;

		color: var(--color-error);
		align-items: center;

		&-icon {
			width: 20px;

			&--warning {
				width: 20px;
				height: 20px;
				stroke: currentColor;
			}
		}

		&-message {
			margin-left: 0.5rem;
		}
	}

	&--error {
		& .rc-input {
			&__element {
				border-color: var(--color-error);
			}
		}
	}
}

.rc-switch {
	&__label {
		display: flex;

		margin-bottom: 0.5rem;
		align-items: center;
	}

	&__input {
		display: none;

		&:disabled {
			& + .rc-switch__button {
				cursor: default;

				border-color: var(--color-gray-light);
				background-color: #f2f3f5;
			}

			& ~ .rc-switch__text {
				cursor: default;
			}
		}

		&:checked {
			& + .rc-switch__button {
				border-color: #26d198;
				background-color: var(--color-success);

				& .rc-switch__button-inside {
					transform: translate3d(1px, 1px, 0);
				}
			}
		}
	}

	&__button {
		display: block;

		width: 32px;
		height: 20px;
		margin-right: 0.5rem;

		cursor: pointer;
		transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);

		border-width: 1px;
		border-color: var(--color-error-light);
		border-radius: 13px;
		background-color: var(--color-error);
	}

	&__button-inside {
		display: block;

		width: 16px;
		height: 16px;

		transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
		transform: translate3d(13px, 1px, 0);

		border-width: 1px;
		border-color: #f2f3f5;
		border-radius: 50%;
		background-color: var(--color-white);
	}

	&__text {
		cursor: pointer;

		color: var(--color-dark);

		font-size: var(--input-font-size);
	}

	&__description {
		color: var(--color-gray);

		font-size: var(--input-font-size);
	}
}

.rc-tags {
	display: flex;

	width: 100%;
	min-height: 43px;
	padding: 0 1rem 0 3.25rem;

	border-width: 1px;
	border-color: var(--color-gray-light);
	border-radius: 2px;
	background-color: transparent;
	flex-wrap: wrap;
	justify-content: flex-start;

	&__tag {
		display: flex;

		margin: 0.25rem;
		padding: 0.35rem 0.5rem;

		color: var(--color-dark);
		background: #f2f3f5;
		align-items: center;

		&-avatar {
			width: 20px;
			height: 20px;
			margin-right: 0.5rem;
		}

		&-username {
			margin-right: 0.5rem;
		}

		&-icon {
			width: 10px;
			height: 10px;
			stroke: #9d9fa3;
		}
	}

	&__input {
		margin: 0.25rem;
		padding: 0.35rem 0.5rem;

		border: 0;

		font-size: 0.875rem;

		&::placeholder {
			color: var(--color-gray-medium);
		}
	}
}

.rc-popup-list {
	position: absolute;

	width: 100%;

	&__list {
		width: 100%;
		padding: 1rem;

		border-radius: 2px;
		background-color: var(--color-white);
		box-shadow: 0 0 2px 0 rgba(47, 52, 61, 0.08), 0 0 12px 0 rgba(47, 52, 61, 0.12);
	}

	&__item {
		display: flex;

		padding: 0.5rem;

		cursor: pointer;

		border-radius: 2px;
		align-items: center;

		&.selected {
			background-color: #f2f3f5;
		}

		&:hover {
			background-color: #f2f3f5;
		}

		&-image {
			width: 32px;
			height: 32px;
			margin-right: 1rem;
		}

		&-name {
			color: #2d343d;

			font-size: 1rem;
		}
	}
}

.rc-select-avatar {
	display: flex;
	align-items: flex-start;

	&__preview {
		flex: 0 0 150px;

		width: 150px;
		height: 150px;
		margin-right: 1rem;
	}

	&__loading::after {
		display: inline-block;
		overflow: hidden;

		width: 0;

		content: "\2026"; /* ascii code for the ellipsis character */
		animation: ellipsis steps(4, end) 1.5s infinite;
		vertical-align: bottom;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		&-item {
			width: 48px;
			height: 48px;
			margin-right: 10px;
			margin-bottom: 10px;

			cursor: pointer;

			& .avatar {
				transition: opacity 0.5s;
			}

			& .avatar:hover {
				opacity: 0.8;
			}
		}
	}

	&__upload-label {
		display: block;

		cursor: pointer;

		color: #2d343d;
		background: var(--color-gray-light);
	}

	&__upload-icon {
		width: 48px;
		height: 48px;
		padding: 12px;
		fill: currentColor;
	}
}

.rc-form-group {
	margin-bottom: var(--gap-between-elements);
}

.rc-form-label {
	display: block;

	margin-bottom: var(--label-margin-bottom);

	cursor: pointer;

	color: #2d343d;

	font-size: var(--input-font-size);
}

.rc-form-legend {
	color: #2d343d;

	font-size: 1rem;
}

.rc-grid {
	display: flex;
	align-items: flex-start;
}

.rc-w50 {
	flex: 0 0 50%;

	&.padded {
		&:nth-child(odd) {
			padding-right: 15px;
		}

		&:nth-child(even) {
			padding-left: 15px;
		}
	}
}

@media (width <= 500px) {
	.rc-grid {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.rc-w50 {
		flex: 0 0 100%;

		&.padded {
			&:nth-child(odd) {
				padding-right: 0;
			}

			&:nth-child(even) {
				padding-left: 0;
			}
		}
	}
}

.preferences-page {
	display: flex;
	flex-direction: column;

	height: 100%;

	&__header {
		display: flex;

		height: 77px;
		padding: 25px;

		color: var(--color-dark);
		box-shadow: 0 0 1px 1px #e6e4e4;

		font-size: 16px;
		font-weight: 600;
		align-items: center;
	}

	&__content {
		overflow-y: auto;

		width: 100%;
		padding: 25px;
	}
}

@media (width > 500px) {
	.preferences-page .container {
		max-width: 649px;
		margin: auto;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}
