.badge {
	display: inline-block;
	padding: 4px 7px;
	border-radius: 2px;
	font-size: 0.75rem;
}

.rc-tooltip {
	position: relative;

	&::before,
	&::after {
		opacity: 0;
		pointer-events: none;
		transition: all 0.18s ease-out 0.18s;
		bottom: 100%;
		left: 50%;
		position: absolute;
		z-index: 10;
		transform: translate(-50%, 10px);
		transform-origin: top;
	}

	&::after {
		background: #414852;
		border-radius: 4px;
		color: #ffffff;
		content: attr(aria-label) attr(label);
		font-size: 12px;
		padding: 0.5em 1em;
		white-space: nowrap;
		margin-bottom: 11px;
	}

	&::before {
		background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23414852%22%20d%3D%22M2.658%200h32.004c-6%200-11.627%2012.002-16.002%2012.002C14.285%2012.002%208.594%200%202.658%200z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
		background-size: 100% auto;
		height: 6px;
		width: 18px;
		content: "";
		margin-bottom: 5px;
	}

	&:hover::before,
	&:hover::after,
	&:focus::before,
	&:focus::after {
		opacity: 1;
		pointer-events: auto;
		transform: translate(-50%, 0);
	}
}
