:root {
	/*
	* General Colors
	*/
	--color-darkest: #1f2329;
	--color-dark: #2f343d;
	--color-dark-medium: #414852;
	--color-gray: #9ea2a8;
	--color-gray-medium: #cbced1;
	--color-gray-light: #e1e5e8;
	--color-gray-lightest: #f2f3f5;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-error: #f5455c;
	--color-error-light: #e1364c;
	--color-alert: #ffd21f;
	--color-alert-light: #f6c502;
	--color-success: #2de0a5;
	--color-success-light: #25d198;
	--color-button-primary: #1d74f5;
	--color-button-primary-light: #175cc4;

	/*
	* General
	*/
	--header-min-height: 60px;
	--toolbar-height: 55px;
	--footer-min-height: 70px;
	--rooms-box-width: 280px;
	--flex-tab-width: 400px;
	--flex-tab-webrtc-width: 400px;
	--flex-tab-webrtc-2-width: 850px;
	--user-image-square: 20px;
	--border: 2px;
	--border-radius: 2px;
	--status-online: var(--color-success);
	--status-away: var(--color-alert);
	--status-busy: var(--color-error);
	--status-invisible: var(--color-gray-medium);

	/*
	* Forms
	*/
	--button-square-size: 36px;
	--button-padding: 0.782rem;
	--button-padding-small: 0.5rem;
	--input-font-size: 0.875rem;
	--gap-between-elements: 2.5rem;
	--label-margin-bottom: 1rem;

	/*
	* Modal
	*/
	--modal-wrapper-width: 650px;
	--modal-wrapper-margin: 3rem;
	--modal-back-button-color: var(--color-gray);

	/*
	* Modal - Create Channel
	*/
	--create-channel-gap-between-elements: 2.5rem;
	--create-channel-title-color: var(--color-darkest);
	--create-channel-title-text-size: 1.375rem;
	--create-channel-description-color: var(--color-gray);
	--create-channel-description-text-size: 0.875rem;

	/*
	* Sidebar
	*/
	--sidebar-width: 280px;
	--sidebar-background: var(--color-dark);
	--sidebar-background-light: var(--color-gray-lightest);
	--sidebar-header-height: 180px;
	--sidebar-header-padding: 24px;
	--sidebar-footer-height: 70px;
	--sidebar-footer-padding: var(--sidebar-header-padding);

	/*
	* Sidebar flex
	*/
	--sidebar-flex-back-button-color: var(--color-dark);
	--sidebar-flex-search-background: var(--color-white);
	--sidebar-flex-search-placeholder-color: var(--color-gray);

	/*
	* Sidebar Account
	*/
	--sidebar-account-thumb-size: 48px;
	--sidebar-account-status-bullet-size: 12px;
	--sidebar-account-status-bullet-radius: 50%;
	--sidebar-account-username-size: 1rem;
	--sidebar-account-username-weight: 700;
	--sidebar-account-username-color: var(--color-white);
	--sidebar-account-username-color-darker: var(--color-dark);
	--sidebar-account-status-font-size: 0.875rem;
	--sidebar-account-status-color: var(--color-gray);
	--sidebar-account-arrow-size: 8px;

	/*
	* Sidebar Item
	*/
	--sidebar-item-radius: 2px;
	--sidebar-item-height: 32px;
	--sidebar-item-thumb-size: 20px;
	--sidebar-item-text-color: var(--color-gray);
	--sidebar-item-lighten-hover-background: var(--color-dark-medium);
	--sidebar-item-darken-hover-background: var(--color-gray-light);
	--sidebar-item-darken-text-color: var(--color-dark);
	--sidebar-item-active-background: var(--color-gray);
	--sidebar-item-active-text-color: var(--color-white);
	--sidebar-item-popup-background: var(--color-dark-medium);
	--sidebar-item-user-status-size: 6px;
	--sidebar-item-user-status-radius: 50%;
	--sidebar-item-text-size: 1rem;

	/*
	* Toolbar
	*/
	--toolbar-placeholder-color: var(--color-gray);

	/*
	* Rooms list
	*/
	--rooms-list-title-color: var(--color-gray);
	--rooms-list-title-text-size: 0.75rem;
	--rooms-list-empty-text-color: var(--color-gray);
	--rooms-list-empty-text-size: 0.75rem;

	/*
	* Chip
	*/
	--chip-background: #dddddd;

	/*
	* Avatar
	*/
	--avatar-radius: var(--border-radius);
	--avatar-initials-text-size: 22px;
	--avatar-initials-text-weight: 700;
}
