/* stylelint-disable */
.emojione-modifier {
  background-image: url('/packages/emojione/assets/sprites/modifier-sprites.png');

  &._1f3fb {
    background-repeat: no-repeat;
    background-size: 300% 200%;
    background-position: 0% 0%;
  }

  &._1f3fc {
    background-repeat: no-repeat;
    background-size: 300% 200%;
    background-position: 50% 0%;
  }

  &._1f3fd {
    background-repeat: no-repeat;
    background-size: 300% 200%;
    background-position: 0% 100%;
  }

  &._1f3fe {
    background-repeat: no-repeat;
    background-size: 300% 200%;
    background-position: 50% 100%;
  }

  &._1f3ff {
    background-repeat: no-repeat;
    background-size: 300% 200%;
    background-position: 100% 0%;
  }

}
