.SetupWizard__FinalStep {
	&.SetupWizard__FinalStep {
		max-width: 930px;
		margin: auto;
	}

	.SetupWizard__FinalStep-runningHead {
		letter-spacing: 0.05rem;

		text-transform: uppercase;

		font-size: 0.75rem;

		line-height: 1.125rem;
	}

	.SetupWizard__FinalStep-title {
		font-size: 2rem;

		font-weight: 600;

		line-height: 2.6rem;
	}

	.SetupWizard__FinalStep-link {
		margin-bottom: 1.5rem;

		letter-spacing: 0;

		color: var(--rc-color-button-primary);

		font-size: 1rem;

		line-height: 1.5rem;
	}

	.SetupWizard__FinalStep-linkLabel {
		text-transform: uppercase;
	}
}
