.SetupWizard__RegisterServerStep-text {
	margin-bottom: 3rem;

	color: var(--color-gray);

	font-size: 1rem;

	font-weight: 500;

	line-height: 1.5rem;
}

.SetupWizard__RegisterServerStep-content {
	display: flex;
	flex-direction: column;
}

.SetupWizard__RegisterServerStep-option {
	display: block;

	padding: 1.5rem;

	cursor: pointer;

	color: var(--color-dark);
	border: 2px solid var(--color-dark-10);

	border-radius: 2px;

	font-size: 0.875rem;

	line-height: 1.25rem;

	&:first-child {
		margin-bottom: 1rem;
	}

	&--selected {
		border-color: var(--rc-color-button-primary);
	}

	&--disabled {
		opacity: 0.25;
	}
}

.SetupWizard__RegisterServerStep-items {
	margin: 1rem 0;

	& + * {
		margin-top: 1rem;
	}
}

.SetupWizard__RegisterServerStep-item {
	display: flex;

	margin: 0 -0.5rem 0.5rem;
	align-items: center;

	&:last-child {
		margin-bottom: 0;
	}

	& > .SetupWizard__RegisterServerStep-item-icon {
		width: 20px;
		min-width: 20px;
		height: 20px;
		margin: 0 0.5rem;
		align-self: baseline;

		&--check {
			color: var(--rc-color-button-primary);
		}

		&--circle {
			height: 6px;
			margin: 7px 0.5rem;
		}
	}
}
