.ErrorAlert {
	margin-bottom: 1.25rem;
	padding: 1.25rem;

	color: var(--rc-color-alert-message-warning);
	border-width: 1px;
	border-style: solid;
	border-color: var(--rc-color-alert-message-warning);
	border-radius: var(--border-radius);
	background-color: var(--rc-color-alert-message-warning-background);

	font: inherit;

	& > p {
		margin: 0.5rem 0;
	}
}

.ErrorAlert__title {
	margin: 0.5rem 0;

	font-weight: bold;
}
