<template name="livechatAgentEditCustomFieldsForm" args="agentId">
	<div class="rc-form-group rc-form-group--small">
		<div class="rc-input">
			<label class="rc-input__label">
				<div class="rc-input__title">{{_ "Max_number_of_chats_per_agent"}}</div>
				<div class="rc-input__wrapper">
					<input type="number" class="rc-input__element rc-input__element--small customFormField" name="maxNumberSimultaneousChat" value="{{data.maxNumberSimultaneousChat}}" />
				</div>
			</label>
		</div>
	</div>
</template>
