<template name="livechatCustomFieldsAdditionalForm">
	<div class="input-line">
		<label>{{_ "Required"}}</label>
		<div>
			<select name="required" class="rc-input__element additional-field">
				<option value="false" selected="{{$eq customField.required false}}">{{_ "No"}}</option>
				<option value="true" selected="{{$eq customField.required true}}">{{_ "Yes"}}</option>
			</select>
		</div>
	</div>
	<div class="input-line">
		<label>{{_ "Type"}}</label>
		<div>
			<select name="type" class="rc-input__element additional-field">
				<option value="input" selected="{{$eq customField.type 'input'}}">{{_ "Input"}}</option>
				<option value="select" selected="{{$eq customField.type 'select'}}">{{_ "Select"}}</option>
			</select>
		</div>
	</div>
	<div class="input-line">
		<label>{{_ "Default_value"}}</label>
		<div>
			<input type="text" class="rc-input__element additional-field" name="defaultValue" value="{{customField.defaultValue}}" placeholder="{{_ "Default_value"}}" />
		</div>
	</div>
	<div class="input-line">
		<label>{{_ "Options"}}</label>
		<div>
			<input type="text" class="rc-input__element additional-field" name="options" disabled="{{$neq customField.type 'select'}}" value="{{customField.options}}" placeholder="{{_ "Livechat_custom_fields_options_placeholder"}}" />
		</div>
	</div>
	<div class="input-line">
		<label>{{_ "Public"}}</label>
		<div>
			<select name="public" class="rc-input__element additional-field" disabled="{{$eq customField.visibility 'hidden'}}">
				<option value="false" selected="{{$eq customField.public false}}">{{_ "No"}}</option>
				<option value="true" selected="{{$eq customField.public true}}">{{_ "Yes"}}</option>
			</select>
		</div>
		<div class="settings-description secondary-font-color">{{{_ "Livechat_custom_fields_public_description"}}}</div>
	</div>
</template>
