<template name="remindMessages">
	{{#if Template.subscriptionsReady}} {{#unless hasReminders}}
	<div class="list-view starred-messages-list flex-tab__header">
		<h2>{{_ "No_remind_messages"}}</h2>
	</div>
	{{/unless}} {{/if}}
	<div class="flex-tab__result js-list">
		<ul class="list clearfix">
			{{# with messageContext}} {{#each msg in reminders}} {{>message msg=msg
			context="remind" room=room groupable=false subscription=subscription
			settings=settings u=u}} {{/each}} {{/with}}
		</ul>
		{{#if hasMore}}
		<div class="load-more">{{> loading}}</div>
		{{/if}}
	</div>
</template>
