<template name="visitorNavigation">
	<div class="content">
		<div class="list-view">
			<h4>{{_ "Navigation_History"}}</h4>
			<div class="visitor-navigation">
				{{#if loadingNavigation}}
					{{_ "Loading..."}}
				{{else}}
					<div class="visitor-scroll">
						<ul>
							{{#each pages}}
								<li><a href="{{navigation.page.location.href}}" target="_blank" title="{{accessDateTime}}">{{pageTitle}}</a></li>
							{{/each}}
						</ul>
					</div>
				{{/if}}
			</div>
		</div>

	</div>
</template>
