<template name="visitorForward">
	<div class="forward-chat">
		<div class="edit-form">
			<h3>{{_ "Forward_chat"}}</h3>
			{{#with visitor}}
				<div class="input-line">
					<label for="name">{{_ "Name"}}</label>
					<span>{{username}}</span>
				</div>
			{{/with}}
			<form>
				<div class="input-line">
						<label for="agent">{{_ "Forward_to_user"}}</label>
						<div class="form-group">
							{{> livechatAutocompleteUser
								onClickTag=onClickTagAgent
								list=selectedAgents
								onSelect=onSelectAgents
								collection='UserAndRoom'
								subscription='userAutocomplete'
								field='username'
								sort='username'
								label="Select_a_user"
								placeholder="Select_a_user"
								name="agent"
								icon="at"
								noMatchTemplate="userSearchEmpty"
								templateItem="popupList_item_default"
								modifier=agentModifier
								conditions=agentConditions
							}}
						</div>
					</div>

				{{#if hasDepartments}}
					<div class="form-divisor">
						<span>{{_ "or"}}</span>
					</div>

					<div class="input-line">
						<label for="forwardDepartment">{{_ "Forward_to_department"}}</label>
						<div class="rc-select">
							<select class="rc-select__element" name="forwardDepartment" id="forwardDepartment">
								<option class="rc-select__option" value="">{{_ "Select_a_department"}}</option>
								{{#each departments}}
									<option class="rc-select__option" value="{{_id}}">{{name}}</option>
								{{/each}}
							</select>
							{{> icon block="rc-select__arrow" icon="arrow-down" }}
						</div>
					</div>
				{{/if}}

				<div class="rc-user-info__flex rc-user-info__row">
					<button class='rc-button cancel' type="button"><span>{{_ "Cancel"}}</span></button>
					<button class='rc-button rc-button--primary save'><span>{{_ "Forward"}}</span></button>
				</div>
			</form>
		</div>
	</div>
</template>
