<template name="privateGroupsFlex">
	<header>
		<div>
			<h4>{{_ "Private_Groups"}}</h4>
		</div>
	</header>
	<div class="content">
		<div class="wrapper">
			{{#if relabelRoom}}
			    <h4>{{_ "Update_private_group"}}</h4>
			{{else}}
                            <h4>{{_ "Create_new_private_group"}}</h4>
			{{/if}}
			<div class="input-line">
				<label for="pvt-group-name">{{_ "Name"}}</label>
				<input type="text" id="pvt-group-name" class="required" dir="auto" value="{{groupName}}">
			</div>
			<div class="input-line">
				<label for="pvt-group-members">{{_ "Members" }}</label>
				{{> inputAutocomplete settings=autocompleteSettings id="pvt-group-members" class="search" placeholder=tRoomMembers autocomplete="off"}}
				<ul class="selected-users">
					{{#each selectedUsers}}
						<li>{{name}} <i class="icon-cancel remove-room-member"></i></li>
					{{/each}}
				</ul>
			</div>
			{{#if securityLabelsInitialized}}
				<div class="input-line">
				{{> securityLabels securityLabelsContext}}
				</div>
			{{/if}}
			{{#if error}}
				<div class="input-error">
					<strong>Ops!</strong>
					{{#each error}}
						<p>{{_ "The_field_is_required" error}}</p>
					{{/each}}
				</div>
			{{/if}}
			<div class="input-submit">
				<button class="button clean primary save-pvt-group">{{_ "Save" }}</button>
				<button class="button clean cancel-pvt-group">{{_ "Cancel" }}</button>
			</div>
		</div>
	</div>
</template>
