<template name="privateGroupsFlex">
	<header>
		<h4>{{_ "chatRooms.Private_Groups"}}</h4>
		<p>Create a new private group</p>
	</header>
	<div class="content">
		<div class="input-line">
			<label for="pvt-group-name">{{_ "chatRooms.Name"}}</label>
			<input type="text" id="pvt-group-name">
		</div>
		<div class="input-line">
			<label for="pvt-group-members">{{_ "chatRooms.Members" }}</label>
			{{> inputAutocomplete settings=autocompleteSettings id="pvt-group-members" class="search" placeholder=tRoomMembers autocomplete="off"}}
			<ul class="selected-users">
				{{#each selectedUsers}}
					<li>{{name}} <i class="icon-cancel remove-room-member"></i></li>
				{{/each}}
			</ul>
		</div>
		<div class="input-submit">
			<button class="button clean primary save-pvt-group">{{_ "chatRooms.Save" }}</button>
			<button class="button clean cancel-pvt-group">{{_ "chatRooms.Cancel" }}</button>
		</div>
	</div>
</template>