<template name="sideNav">
	<aside class="side-nav" role="navigation">
		<header class="header">
			{{> userStatus}}
		</header>
		{{#if currentUser}}
			<div class="rooms-list">
				<div class="wrapper">
					{{> starredRooms }}
					{{> channels }}
					{{> directMessages }}
					{{> privateGroups }}
					<h3>
						<a href="{{pathFor 'privateHistory'}}">{{_ "History"}}</a>
					</h3>
				</div>
			</div>
			<div class="flex-nav hidden">
				<section>
					{{> UI.dynamic template=flexTemplate data=flexData}}
				</section>
			</div>
			<span class="arrow"></span>
		{{/if}}
		<footer class="footer">
			<a href="https://github.com/RocketChat/Rocket.Chat" class="logo" target="_blank">
				<img src="/images/logo/logo.svg" />
				<small><i class="icon-github-circled"></i> {{_ "Fork_it_on_github"}}</small>
			</a>
		</footer>
	</aside>
</template>
