<template name="userStatus">
	<div class="account-box">
		{{#with myUserInfo}}
			<div class="info status-{{status}}">
				{{#if username}}
					<div class="thumb" data-status='{{visualStatus}}'>
						{{> avatar username=username}}
					</div>
					<div class="data">
						<h4>{{username}}</h4>
					</div>
				{{/if}}
			</div>
			<nav class="options _hidden">
				<a href="" data-status="online" class="status online"><span>{{_ "Online"}}</span></a>
				<a href="" data-status="away" class="status away"><span>{{_ "Away"}}</span></a>
				<a href="" data-status="busy" class="status busy"><span>{{_ "Busy"}}</span></a>
				<a href="" data-status="offline" class="status offline"><span>{{_ "Invisible"}}</span></a>
				<a href="" id="avatar"><i class="icon-camera"></i><span>{{_ "Change_avatar"}}</span></a>
				<a href="" id="settings"><i class="icon-sliders"></i><span>{{_ "Settings"}}</span></a>
				<a href=""><i class="icon-lock"></i><span>{{_ "Privacy"}}</span><span class="soon">{{_ "coming_soon"}}</span></a>
				<a href="" id="logout"><i class="icon-logout"></i><span>{{_ "Logout"}}</span></a>
			</nav>
		{{/with}}
	</div>
</template>
