.create-thread textarea {
		width: 100%;

		height: 45px;
		min-height: 80px;

	    padding: 0.75rem 1rem;

		font: inherit;

		line-height: 20px;

		resize: vertical;

		max-height: 250px;
}

.content .threading-wrapper {
	max-width: 650px;
    margin-top: 50px;
}

.create-thread .action-link {
	cursor: pointer;
}

.create-thread .create-channel {
	height: 100%;
}

.create-thread .full-modal__back-text {
	font-size: 11px; /*no clue, why we have to specify this explicitly. Dirty hack.*/
}

.create-thread-sidebar {
	margin-bottom: 22px;
}

.create-thread-sidebar button {
	font-size: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
    min-height: 24px;
}

.create-thread-sidebar .rooms-list__list {
	margin-bottom: 0px;
}

.create-thread-sidebar .rooms-list__empty-room {
	margin-bottom: 6px;
}
