.create-thread textarea {
	width: 100%;

	height: 45px;
	min-height: 80px;
	max-height: 250px;
	padding: 0.75rem 1rem;

	resize: vertical;

	font: inherit;

	line-height: 20px;
}

.content .threading-wrapper {
	max-width: 650px;
	margin-top: 50px;
}

.create-thread .action-link {
	cursor: pointer;
}

.create-thread .create-channel {
	height: 100%;
}

.create-thread .full-modal__back-text {
	font-size: 11px; /* no clue, why we have to specify this explicitly. Dirty hack. */
}

.create-thread-sidebar {
	margin-bottom: 22px;
}

.create-thread-sidebar button {
	width: 100%;
	min-height: 24px;

	margin-top: -8px;
	margin-right: auto;
	margin-left: auto;

	font-size: 100%;
}

.create-thread-sidebar .rooms-list__list {
	margin-bottom: 0;
}

.create-thread-sidebar .rooms-list__empty-room {
	margin-bottom: 6px;
}
