.attachment-fields button {
	min-height: auto;
	padding: 3px;

	font-weight: normal;
}

.attachment-fields button:hover {
	text-decoration: none;
}

.attachment-fields button.no-replies {
	opacity: 0.4;
}

.threads-list .empty {
	margin-top: 60px;

	text-align: center;

	color: #7f7f7f;
}

.threads-list .load-more {
	text-align: center;
	text-transform: lowercase;

	font-style: italic;
	line-height: 40px;
}

.threads-list .load-more .load-more-loading {
	color: #aaaaaa;
}
