.attachment {
    & .action {
        margin-top: 2px;
    }
    & .text-button {
        color: #2c2d30;
        min-width: 0;
        max-width: 220px;
        padding: 0 10px;
        margin: 2px 2px 2px 0;
        vertical-align: middle;
        font-size: 13px;
        height: 28px;
        background: rgb(250, 250, 250);
        font-weight: 500;
        text-decoration: none;
        user-select: none;
        outline: none;
        cursor: pointer;
        border: 2px solid lightgray;
        border-radius: 4px;
        align-items: center;
        position: relative;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
    }
    & .overflow-ellipsis {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    & .image-button {
        max-height: 200px;
    }
    & .horizontal-buttons {
        display: inline;
    }
}