.single-login-block {
  margin: 2em auto;
  #signin-button {
    background-color: #270F34;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px;
    padding-left: 60px;
    clear: both;
    display: inline-block;
    font-weight: 600;
    border-radius: 4px;
    width: auto;
    background-image: url(/packages/rocketchat_blockstack/assets/blockstack_mark.png);
    background-size: 40px;
    background-position: 10px center;
    background-repeat: no-repeat;
  }
}
.login-terms {
  p { margin: 1em auto; }
}
