<template name="roomOld">
	<div class="container-bars {{containerBarsShow unreadData uploading}}">
		{{#if unreadData.since}}
			{{#if unreadData.count}}
				{{> UnreadMessagesIndicator count=unreadData.count since=unreadData.since onJumpButtonClick=handleUnreadBarJumpToButtonClick onMarkAsReadButtonClick=handleMarkAsReadButtonClick}}
			{{/if}}
		{{/if}}
		{{#each upload in uploading}}
			{{> UploadProgressIndicator name=upload.name percentage=upload.percentage error=upload.error onClose=(handleUploadProgressCloseButtonClick upload.id)}}
		{{/each}}
	</div>
	<div class="messages-box {{#if selectable}}selectable{{/if}} {{messageViewMode}} {{hasLeader}}">
		<button class="new-message background-primary-action-color color-content-background-color not">
			<i class="icon-down-big"></i>
			{{_ "New_messages"}}
		</button>
		<div class="jump-recent background-component-color {{#unless hasMoreNext}}not{{/unless}}">
			<button>{{_ "Jump_to_recent_messages"}} <i class="icon-level-down"></i></button>
		</div>
		{{#unless canPreview}}
			<div class="content room-not-found error-color">
				<div>
					{{_ "You_must_join_to_view_messages_in_this_channel"}}
				</div>
			</div>
		{{/unless}}
		{{#if roomLeader}}
			{{> LeaderBar roomLeader hideLeaderHeader=hideLeaderHeader onAvatarClick=handleOpenUserCardButtonClick}}
		{{/if}}
		<div class="wrapper {{#if hasMoreNext}}has-more-next{{/if}} {{hideUsername}} {{hideAvatar}}">
			<ul class="messages-list" aria-live="polite">
				{{#if canPreview}}
					{{#if hasMore}}
						<li class="load-more">
							{{#if isLoading}}
								{{> loading}}
							{{/if}}
						</li>
					{{else}}
						<li class="start color-info-font-color">
							{{#if hasPurge}}
								{{> RetentionPolicyWarning filesOnly=filesOnly excludePinned=excludePinned purgeTimeout=purgeTimeout}}
							{{/if}}
							{{> RoomForeword }}
						</li>
					{{/if}}
				{{/if}}
				{{#if $eq (preference 'useLegacyMessageTemplate') true}}
					{{#each msg in messagesHistory}}
						{{> message showRoles=true index=@index shouldCollapseReplies=false msg=msg room=messageContext.room actions=messageContext.actions subscription=messageContext.subscription settings=messageContext.settings u=messageContext.u}}
					{{/each}}
				{{else}}
					{{> MessageList rid=rid }}
				{{/if}}

				{{#if hasMoreNext}}
					<li class="load-more">
						{{#if isLoading}}
							{{> loading}}
						{{/if}}
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</template>
