<template name="roomOld">
	<div class="container-bars {{containerBarsShow unreadData uploading}}">
		{{#with unreadData}}
			{{#if since}}
				{{#if count}}
					{{> UnreadMessagesIndicator count=count since=since onJumpButtonClick=handleUnreadBarJumpToButtonClick onMarkAsReadButtonClick=handleMarkAsReadButtonClick}}
				{{/if}}
			{{/if}}
		{{/with}}
		{{#each uploading}}
			{{> UploadProgressIndicator name=name percentage=percentage error=error onClose=(handleUploadProgressCloseButtonClick id)}}
		{{/each}}
	</div>
	<div class="messages-box {{#if selectable}}selectable{{/if}} {{messageViewMode}} {{hasLeader}}">
		<button class="new-message background-primary-action-color color-content-background-color not">
			<i class="icon-down-big"></i>
			{{_ "New_messages"}}
		</button>
		<div class="jump-recent background-component-color {{#unless hasMoreNext}}not{{/unless}}">
			<button>{{_ "Jump_to_recent_messages"}} <i class="icon-level-down"></i></button>
		</div>
		{{#unless canPreview}}
			<div class="content room-not-found error-color">
				<div>
					{{_ "You_must_join_to_view_messages_in_this_channel"}}
				</div>
			</div>
		{{/unless}}
		{{#with roomLeader}}
			{{> LeaderBar name=name username=username status=status statusDisplay=statusDisplay hideLeaderHeader=hideLeaderHeader onAvatarClick=handleOpenUserCardButtonClick}}
		{{/with}}
		<div class="wrapper {{#if hasMoreNext}}has-more-next{{/if}} {{hideUsername}} {{hideAvatar}}">
			<ul class="messages-list" aria-live="polite">
				{{#if canPreview}}
					{{#if hasMore}}
						<li class="load-more">
							{{#if isLoading}}
								{{> loading}}
							{{/if}}
						</li>
					{{else}}
						<li class="start color-info-font-color">
							{{#if hasPurge}}
								{{> RetentionPolicyWarning filesOnly=filesOnly excludePinned=excludePinned purgeTimeout=purgeTimeout}}
							{{/if}}
							{{> RoomForeword }}
						</li>
					{{/if}}
				{{/if}}
				{{#unless $eq (preference 'useLegacyMessageTemplate') true}}
					{{> MessageList rid=rid }}
				{{else}}
					{{#with messageContext}}
						{{#each msg in messagesHistory}}
							{{> message showRoles=true index=@index shouldCollapseReplies=false msg=msg room=room actions=actions subscription=subscription settings=settings u=u}}
						{{/each}}
					{{/with}}
				{{/unless}}

				{{#if hasMoreNext}}
					<li class="load-more">
						{{#if isLoading}}
							{{> loading}}
						{{/if}}
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</template>
