<template name="roomOld">
	<div class="container-bars {{containerBarsClassName}}">
		{{#if hasUnreadData}}
			{{> UnreadMessagesIndicator unreadMessagesIndicatorProps}}
		{{/if}}
		{{#each upload in uploads}}
			{{> UploadProgressIndicator (uploadProgressIndicatorProps upload)}}
		{{/each}}
	</div>
	<div class="messages-box {{messagesBoxClassName}}">
		<button class="new-message background-primary-action-color color-content-background-color {{newMessageClassName}}">
			<i class="icon-down-big"></i>
			{{_ "New_messages"}}
		</button>
		<div class="jump-recent background-component-color {{jumpRecentClassName}}">
			<button>{{_ "Jump_to_recent_messages"}} <i class="icon-level-down"></i></button>
		</div>
		{{#unless canPreview}}
			<div class="content room-not-found error-color">
				<div>
					{{_ "You_must_join_to_view_messages_in_this_channel"}}
				</div>
			</div>
		{{/unless}}
		{{> LeaderBar leaderBarProps}}
		<div class="wrapper {{wrapperClassName}}">
			<ul class="messages-list" aria-live="polite">
				{{#if canPreview}}
					{{#if hasMore}}
						<li class="load-more">
							{{#if isLoading}}
								{{> LoadingMessageIndicator}}
							{{/if}}
						</li>
					{{else}}
						<li class="start color-info-font-color">
							{{#if hasPurge}}
								{{> RetentionPolicyWarning filesOnly=filesOnly excludePinned=excludePinned purgeTimeout=purgeTimeout}}
							{{/if}}
							{{> RoomForeword }}
						</li>
					{{/if}}
				{{/if}}
				{{#if $eq (preference 'useLegacyMessageTemplate') true}}
					{{#with messageContext}}
						{{#each msg in messagesHistory}}
							{{> message showRoles=true index=@index shouldCollapseReplies=false msg=msg room=room actions=actions subscription=subscription settings=settings u=u}}
						{{/each}}
					{{/with}}
				{{else}}
					{{> MessageList rid=rid }}
				{{/if}}

				{{#if hasMoreNext}}
					<li class="load-more">
						{{#if isLoading}}
							{{> LoadingMessageIndicator}}
						{{/if}}
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</template>
