.rc-apps-details {
	margin-bottom: 0;
	padding: 1rem;

	&__photo {
		width: 96px;
		height: 96px;
		margin-right: 21px;
	}

	&__content {
		padding: 0;

		color: var(--color-gray);
		justify-content: flex-start;
	}

	&__description {
		padding-bottom: 50px;

		border-bottom: 1.5px solid var(--color-gray-light);
	}

	&__col {
		display: inline-block;

		margin-right: 8px;
	}

	&__bundles {
		display: flex;

		padding-bottom: 20px;

		border-bottom: 1.5px solid var(--color-gray-light);
	}

	&__bundle {
		display: flex;

		width: 50%;
	}

	&__bundle_icons {
		display: flex;
		overflow: hidden;

		min-width: 99px;
		max-width: 99px;
		height: 99px;

		padding: 2px;

		border-radius: 2px;

		background-color: var(--color-gray-light);
		flex-wrap: wrap;
	}

	&__bundle_icon {
		min-width: 40px;
		max-width: 40px;
		height: 40px;

		margin-top: 5px;
		margin-left: 5px;

		border-radius: 2px;

		background-color: #f7f7f7;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	&__bundle_body {
		padding: 5px 10px;

		color: var(--color-gray);

		&_title {
			color: var(--color-darkest);

			font-size: 1.1em;
			font-weight: 500;
		}
	}

	&__alert {
		margin: 0.25rem 0;
		padding: 0.5rem 1rem;

		border-radius: 4px;

		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	&__alert-error {
		color: var(--color-red);
		background-color: #ffe9ec;
	}

	&__alert-warning {
		color: #b68d00;
		background-color: #fff6d6;
	}

	&__name {
		flex: 0 0 1.75rem;

		margin: 0;

		text-transform: none;

		color: var(--color-dark-medium);

		font-family: inherit;
		font-size: 1.375rem;
		font-weight: normal;
		line-height: 1.75rem;
	}

	&__author {
		font-family: inherit;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
	}

	&__side-info {
		display: inline-flex;
		align-items: center;

		&::before {
			display: inline-block;

			width: 1px;
			height: 12px;
			margin: 0 8px;

			content: '';

			background-color: currentColor;
		}

		&--twice::before {
			margin: 0 16px;
		}
	}

	&__side-info-wrapper {
		flex: 1;
	}

	&__row--centered {
		align-items: center;
	}

	&__app-status {
		display: flex;
		flex: 1;

		margin-top: 8px;
		align-items: center;
	}

	& .rc-button.loading {
		padding: 0 1.5rem;

		opacity: 0.6;

		&::before {
			display: none;
		}

		& > .rc-icon {
			animation: spin 1s linear infinite;
		}
	}
}

.divider {
	border: 0;
	border-top: 2px solid #e1e5e8;
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: visible;
	margin-block-start: 1rem;
	margin-block-end: 1rem;

	&:after {
		content: attr(data-content);
		position: relative;
		display: inline-block;
		color: black;

		padding: 0 .5rem;
		color: #e1e5e8;
		background-color: #fff;
		font-weight: 600;
		font-size: .75rem;

		top: -10px;
	}
}
.rc-dropfile {
	border: 3px #e1e5e8 dashed;
	min-height: 50px;
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	text-align: center;
	font-weight: 500;
	align-items: center;
	justify-content: center;
	color: #6c727a;
	font-size: 1rem;
	padding: 2rem;
	transition: border 250ms;

	&.error {
		border-color: var(--color-dark-red);
	}

	&.error>&--icon {
		color: var(--color-dark-red);
	}

	&.over {
		border-color: var(--color-blue);
	}

	&.over > &--icon {
		color: var(--color-blue);
	}


	&--icon {
		font-size: 3.5rem;
		color: #6c727a;
		transition: color 250ms;
	}
}
