#rocket-chat .rc-apps-marketplace {
	&__status-column {
		width: 150px;
	}

	&__table-button {
		justify-content: flex-start;
	}

	&__table-button--inactive,
	&__table-button--failed {
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&__table-button--inactive {
		color: var(--rc-color-primary-light);
	}

	&__table-button--failed {
		color: var(--rc-color-error);
	}

	&__table-button--working {
		opacity: 0.6;
		background: transparent;
	}
}
