<template name="snippetedMessages">
	<div class="list-view snippeted-messages-list flex-tab__header">
		<div class="title">
			<h2>{{_ "Snippet_Messages"}}</h2>
		</div>
		{{#if Template.subscriptionsReady}}
			{{#unless hasMessages}}
				<h2>{{_ "No_snippet_messages"}}</h2>
			{{/unless}}
		{{/if}}
	</div>
	<div class="flex-tab__result js-list">
		<ul class="list clearfix">
			{{# with messageContext}}
				{{#each msg in messages}}{{> message msg=msg room=room subscription=subscription settings=settings u=u}}{{/each}}
			{{/with}}
		</ul>
		{{#if hasMore}}
		<div class="load-more">
			{{> loading}}
		</div>
		{{/if}}
	</div>
</template>
