{
	"presets": [
		[
			"@babel/preset-env",
			{
				"bugfixes": true,
				"modules": false,
				"targets": "last 2 versions, firefox ESR, node 22",
				"exclude": ["@babel/plugin-transform-object-rest-spread"]
			}
		],
		"@babel/preset-react",
		[
			"@babel/preset-typescript",
			{
				"allowDeclareFields": true
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-transform-react-jsx",
			{
				"runtime": "automatic"
			}
		]
	],
	"env": {
		"coverage": {
			"plugins": [
				[
					"istanbul",
					{
						"exclude": ["**/*.spec.js", "**/*.test.js"]
					}
				]
			]
		}
	}
}
