{
	"presets": [
		[
            "@babel/preset-env",
            {
                "bugfixes": true,
                "modules": false,
                "targets": "last 2 versions, firefox esr, node 22.16.0"
            }
        ],
		"@babel/preset-react",
		[
			"@babel/preset-typescript",
			{
				"allowDeclareFields": true
			}
		]
	],
    "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ]
  ],
	"env": {
		"coverage": {
			"plugins": [
				[
					"istanbul",
					{
						"exclude": ["**/*.spec.js", "**/*.test.js"]
					}
				]
			]
		}
	}
}
