node_modules
data/
tests/e2e/test-failures/
packages/autoupdate/
packages/meteor-streams/
packages/meteor-timesync/
app/emoji-emojione/generateEmojiIndex.js
app/favico/favico.js
packages/rocketchat-livechat/assets/rocketchat-livechat.min.js
packages/rocketchat-livechat/assets/rocket-livechat.js
app/theme/client/vendor/
public/packages/rocketchat_videobridge/client/public/external_api.js
packages/tap-i18n/lib/tap_i18next/tap_i18next-1.7.3.js
private/moment-locales/
public/livechat/
public/pdf.worker.min.js
public/workers/**/*
imports/client/**/*
ee/server/services/dist/**
!/.mocharc.js
!/.mocharc.*.js
!/.scripts/
!/.storybook/
!/client/.eslintrc.js
!/ee/client/.eslintrc.js
