.mention-link {
	padding: 0 6px 2px;

	transition: border-radius 0.3s;

	color: var(--mention-link-text-color) !important;

	border-radius: var(--mention-link-radius);

	background-color: var(--mention-link-background) !important;

	font-weight: 700;

	&:hover {
		border-radius: var(--border-radius);
	}

	&--me {
		color: var(--mention-link-me-text-color) !important;
		background-color: var(--mention-link-me-background) !important;
	}

	&--group {
		color: var(--mention-link-group-text-color) !important;
		background-color: var(--mention-link-group-background) !important;
	}
}
