<template name="serviceAccountDashboard">
    <div class="main-content-flex">
        <section class="page-container page-home page-static page-settings content-background-color">
            {{> header sectionName=pageTitle}}
            <div class="content">
                {{#unless hasPermission}}
					<p>{{_ "You_are_not_authorized_to_view_this_page"}}</p>
				{{else}}
                    <div class="results">
						{{{_ "Showing_results" users.length}}}
					</div>
					{{#table fixed='true' onItemClick=onTableItemClick onScroll=onTableScroll onResize=onTableResize}}
						<thead>
							<tr>
								<th width="34%">
									<div class="table-fake-th">{{_ "Name"}}</div>
								</th>
								<th width="33%">
									<div class="table-fake-th">{{_ "Username"}}</div>
								</th>
								<th width="33%">
									<div class="table-fake-th">{{_ "Email"}}</div>
								</th>
								<th width="33%">
									<div class="table-fake-th">{{_ "Roles"}}</div>
								</th>
								<th width="33%">
									<div class="table-fake-th">{{_ "Status"}}</div>
								</th>
							</tr>
						</thead>
						<tbody>
							{{#each users}}
							<tr class='user-info'>
								<td width="30%">
									<div class="rc-table-wrapper">
										<div class="rc-table-avatar">
											{{> avatar username=username}}
										</div>
										<div class="rc-table-info">
											<span class="rc-table-title">{{name}}</span>
										</div>
									</div>
								</td>
								<td width="20%">
									<div class="rc-table-wrapper">
										<div class="rc-table-info">
											<span class="rc-table-title">{{username}}</span>
										</div>
									</div>
								</td>
								<td width="20%">
									<div class="rc-table-wrapper">
										<div class="rc-table-info">
											<span class="rc-table-title">{{emailAddress}}</span>
										</div>
									</div>
								</td>
								<td width="10%">
									<div class="rc-table-wrapper">
										<div class="rc-table-info">
											<span class="rc-table-title">{{roles}}</span>
										</div>
									</div>
								</td>
								<td width="20%">
									<div class="rc-table-wrapper">{{#if not active}}{{_"deactivated"}}{{else}}{{status}}{{/if}}</div>
								</td>
							</tr>
							{{else}} {{# with searchText}}
							<tr class="table-no-click">
								<td>{{_ "No_results_found_for"}} {{.}}</td>
							</tr>
							{{/with}} {{/each}} {{#unless isReady}}
							<tr class="table-no-click">
								<td class="table-loading-td" colspan="{{#if showLastMessage}}5{{else}}4{{/if}}">{{> loading}}</td>
							</tr>
							{{/unless}}
						</tbody>
					{{/table}}
				{{/unless}}
            </div>
        </section>
        {{#with flexData}}
			{{> flexTabBar}}
		{{/with}}
    </div>
</template>