<template name="serviceAccountSidebarLogin">
	<div class="rc-popover__column">
		<ul class="rc-popover__list">
			{{#if showOwnerAccountLink}}
				<p>Go back to main account</p>
				<li class='rc-member-list__user js-login'>
					{{> avatar username=owner.username}}
					<div class="rc-member-list__username">
						{{owner.username}}
					</div>
				</li>
			{{else}}
				{{#each users}}
					<li class='rc-member-list__user js-login'>
						{{> avatar username=username}}
						<div class="rc-member-list__username">
							{{username}}
						</div>
					</li>
				{{/each}}
			{{/if}}
		</ul>
	</div>
</template>