<template name="serviceAccountDashboard">
    <div class="main-content-flex">
        <section class="page-container page-home page-static page-settings content-background-color">
            {{> header sectionName=pageTitle}}
            <div class="content">
                {{#unless hasPermission}}
					<p>{{_ "You_are_not_authorized_to_view_this_page"}}</p>
				{{else}}
                    <div class="results">
						{{{_ "Showing_results" users.length}}}
					</div>
					{{#table fixed='true' onScroll=onTableScroll onResize=onTableResize}}
						<thead>
							<tr>
								<th width="20%">
									<div class="table-fake-th">{{_ "Name"}}</div>
								</th>
								<th width="20%">
									<div class="table-fake-th">{{_ "Username"}}</div>
								</th>
								<th width="40%">
									<div class="table-fake-th">{{_ "Description"}}</div>
								</th>
								<th width="10%">
									<div class="table-fake-th">{{_ "Approve"}}</div>
								</th>
								<th width="10%">
									<div class="table-fake-th">{{_ "Reject"}}</div>
								</th>
							</tr>
						</thead>
						<tbody>
							{{#unless hasUsers}}
								<tr>
									<td colspan="5" class="empty-role">{{_ "There_are_no_service_accounts_to_approve"}}</td>
								</tr>
							{{/unless}}
							{{#each users}}
							<tr class='user-info'>
								<td width="30%">
									<div class="rc-table-wrapper">
										<div class="rc-table-avatar">
											{{> avatar username=username}}
										</div>
										<div class="rc-table-info">
											<span class="rc-table-title">{{name}}</span>
										</div>
									</div>
								</td>
								<td width="20%">
									<div class="rc-table-wrapper">
										<div class="rc-table-info">
											<span class="rc-table-title">{{username}}</span>
										</div>
									</div>
								</td>
								<td width="20%">
									<div class="rc-table-wrapper">
										<div class="rc-table-info">
											<span class="rc-table-title">{{description}}</span>
										</div>
									</div>
								</td>
								<td width="10%">
									<div class="rc-table-wrapper">
										<div class="rc-table-info">
											<span class="rc-table-title"><a href="#remove" class="accept-service-account"><i class="icon-ok"></i></a></span>
										</div>
									</div>
								</td>
								<td width="10%">
									<div class="rc-table-wrapper">
										<div class="rc-table-info">
											<span class="rc-table-title"><a href="#remove" class="reject-service-account"><i class="icon-block"></i></a></span>
										</div>
									</div>
								</td>
							</tr>
							{{/each}} {{#unless isReady}}
							<tr class="table-no-click">
								<td class="table-loading-td" colspan="{{#if showLastMessage}}5{{else}}4{{/if}}">{{> loading}}</td>
							</tr>
							{{/unless}}
						</tbody>
					{{/table}}
				{{/unless}}
            </div>
        </section>
    </div>
</template>