<template name="videoButtons">
	<div class="group-call-buttons">
		{{#if videoAvaliable}}
			{{#unless videoActive}}
				{{#if callInProgress}}
					<button class="join-video-call button secondary"><i class="icon-videocam"></i>{{_ "Join"}}</button>
					<button class="join-audio-call button secondary"><i class="icon-phone"></i>{{_ "Join"}}</button>
				{{else}}
					<button class="start-video-call button"><i class="icon-videocam"></i>{{_ "Start"}}</button>
					<button class="start-audio-call button"><i class="icon-phone"></i></button>
				{{/if}}
			{{/unless}}
		{{/if}}
	</div>
</template>
