<template name="avatarSuggestion">
	{{#if .}}
		<div class="avatar-suggestion-item">
			<div style="background-image: url({{blob}});">
			</div>
			<button type="button" class="button primary select-service">Use {{service}} avatar</button>
		</div>
	{{/if}}
</template>

<template name="avatarSuggestionLogin">
	{{#if .}}
		<div class="avatar-suggestion-item">
			<div class="question-mark">
			</div>
			<button type="button" class="button primary">Login with {{.}}</button>
		</div>
	{{/if}}
</template>

<template name="avatarPrompt">
	<form id="login-card" method='/'>
		<div class="fields">
			<h2>Selecione um avatar</h2>
		</div>
		<div class="fields">
			<div class='input-text active'>
				<div class='field'>
					<div class="avatar-suggestions">
						{{#if suggestions.ready}}
							{{> avatarSuggestion suggestions.avatars.gravatar}}
							{{> avatarSuggestion suggestions.avatars.facebook}}
							{{> avatarSuggestion suggestions.avatars.google}}
							{{> avatarSuggestion suggestions.avatars.github}}

							{{#unless suggestions.avatars.gravatar}}
								{{> avatarSuggestionLogin 'gravatar'}}
							{{/unless}}
							{{#unless suggestions.avatars.facebook}}
								{{> avatarSuggestionLogin 'facebook'}}
							{{/unless}}
							{{#unless suggestions.avatars.google}}
								{{> avatarSuggestionLogin 'google'}}
							{{/unless}}
							{{#unless suggestions.avatars.github}}
								{{> avatarSuggestionLogin 'github'}}
							{{/unless}}

							<div class="avatar-suggestion-item">
								<div style="background-image: url({{upload.blob}});" class="{{#unless upload}}question-mark{{/unless}}">
								</div>
								{{#with upload}}
									<button type="button" class="button primary select-service">Use uploaded avatar</button>
								{{/with}}
								{{#unless upload}}
									<button type="button" class="button primary">Select file
										<input type="file" class="myFileInput">
									</button>
								{{/unless}}
							</div>
						{{else}}
							{{_ "usernameRegistration.Loading_suggestion"}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>

		{{#if username.ready}}
			<div class="submit">
				<button data-loading-text="{{_ "general.Please_wait"}}..." class='button primary login'><span>{{_ "usernameRegistration.Use_this_username"}}</span></button>
			</div>
		{{/if}}
	</form>
</template>
