<template name="adminFlex">
	<header>
		<div>
			<h4>{{_ "Administration"}}</h4>
		</div>
	</header>
	<div class="content">
		<div class="wrapper">
			<ul>
				<li>
					<a href="{{pathFor 'admin-statistics'}}" class="admin-link">{{_ "Statistics"}}</a>
				</li>
				<li>
					<a href="{{pathFor 'admin-rooms'}}" class="admin-link">{{_ "Rooms"}}</a>
				</li>
				<li>
					<a href="{{pathFor 'admin-users'}}" class="admin-link">{{_ "Users"}}</a>
				</li>
				
				<h3 class="add-room">
					{{_ "Settings"}}
				</h3>
				{{#each groups}}
				<li>
					<a href="{{pathFor 'admin' group=_id}}" class="admin-link">{{_ i18nLabel}}</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>
