<template name="admin">
	<section class="page-container page-home page-static page-settings">
		<head class="fixed-title">
			{{> burger}}
			<h2>
				<span class="room-title">{{#with group}}{{label}}{{/with}}</span>
			</h2>
		</head>
		<div class="content">
			{{#unless hasPermission 'view-privileged-setting'}}
				<p>You are not authorized to view this page.</p>
			{{else}}
				{{#with group}}
					<div class="info">
						<h3>{{description}}</h3>
					</div>
				{{/with}}
				<div class="rocket-form">
					<fieldset>
						{{#each sections}}
							<div class="section">
								{{#if section}}
									<h1>{{section}}</h1>
								{{/if}}
								<div class="section-content">
									{{#if section}}
										{{#if sectionIsCustomOath section}}
											<div class="section-helper">
												{{#with callbackURL section}}
													{{{_ "Custom_oauth_helper" .}}}
												{{/with}}
											</div>
										{{/if}}
									{{/if}}
									{{#each settings}}
										{{#if $eq type 'string'}}
											<div class="input-line double-col">
												<label>{{label}}</label>
												<div>
													{{#if multiline}}
														<textarea name="{{_id}}" rows="4" style="height: auto">{{value}}</textarea>
													{{else}}
														<input type="text" name="{{_id}}" value="{{value}}" />
													{{/if}}
													{{#if description}}
														<small>{{description}}</small>
													{{/if}}
												</div>
											</div>
										{{/if}}
										{{#if $eq type 'int'}}
											<div class="input-line double-col">
												<label>{{label}}</label>
												<div>
													<input type="number" name="{{_id}}" value="{{value}}" />
													{{#if description}}
														<small>{{description}}</small>
													{{/if}}
												</div>
											</div>
										{{/if}}
										{{#if $eq type 'boolean'}}
											<div class="input-line double-col">
												<label>{{label}}</label>
												<div>
													<label><input type="radio" name="{{_id}}" value="1" checked="{{$eq value true}}" /> {{_ "True"}}</label>
													<label><input type="radio" name="{{_id}}" value="0" checked="{{$eq value false}}" /> {{_ "False"}}</label>
												{{#if description}}
												<br /><small>{{description}}</small>
												{{/if}}
												</div>
												
											</div>
										{{/if}}
										{{#if $eq type 'color'}}
											<div class="input-line double-col">
												<label>{{label}}</label>
												<div>
													<input type="text" class="minicolors" name="{{_id}}" value="{{value}}" />
													{{#if description}}
														<small>{{description}}</small>
													{{/if}}
												</div>
											</div>
										{{/if}}
									{{/each}}

									{{#if section}}
										{{#if sectionIsCustomOath section}}
											<div class="submit">
												<button class="button delete remove-custom-oauth"><span>{{_ "Remove_custom_oauth"}}</span></button>
											</div>
										{{/if}}
									{{/if}}
								</div>
							</div>
						{{/each}}
					</fieldset>
					<div class="submit">
						{{#if $eq group._id 'Accounts'}}
							<button class="button secondary add-custom-oauth"><span>{{_ "Add_custom_oauth"}}</span></button>
						{{/if}}
						<button class="button save"><i class="icon-send"></i><span>{{_ "Save_changes"}}</span></button>
					</div>
				</div>
			{{/unless}}
		</div>
	</section>
</template>
