<template name="chatMessageDashboard">
	{{#if ../dateSeparator}}
		<li class="date">
			<span>{{messageDate ts}}</span>
		</li>
	{{/if}}
	<li id="{{_id}}" class="message {{#unless ../single}}with-thumb{{/unless}} {{own}} {{type}}">
		{{#if isSystemMessage}}
			<p class="system">{{{message}}}</p>
		{{else}}
			{{#unless ../single}}
				<a class="thumb user-card-message" href="#" data-username="{{u.username}}" tabindex="1">
					{{> avatar username=u.username}}
				</a>
				<a class="user user-card-message" href="#" data-username="{{u.username}}" tabindex="1">{{u.username}}</a>
				<span class="time">
					{{time}}
					{{#if ets}}
						({{_ "edited"}})
					{{/if}}
					<i class="icon-pencil edit-message"></i>
				</span>
			{{/unless}}
			{{#if isEditing}}
				<div class="input-message-editing-container">
					{{> messagePopupConfig getPupupConfig}}
					<textarea class="input-message-editing" dir="auto">{{msg}}</textarea>
				</div>
			{{else}}
				{{#if ../single}}
					<span class="time-single">
						<div class="time-single-time">
							<i class="icon-pencil edit-message"></i>
							{{time}}
						</div>
						{{#if ets}}
							<div class="time-single-edited">
								({{_ "edited"}})
							</div>
						{{/if}}
					</span>
				{{/if}}
				<div dir="auto">
					{{{message}}}
					{{#if urls}}
						{{#each urls}}
							{{> oembed url=this}}
						{{/each}}
					{{/if}}
				</div>
			{{/if}}
		{{/if}}
	</li>
</template>
