<template name="flexTabBar">
	{{#each buttons}}
		<div class="tab-button {{active}}" data-template="{{template}}" title="{{title}}">
			<i class="{{icon}}"></i>
		</div>
	{{/each}}
	{{!-- <div class="tab-button" data-target="messageSearch" title="Search">
		<i class="icon-search"></i>
	</div>
	<div class="tab-button" data-target="membersList" title="Member List">
		<i class="icon-users"></i>
	</div> --}}
	{{!-- <div class="tab-button" data-target="pinned-messages" title="Pinned Messages">
		<i class="icon-pin"></i>
	</div>
	<div class="tab-button" data-target="room-files" title="Files">
		<i class="icon-hdd"></i>
	</div>
	<div class="tab-button" data-target="chat-ops" title="ChatOps">
		<i class="icon-code"></i>
	</div>
	<div class="tab-button" data-target="channel-settings" title="Channel Settings">
		<i class="icon-cog"></i>
	</div> --}}
</template>
