<template name="flexTabBar">
	<div class="tab-button" title="Search">
		<i class="icon-search"></i>
	</div>
	<div class="tab-button" data-target="member-list" title="Member List">
		<i class="icon-users"></i>
	</div>
	<div class="tab-button" title="Pinned Messages">
		<i class="icon-pin"></i>
	</div>
	<div class="tab-button" title="Files">
		<i class="icon-hdd"></i>
	</div>
	<div class="tab-button" title="ChatOps">
		<i class="icon-code"></i>
	</div>
	<div class="tab-button" title="Channel Settings">
		<i class="icon-cog"></i>
	</div>
</template>
