<template name="home">
	<section class="page-container page-home page-static">
		<header class="fixed-title">
			<div class="burger">
				<i></i>
				<i></i>
				<i></i>
			</div>
			<h2>
				<span class="room-title">Welcome to Chat Locker</span>
			</h2>
		</header>
		<div class="content">

			<div class="info">
				<!-- <p>{{_ "Have_your_own_chat"}}</p> -->
				<p>&larr; {{_ "use_menu"}}.</p>
			</div>
		</div>
	</section>
	<!-- <section class="flex-tab">
		<div class="control">
			<button class="more"><span class="arrow {{arrowPosition}}"></span></button>
		</div>
		<div class="content">
			<div class="list-view">
				<div class="status">
					<h2>{{_ "Chat_Rooms"}}</h2>
					<p>
						{{{_ "Showing_online_users" total_online=1 total=1}}}
					</p>
				</div>
			</div>
		</div>
	</section> -->
</template>
