<template name="message">
	<li
		id="{{_id}}"
		class="message sequential {{system}} {{t}} {{own}} {{isTemp}} {{chatops}} {{createdVia}}"
		data-message-type="{{t}}"
		data-username="{{u.username}}"
		data-date="{{date}}">
		{{#unless system}}
			<a class="thumb user-card-message" href="#" data-username="{{u.username}}" tabindex="1">{{> avatar username=u.username}}</a>
			<a class="user user-card-message" href="#" data-username="{{u.username}}" tabindex="1">{{u.username}}</a>
		{{/unless}}
		<span class="info">
		{{#if edited}}
			<span
				title='{{_ "edited"}} at {{editTime}} {{_ "by"}} {{editedBy}}'
				class="time">
				{{time}}
			</span>
			<span
				class="edited"
				title='{{_ "edited"}} at {{editTime}} {{_ "by"}} {{editedBy}}'>
				<i class="icon-edit"></i>
				{{_ "by"}}
				<a
					class="thumb thumb-small user-card-message"
					href="#"
					data-username="{{editedBy}}"
					tabindex="1">
					{{> avatar username=editedBy}}
				</a>
			</span>
		{{else}}
			<span class="time">{{time}}</span>
		{{/if}}
		{{#if private}}
			<span class="private">{{_ "Only_you_can_see_this_message"}}</span>
		{{/if}}
		{{#if actions.length}}
			<div class="message-cog-container">
				<i class="icon-cog message-cog"></i>
				<div class="message-dropdown">
					<ul>
						<li class="message-dropdown-close"><i class=" icon-angle-left"></i></li>
						{{#each actions}}
							<li class="{{id}} {{classes}} message-action" title="{{_ i18nLabel}}"><i class="{{icon}}"></i></li>
						{{/each}}
					</ul>
				</div>
			</div>
		{{/if}}
		</span>

		<div class="body" dir="auto">
	                {{#if system}}
				<a class="thumb thumb-small user-card-message" href="#" data-username="{{u.username}}" tabindex="1">{{> avatar username=u.username}}</a>
				<a class="user user-card-message" href="#" data-username="{{u.username}}" tabindex="1">{{u.username}}</a>
			{{/if}}
			{{#if createdViaMe}}
				<span class="created-via-me">
					<span class="octicon octicon-quote"></span>
				</span>
			{{/if}}
			{{{body}}}
		</div>
	</li>
</template>
