<template name="room">
	<div class="dropzone">
		<div class="dropzone-overlay">
			<div>
				{{_ "Drop_to_upload_file"}}
			</div>
		</div>
		<section class="messages-container {{adminClass}}" id="{{windowId}}">
			<header class="fixed-title">
				{{> burger}}
				<h2>
					{{#if showToggleFavorite}}
						<a href="#favorite" class="toggle-favorite"><i class="{{favorite}}"></i></a>
					{{/if}}
					<i class="{{roomIcon}} status-{{userStatus}}"></i>
					<span class="room-title {{editingTitle}}">{{roomName}}</span>
					{{#if canEditName}}
					<input type="text" id="room-title-field" class="{{showEditingTitle}}" value="{{roomNameEdit}}" dir="auto">
					<a href="#edit" class="edit-room-title"><i class="icon-pencil" aria-label="{{_ "Edit"}}"></i></a>
					{{/if}}
				</h2>
			</header>
			<div class="upload-progress">
				{{#each uploading}}
					<div class="upload-progress-item {{#if error}}upload-error{{/if}}">
						{{#if error}}
							{{error}}
							<a>
								close
							</a>
						{{else}}
							<div class="upload-progress-progress" style="width: {{percentage}}%;"></div>
							{{name}}... {{percentage}}%
							<a>
								cancel
							</a>
						{{/if}}
					</div>
				{{/each}}
			</div>
			{{#if unreadCount}}
				{{#if unreadSince}}
					<div class="unread-bar">
						{{_ "S_new_messages_since_s" unreadCount formatUnreadSince}}
						<a>
							{{_ "Mark_as_read"}}
						</a>
					</div>
				{{/if}}
			{{/if}}
			<div class="messages-box {{compactView}}">
				<div class="ticks-bar"></div>
				<div class="wrapper">
					<ul aria-live="polite">
						{{#if hasMore}}
							<li class="load-more">
								{{#if isLoading}}
									<div class="load-more-loading">{{_ "Loading_more_from_history"}}...</div>
								{{else}}
									<a href="">{{_ "Has_more"}}...</a>
								{{/if}}
							</li>
						{{else}}
							<li class="start">
								{{_ "Start_of_conversation"}}
							</li>
						{{/if}}
						{{#each messagesHistory}}
							{{#nrr nrrargs 'message' .}}{{/nrr}}
						{{/each}}
					</ul>
				</div>
				<div class="new-message not">
					<i class="icon-down-big"></i>
					<span>{{_ "New_messages"}}</span>
				</div>
			</div>
			<footer class="footer">
				{{#if subscribed}}
					<form class="message-form" method="post" action="/">
						<div style="display: flex">
							<div class="file">
								<i class="octicon octicon-cloud-upload file"></i>
								<input type="file" accept="{{fileUploadAllowedMediaTypes}}">
							</div>
							<div class="input-message-container">
								{{> messagePopupConfig getPupupConfig}}
								<textarea dir="auto" name="msg" maxlength="{{maxMessageLength}}" class="input-message autogrow-short" placeholder="{{_ 'Message'}}"></textarea>
							</div>

							{{#if canRecordAudio}}
								<div class="mic">
									<i class="icon-mic" aria-label="{{_ "Record"}}"></i>
								</div>
								<div class="stop-mic hidden">
									<i class="icon-stop" aria-label="{{_ "Stop_Recording"}}"></i>
								</div>
							{{/if}}
						</div>
						<div class="users-typing">
							{{#with usersTyping}}
								<strong>{{users}}</strong>
								{{#if multi}}
									{{#if selfTyping}}
										{{_ "are_also_typing"}}
									{{else}}
										{{_ "are_typing"}}
									{{/if}}
								{{else}}
									{{#if selfTyping}}
										{{_ "is_also_typing" context="male"}}
									{{else}}
										{{_ "is_typing" context="male"}}
									{{/if}}
								{{/if}}
							{{/with}}
						</div>

						{{#if showFormattingTips}}
						<div class="formatting-tips" aria-hidden="true" dir="auto">
							{{#if showMarkdown}}
							<b>*{{_ "bold"}}*</b>
							<i>_{{_ "italics"}}_</i>
							<span>~<strike>{{_ "strike"}}</strike>~</span>
							<code class="inline">`{{_ "inline_code"}}`</code>
							{{/if}}
							{{#if showHighlight}}
							<code class="inline"><span class="hidden-br"><br></span>```<span class="hidden-br"><br></span><i class="icon-level-down"></i>{{_ "multi"}}<span class="hidden-br"><br></span><i class="icon-level-down"></i>{{_ "line"}}<span class="hidden-br"><br></span><i class="icon-level-down"></i>```</code>
							{{/if}}
							{{#if showMarkdown}}
							<q><span class="hidden-br"><br></span>&gt;{{_ "quote"}}</q>
							{{/if}}

						</div>
						{{/if}}
						<div class="editing-commands" aria-hidden="true" dir="auto">
							<div class="editing-commands-cancel">{{_ 'Esc_to'}} <a href="">{{_ 'Cancel'}}</a></div>
							<div class="editing-commands-save">{{_ 'Enter_to'}} <a href="">{{_ 'Save_changes'}}</a></div>
						</div>
					</form>
				{{else}}
					{{#if canJoin}}
					<div>
						{{{_ "you_are_in_preview_mode_of" room_name=roomName}}}
						<button class="button join"><span><i class="icon-login"></i> {{_ "join"}}</span></button>
					</div>
					{{/if}}
				{{/if}}
			</footer>
		</section>
		<section class="flex-tab">
			{{> Template.dynamic template=flexTemplate data=flexData}}
		</section>
	</div>
</template>