<template name="settings">
	<section class="page-container page-home page-static">
		<header class="fixed-title">
			<div class="burger">
				<i></i>
				<i></i>
				<i></i>
			</div>
			<h2>
				<span class="room-title">{{_ "App_Settings"}}</span>
			</h2>
		</header>
		<div class="content">
			<div class="info">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div class="rocket-form">
				<fieldset>
					<legend>
						<h3>This is another section</h3>
						<p>This is a configuration text. With configuration info</p>
					</legend>
					<div class="input-line double-col">
						<label>Input Field</label>
						<div>
							<input type="text" name="input-name" />
						</div>
					</div>
					<div class="input-line double-col">
						<label>Select Field</label>
						<div>
							<select name="select">
								<option value="1">Option A</option>
								<option value="1">Option B</option>
								<option value="1">Option C</option>
								<option value="1">Option D</option>
								<option value="1">Option E</option>
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						<h3>This is another section</h3>
						<p>This is a configuration text. With configuration info</p>
					</legend>
					<div class="input-line double-col">
						<label>Radio field</label>
						<div>
							<label><input type="radio" name="pandora" value="1" /> Calazar</label>
							<label><input type="radio" name="pandora" value="2" /> Genoveve</label>
						</div>
					</div>
					<div class="input-line double-col">
						<label>Checkbox field</label>
						<div>
							<label><input type="checkbox" name="pandora" value="1" /> Calazar</label>
							<label><input type="checkbox" name="pandora" value="2" /> Genoveve</label>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						<h3>This is another section</h3>
						<p>This is a configuration text. With configuration info</p>
					</legend>
					<div class="input-line double-col">
						<label>Input Field</label>
						<div>
							<input type="text" name="input-name" />
						</div>
					</div>
					<div class="input-line double-col">
						<label>Select Field</label>
						<div>
							<select name="select">
								<option value="1">Option A</option>
								<option value="1">Option B</option>
								<option value="1">Option C</option>
								<option value="1">Option D</option>
								<option value="1">Option E</option>
							</select>
						</div>
					</div>
				</fieldset>
				<div class="submit">
					<button class="button"><i class="icon-send"></i><span>Save changes</span></button>
				</div>
			</div>
		</div>
	</section>
	<!-- <section class="flex-tab">
		<div class="control">
			<button class="more"><span class="arrow {{arrowPosition}}"></span></button>
		</div>
		<div class="content">
			<div class="list-view">
				<div class="status">
					<h2>{{_ "Chat_Rooms"}}</h2>
					<p>
						{{{_ "Showing_online_users" total_online=1 total=1}}}
					</p>
				</div>
			</div>
		</div>
	</section> -->
</template>
