<template name="userCard">
	<div class="user-profile">
		<span class="-close"><i title="{{_ "close"}}" class="icon-cancel"></i></span>
		{{#with userData}}
			<div class="thumb">
				{{> avatar username=username}}
			</div>
			<div class="info">
				<h3>{{name}}</h3>
				{{!--
				{{#each emails}}
					<p><i class="icon-mail"></i> <a href="mailto:{{address}}">{{address}}</a></p>
				{{/each}}
				{{#if phone}}
					<p><i class="icon-phone"></i> <a href="tel:{{phone}}">{{phone}}</a></p>
				{{/if}}
				--}}
			</div>
		{{/with}}
	</div>
	<div class="profile-buttons">
		{{#unless $.Session.equals 'userProfileActive' $.Meteor.userId}}
			<button class="button primary small private-chat"><span><i class='icon-chat'></i> {{_ "Conversation"}}</span></button>
		{{/unless}}
		{{#if canManageRoom}}
			<button class="button delete small remove-user"><span><i class='icon-cancel'></i> {{_ "Remove"}}</span></button>
		{{/if}}
	</div>
</template>
