.inner-addon {
	position: relative;
	left: 24px;

	box-sizing: border-box;
	width: 345px;
	height: 40px;

	border: 2px solid #cbced1;
	border-radius: 2px;
	background: #ffffff;
}

.inner-addon .glyphicon {
	position: absolute;
	bottom: 0.5%;

	padding: 10px;

	pointer-events: none;

	color: #2f343d;
}

.searchresults {
	margin-top: 7%;
}

.search-li {
	position: relative;

	display: block;

	height: 65px;

	padding-bottom: 3%;

	background-color: #ffffff;
}

.search-li :hover {
	cursor: default;
}

.closed-div {
	position: relative;

	top: 20px;
}

.closed-div-p {
	width: 100%;

	margin: 10px 0 15px;

	text-align: center;

	border-radius: 2px;

	background: #f5455c;

	font-size: 10px;

	line-height: 0.15em;
}

.closed-div-p span {
	top: 3px;
	right: 138px;

	width: 101px;
	height: 12px;

	padding-right: 8px;
	padding-left: 8px;

	text-align: center;

	color: #f5455c;

	background: white;

	font-family: Inter;
	font-weight: 600;
	font-style: normal;
}

.closed-h1 h1 {
	text-transform: none !important;

	color: #6c727a !important;

	font-size: 14px !important;
	font-weight: 600px !important;
	font-style: italic !important;
	line-height: 20px !important;
}

.closed-p p {
	top: 25px !important;

	color: #9ea2a8 !important;

	font-weight: 500 !important;
	font-style: italic !important;
}

.belldiv {
	position: absolute;

	top: 12px;
	left: 24px;

	width: 36px;
	height: 36px;

	background: #e4e7ea;
}

.belldiv i {
	position: relative;
	top: 15.79%;
	left: 22.31%;
}

.chat-history-main {
	position: relative;

	left: 2px;

	display: flex;

	width: 100%;
	height: 68px;

	background: #ffffff;
}

.chat-history-img img {
	position: absolute;

	top: 12px;
	left: 24px;

	width: 36px;
	height: 36px;
}

.chat-history-detail-main {
	position: relative;

	top: 8px;
	left: 68px;

	display: inline-block;
}

.chat-history-detail-main-upper {
	display: flex;
}

.chat-history-detail-main-upper h1 {
	position: static;

	top: 0;
	left: 0;

	flex: none;

	height: 22px;

	margin: 4px px;
	margin-right: 4px;

	text-transform: lowercase;

	color: #2f343d;

	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	line-height: 22px;

	align-self: center;

	order: 0;
}

.chat-history-detail-main-upper p {
	position: static;
	top: 6px;

	flex: none;

	height: 16px;

	margin: 4px 0;

	color: #9ea2a8;

	font-family: Inter;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	line-height: 16px;

	align-self: flex-end;

	order: 1;
}

.chat-history-detail-main-lower p {
	position: absolute;

	top: 29px;

	width: 625px;
	height: 20px;

	color: #2f343d;

	font-family: Inter;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
}

.chat-history-container {
	position: relative;

	top: 27px;
	left: 24px;

	width: 345px;
}

.chat-history-container ul li {
	display: block;
}

.chat-history-msg-count p {
	width: 100%;

	margin: 10px 0 20px;

	text-align: center;

	border-radius: 2px;

	background: #cbced1;

	font-size: 10px;

	line-height: 0.15em;
}

.chat-history-msg-count p span {
	top: 3px;
	right: 156px;

	width: 65px;
	height: 12px;

	padding-right: 8px;
	padding-left: 8px;

	text-align: center;

	color: #6c727a;

	background: white;

	font-family: Inter;
	font-weight: 600;
	font-style: normal;
}

.visitor-history-no-result {
	position: relative;

	top: 30px;
	left: 6%;

	font-weight: 700;
}

#visitor-history-search-input {
	position: absolute;

	top: 10px;
	right: 46px;
	bottom: 10px;
	left: 16px;

	width: 92%;

	color: #9ea2a8;

	border: none;

	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	line-height: 20px;
}

.right-addon .glyphicon {
	right: 0;
}

.right-addon input {
	padding-right: 30px;
}

.visitor-history-block {
	margin-top: 10%;
}

.visitor-history-block ul li {
	display: block;

	width: 390px;

	padding-bottom: 5%;

	cursor: pointer;

	border-bottom: 2px solid #f2f3f5;

	background-color: #ffffff;
}

.visitor-history-block ul a {
	text-decoration: none;

	color: black;
}

#allist li:hover {
	background-color: rgba(15, 34, 0, 0.05) !important;
}

.history-div {
	display: flex;
}

.visitor-img {
	display: contents;
}

.visitor-img img {
	position: relative;

	top: 16px;
	left: 24px;

	width: 36px;
	height: 36px;

	border-radius: 1.75px;
}

.visitor-history-details {
	margin-left: 2%;
}

.visitor-details {
	display: -webkit-inline-box;
}

.visitor-details h1 {
	position: relative;

	top: 16px;
	left: 25px;

	height: 22px;

	text-transform: lowercase;

	color: #2f343d;

	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	line-height: 22px;
}

/*
#conten {
	position: absolute;
	left: 0px;
	right: 0px;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
*/

.visitor-details p {
	position: relative;

	top: 21px;
	left: 29px;

	height: 16px;

	color: #9ea2a8;

	font-family: Inter;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	line-height: 16px;
}

.total-messages {
	color: grey;

	font-size: 0.8rem;
}

.total-messages p {
	position: relative;

	top: 16px;
	right: 84px;
	left: 25px;

	height: 16px;

	color: #9ea2a8;

	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	line-height: 16px;
}

.agent-comment {
	margin-top: 3%;

	font-size: 0.8rem;
}

.comment-heading {
	position: relative;

	top: 15px;
	right: 84px;
	left: 25px;

	height: 16px;

	color: #6c727a;

	font-family: Inter;
	font-size: 10px;
	font-weight: 600;
	font-style: normal;
	line-height: 12px;
}

.comment-text {
	position: relative;

	top: 15px;
	right: 24px;
	left: 25px;

	width: 268px;

	color: #9ea2a8;

	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	font-style: italic;
	line-height: 16px;
}

.open {
	padding-left: 4% !important;
}

.contextual-heading {
	position: absolute;
	top: 25px;
	left: 57px;

	display: flex;

	width: 249px;

	height: 22px;

	color: #2f344d;

	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 22px;

	align-items: center;
}
