/* General */
@import 'imports/general/variables.css';
@import 'imports/general/reset.css';
@import 'imports/general/base_old.css';
@import 'imports/general/base.css';
@import 'imports/general/animations.css';
@import 'imports/general/apps.css';

/* Forms */
@import 'imports/general/forms.css';
@import 'imports/forms/button.css';
@import 'imports/forms/input.css';
@import 'imports/forms/select.css';
@import 'imports/forms/popup-list.css';
@import 'imports/forms/select-avatar.css';
@import 'imports/forms/switch.css';
@import 'imports/forms/tags.css';
@import 'imports/forms/checkbox.css';

/* Typography */
@import 'imports/general/typography.css';

/* Sidebar */
@import 'imports/components/sidebar/sidebar.css';
@import 'imports/components/sidebar/sidebar-header.css';
@import 'imports/components/sidebar/sidebar-item.css';
@import 'imports/components/sidebar/sidebar-flex.css';
@import 'imports/components/sidebar/toolbar.css';
@import 'imports/components/sidebar/rooms-list.css';

/* Main */
@import 'imports/components/flex-nav.css';
@import 'imports/components/header.css';
@import 'imports/components/memberlist.css';
@import 'imports/components/main-content.css';
@import 'imports/components/message-box.css';
@import 'imports/components/avatar.css';
@import 'imports/components/badge.css';
@import 'imports/components/popover.css';
@import 'imports/components/alerts.css';
@import 'imports/components/popout.css';
@import 'imports/components/modal.css';
@import 'imports/components/tooltip.css';
@import 'imports/components/slider.css';
@import 'imports/components/chip.css';
@import 'imports/components/messages.css';
@import 'imports/components/contextual-bar.css';
@import 'imports/components/emojiPicker.css';
@import 'imports/components/table.css';
@import 'imports/components/tabs.css';

/* Modal */
@import 'imports/components/modal/full-modal.css';
@import 'imports/components/modal/create-channel.css';

/* User Info */
@import 'imports/components/userInfo.css';

/* RTL */
@import 'imports/general/rtl.css';

/* Visitor History CSS */
.inner-addon{
	position: relative;
	left: 24px;
	width: 345px;
	height: 40px;
	background: #ffffff;
	border: 2px solid #CBCED1;
	box-sizing: border-box;
	border-radius: 2px;
}
.inner-addon .glyphicon{
	position: absolute;
	top:12.5%;
	bottom:12.5%;
	color: #2F343D;
	padding: 10px;
	pointer-events: none;
	
}
.searchresults{
    margin-top:7%;
}
.search-li{
    display: block;
    padding-bottom: 3%;
    position: relative;
    height: 65px;
    left:24px;
    background-color: #ffffff;
}
.closed-div{
    position: relative;
    top:20px;
}
.closed-div-p{
    background: #F5455C;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    line-height: 0.15em;
    font-size: 10px;
    margin:10px 0 15px;
}
.closed-div-p span{
    width: 101px;
    height:12px;
    right:138px;
    top:3px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color:#f5455c;
    background: white;
    padding-left: 8px;
    padding-right: 8px;
}
.closed-h1 h1{
    color:#6c727a !important;
    line-height: 20px !important;
    font-size: 14px !important;
    font-weight: 600px !important;
    font-style: italic !important;
    text-transform: none !important;
}
.closed-p p{
    color: #9ea2a8 !important;
    font-style: italic !important;
    font-weight: 500 !important;
    top:25px !important;
}
.belldiv{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 12px;
    background: #E4E7EA;
}
.belldiv i {
    position: relative;
    left: 22.31%;
    top:15.79%;
}
.history-main{
    display: flex;
    position: relative;
    width: 345px;
    height: 68px;
    left: 2px;
    background: #ffffff;
}
.history-img img{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 12px;
}
.history-detail-main{
    display: inline-block;
    position: relative;
    left: 43px;
    top: 8px;
}
.detail-main-upper{
    display: flex;
}
.detail-main-upper h1{
    position: static;
    height: 22px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: lowercase;
    color: #2F343D;
    flex: none;
    order: 0;
    align-self: center;
    margin: 4px 0px;
    margin-right: 4px;
}
.detail-main-upper p{
    position: static;
    height: 16px;
    top: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #9EA2A8;
    flex: none;
    order: 1;
    align-self: flex-end;
    margin: 4px 0px;
    
}
.detail-main-lower p{
    position: absolute;
    width: 625px;
    height: 20px;
    top: 29px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #2F343D;
}
.chatHistory{
    position: relative;
    left: 24px;
    width: 345px;
    top: 27px;
}
.chatHistory ul li{
    display: block;
}
.msgcount p{
    background: #CBCED1;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    line-height: 0.15em;
    font-size: 10px;
    margin: 10px 0 20px;
}
.msgcount p span{
    width: 65px;
    height: 12px;
    right: 156px;
    top: 3px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #6C727A;
    background: white;
    padding-left: 8px;
    padding-right: 8px;
}
.noresult{
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 6%;
}
#searchInput{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:#9EA2A8;
    position: absolute;
    left:16px;
    right:46px;
    top:10px;
    bottom:10px;
    border:none;
    width:92%;
}

.right-addon .glyphicon{
    right: 0px;
}
.right-addon input{
    padding-right: 30px;
}
.vistior-history-block{
    margin-top: 10%;
}
.vistior-history-block ul li{
    border-bottom: 2px solid #F2F3F5;
    display: block;
    padding-bottom: 3%;
    cursor: pointer;
    
    width: 390px;
    height: 105px;
    left:-1px;
    
    background-color: #ffffff;
}
.vistior-history-block ul a{
    text-decoration: none;
    color: black;
}
.vistior-history-block ul li:hover{
    background-color: #f2f3f5;
}
.history-div{
    display: flex;
}
.visitor-img{
    display:contents;
}
.visitor-img img{
    position: relative;
    width: 36px;
    height: 36px;
    left:24px;
    top:16px;
    border-radius:1.75px;
}
.visitor-history-details{
    margin-left: 2%;
}
.visitor-details{
    display: -webkit-inline-box;
}
.visitor-details h1{
    position: relative;
    width: 103px;
    height: 22px;
    left: 25px;
    top: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-transform: lowercase;
    color: #2F343D;
}
.contextual-bar__content{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.visitor-details p{
    position: relative;
    /*width: 108px;*/
    height: 16px;
    left: -15px;
    top: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #9EA2A8;
}
.total-messages{
    font-size: 0.8rem;
    color: grey;
}
.total-messages p{
    position: relative;
    height: 16px;
    left: 25px;
    right: 84px;
    top: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color:#9EA2A8;
}
.agent-comment{
    margin-top: 3%;
    font-size: 0.8rem;
}
.comment-heading{
position: relative;
height: 16px;
left:25px;
right:84px;
top:15px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
color:#6C727A;
}
.comment-text{
    position: relative;
    height: 33px;
    left:25px;
    right:24px;
    top:15px;
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color:#9EA2A8;
}
.open{
    padding-left: 4% !important;
}
.loding{
    text-align: center;
    font-family: Inter;
}