<template name="adminUserInfo">
	<div class="about clearfix">
		<div class="thumb">
			{{> avatar username=username}}
		</div>
		<div class="info">
			<h3>{{name}}</h3>
			<p><i class="icon-at"></i> {{username}}</p>
			{{#if utcOffset}}<p><i class="icon-location"></i> {{utcOffset}}</p>{{/if}}
			{{#each emails}} <p><i class="icon-mail"></i> {{address}}{{#if verified}}&nbsp;<i class="icon-ok"></i>{{/if}}</p> {{/each}}
			{{#each phone}} <p><i class="icon-phone"></i> {{phoneNumber}}</p> {{/each}}
			{{#if lastLogin}} <p><i class="icon-clock"></i> {{_ "Last_login"}}: {{lastLogin}}</p> {{/if}}
		</div>
	</div>
	<nav>
		<button class='button lightblue edit-user button-block'><span><i class='icon-edit'></i> {{_ "Edit"}}</span></button>
		{{#if admin}}
		<button class='button lightblue remove-admin button-block'><span><i class='icon-shield'></i> {{_ "Remove_Admin"}}</span></button>
		{{else}}
		<button class='button lightblue make-admin button-block'><span><i class='icon-shield'></i> {{_ "Make_Admin"}}</span></button>
		{{/if}}
		{{#if active}}
		<button class='button deactivate button-block'><span><i class='icon-block'></i> {{_ "Deactivate"}}</span></button>
		{{else}}
		<button class='button activate button-block'><span><i class='icon-ok-circled'></i> {{_ "Activate"}}</span></button>
		{{/if}}
		<button class='button delete red button-block'><span><i class='icon-trash'></i> {{_ "Delete"}}</span></button>
	</nav>
</template>