.emoji {
	display: inline-block;
	margin: 0 0.05em;
	vertical-align: middle;
	font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Twemoji Mozilla', sans-serif;
	font-size: 1.25em;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}

.emoji.big {
	font-size: 2.25em;
}
