.main-content {
	position: relative;

	z-index: 0;

	display: flex;
	flex-direction: column;
	flex: 1 1 100%;

	width: 1vw;

	height: 100%;
}

.messages-container .room-icon {
	&.online {
		color: var(--rc-status-online);
	}

	&.away {
		color: var(--rc-status-away);
	}

	&.busy {
		color: var(--rc-status-busy);
	}

	&.offline {
		color: var(--rc-status-invisible);
	}
}
