.messages-container-wrapper {
	position: relative;
}

.message-actions {
	position: absolute;
	z-index: 2;
	top: -28px;
	right: 0.4rem;

	display: none;

	box-sizing: border-box;

	padding: 2px;

	user-select: none;

	color: var(--color-darkest);

	border: 1px solid #f2f3f7;
	border-radius: 4px;

	background: var(rcx-surface, #ffffff);

	font-size: 1.25rem;

	&__buttons {
		display: flex;
	}

	&__button,
	&__menu {
		padding: 2px;

		cursor: pointer;

		&:hover {
			border-radius: 2px;
			background: #eeeff1;
		}

		&-icon {
			fill: currentColor;
		}
	}
}

.rc-ui-kit {
	display: inline-block;

	width: 100%;

	max-width: 400px;
}

.message-body {
	&--unstyled {
		vertical-align: bottom;

		font: inherit;
		line-height: initial;

		& .emojione,
		& .emoji {
			display: inline-block !important;

			width: 1em !important;
			min-width: 1em;
			height: 1em !important;
			min-height: 1em;
		}

		& * {
			display: inline !important;

			padding: unset !important;

			vertical-align: unset !important;

			white-space: unset !important;

			color: inherit !important;

			border: unset !important;

			background-color: unset !important;

			font-family: inherit !important;

			font-weight: unset !important;

			line-height: unset !important;

			&::before,
			&::after {
				content: unset !important;
			}
		}

		& a {
			pointer-events: none;
		}
	}
}

.message-oembed {
	overflow: hidden;
}

.messages-box .rc-popover__list {
	padding: 0;
}

.rtl .message-actions {
	right: auto;
	left: 2px;
}

.message-popup .rcx-message-attachment {
	overflow-y: auto !important;

	max-width: 100% !important;
	max-height: 200px !important;
}
