.PageNotFound {
	width: 100%;
	min-height: 100vh;

	text-align: center;

	background-color: var(--rc-color-primary);
	background-image: url('/images/404.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__404 {
		font-size: 4em;
		font-weight: bold;
	}
}
