<template name="visitorEditCustomFieldsForm" args="agentId">
	{{#if showPriorities}}
		<div class="form-group">
			<label class="rc-input__label">
				<div class="rc-input__title">{{_ "Priority"}}</div>
				<div class="rc-select">
					<select name="priorityId" id="prioritySelect" class="rc-select__element customFormField">
						<option value=""></option>
						{{#each availablePriorities}}
							<option class="rc-select__option" value={{_id}} selected="{{$eq priorityId _id}}">{{name}}</option>
						{{/each}}
					</select>
					{{> icon block="rc-select__arrow" icon="arrow-down" }}
				</div>
			</label>
		</div>
	{{/if}}
</template>
