.message.webc_audioconf .actionLinks {
    text-align: left;
    .action-link {
        background-color: #13679a;
        padding: 5px;
        border-radius: 7px;
        color: rgba(255,255,255,0.85);
    }
}

