<template name="createServiceAccount">
    <section class="create-channel">
        <div class="create-channel__wrapper">
            <p class="create-channel__description">{{_ "Service_account_description"}}</p>
            <form id="create-service-account" name="create-service-account" class="create-channel__content">
                <div class="create-channel__inputs">
                    <div class="rc-input {{#if invalidChannel}}rc-input--error{{/if}}">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Username_title"}}</div>
							<div class="rc-input__wrapper">
								<div class="rc-input__icon">
									{{> icon block="rc-input__icon-svg" icon="at"}}
								</div>
								<input name="username" type="text" class="rc-input__element"
									   placeholder="{{_ 'Service_account_username_placeholder'}}" autofocus>
							</div>
						</label>
						{{#if inUse}}
							<div class="rc-input__error">
								<div class="rc-input__error-icon">
									{{> icon block="rc-input__error-icon" icon="warning" classes="rc-input__error-icon-svg"}}
								</div>
								<div class="rc-input__error-message">{{_ "Username_already_exist"}}</div>
							</div>
						{{/if}}
					</div>
				</div>
				<div class="rc-input">
					<label class="rc-input__label">
						<div class="rc-input__title">{{_ "Name"}}</div>
						<div class="rc-input__wrapper">
							<div class="rc-input__icon">
								{{> icon block="rc-input__icon-svg" icon="lock"}}
							</div>
							<input name="name" type="text" class="rc-input__element" placeholder="{{_ "Service_account_name_placeholder"}}">
						</div>
					</label>
                </div>
                <div class="rc-input">
					<label class="rc-input__label">
						<div class="rc-input__title">{{_ "Password"}}</div>
						<div class="rc-input__wrapper">
							<div class="rc-input__icon">
								{{> icon block="rc-input__icon-svg" icon="lock"}}
							</div>
							<input name="password" type="password" class="rc-input__element" placeholder="{{_ "Password"}}">
						</div>
					</label>
                </div>
                <div class="rc-input">
					<label class="rc-input__label">
						<div class="rc-input__title">{{_ "Confirm_password"}}</div>
						<div class="rc-input__wrapper">
							<div class="rc-input__icon">
								{{> icon block="rc-input__icon-svg" icon="lock"}}
							</div>
							<input name="confirmPassword" type="password" class="rc-input__element" placeholder="{{_ "Password"}}">
						</div>
					</label>
					{{#if notMatch}}
						<div class="rc-input__error">
							<div class="rc-input__error-icon">
								{{> icon block="rc-input__error-icon" icon="warning" classes="rc-input__error-icon-svg"}}
							</div>
							<div class="rc-input__error-message">{{_ "Invalid_confirm_pass"}}</div>
						</div>
					{{/if}}
				</div>
				<div class="rc-input">
					<label class="rc-input__label">
						<div class="rc-input__title">{{_ "Description"}}</div>
						<div class="rc-input__wrapper">
							<div class="rc-input__icon">
								{{> icon block="rc-input__icon-svg" icon="edit"}}
							</div>
							<input name="description" type="text" class="rc-input__element" placeholder="{{_ "Description"}}">
						</div>
					</label>
				</div>
            </form>
            <div class="create-channel__inputs">
				<input form='create-service-account' class="rc-button rc-button--primary" type='submit' data-button="create" {{createIsDisabled}} value="{{_ "Create"}}" />
			</div>
        </div>
    </section>
</template>