<template name="createServiceAccount">
    <section class="create-channel">
        <div class="create-channel__wrapper">
            <p class="create-channel__description">{{_ "Channels_are_where_your_team_communicate"}}</p>
            <form id="create-service-account" name="create-service-account" class="create-channel__content">
                <div class="create-channel__inputs">
                    <div class="rc-input {{#if invalidChannel}}rc-input--error{{/if}}">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Channel_name"}}</div>
							<div class="rc-input__wrapper">
								<div class="rc-input__icon">
									{{> icon block="rc-input__icon-svg" icon="at"}}
								</div>
								<input name="name" type="text" class="rc-input__element"
									   placeholder="{{_ "Channel_Name_Placeholder"}}" autofocus>
							</div>
						</label>
						{{#if inUse}}
							<div class="rc-input__error">
								<div class="rc-input__error-icon">
									{{> icon block="rc-input__error-icon" icon="warning" classes="rc-input__error-icon-svg"}}
								</div>
								<div class="rc-input__error-message">{{_ "Channel_already_exist_static"}}</div>
							</div>
						{{/if}}
					</div>
                </div>
                <div class="rc-input">
					<label class="rc-input__label">
						<div class="rc-input__title">{{_ "Password"}}</div>
						<div class="rc-input__wrapper">
							<div class="rc-input__icon">
								{{> icon block="rc-input__icon-svg" icon="at"}}
							</div>
							<input name="password" type="password" class="rc-input__element" placeholder="{{_ "Password"}}">
						</div>
					</label>
                </div>
                <div class="rc-input">
					<label class="rc-input__label">
						<div class="rc-input__title">{{_ "Confirm_password"}}</div>
						<div class="rc-input__wrapper">
							<div class="rc-input__icon">
								{{> icon block="rc-input__icon-svg" icon="at"}}
							</div>
							<input name="password" type="password" class="rc-input__element" placeholder="{{_ "Password"}}">
						</div>
					</label>
				</div>
            </form>
            <div class="create-channel__inputs">
				<input form='create-channel' class="rc-button rc-button--primary" type='submit' data-button="create" {{createIsDisabled}} value="{{_ "Create"}}" />
			</div>
        </div>
    </section>
</template>