.message-color {
	display: inline-block;
	font-weight: 100;
}

.message-color-sample {
	width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 3px;
	margin-right: 3px;
	margin-left: 2px;
	border: 1px solid rgba(0, 0, 0, .2);
	position: relative;
	top: 2px;
}
