<head>
	<title>Rocket.Chat</title>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="pt-br" />
	<meta http-equiv="expires" content="-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="fb:app_id" content="835103589938459" />
	<meta name="fragment" content="!" />
	<meta name="distribution" content="global" />
	<meta name="language" content="pt-br" />
	<meta name="rating" content="general" />
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="google-site-verification" content="wx2LmTKIPqkpThw42Bo3UGi7LnTc8v-baoo7kIT8z6Y" />
	<meta name="msvalidate.01" content="CC595410A57B0314F81C928AE4E982C9" />
	<meta name="msapplication-config" content="none"/>
	<link rel="canonical" href="//rocket.chat/" />
	<link rel="shortcut icon" id="rxfavico" href="/favicon.ico?v=2" sizes="16x16" type="image/x-icon" />
	<link rel="icon" href="/images/logo/16x16.png" sizes="16x16" type="image/png">
	<link rel="icon" href="/images/logo/57x57.png" sizes="57x57" type="image/png">
	<link rel="icon" href="/images/logo/75x75.png" sizes="75x75" type="image/png">
	<link rel="icon" href="/images/logo/128x128.png" sizes="128x128" type="image/png">
	<link rel="icon" href="/images/logo/icon.ico" sizes="32x32 48x48" type="image/vnd.microsoft.icon">
	<link rel="icon" href="/images/logo/icon.icns" sizes="128x128 512x512 8192x8192 32768x32768">
	<link rel="icon" href="/images/logo/icon.svg" sizes="any" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/images/logo/57x57.png" sizes="57x57" />
	<link rel="apple-touch-icon" href="/images/logo/72x72.png" sizes="72x72" />
	<link rel="apple-touch-icon" href="/images/logo/114x114.png" sizes="114x114" />
	<link rel="apple-touch-icon" href="/images/logo/144x144.png" sizes="144x144" />
	<link rel="apple-touch-startup-image" href="/images/logo/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" /><!-- iPhone SPLASHSCREEN-->
	<link rel="apple-touch-startup-image" href="/images/logo/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" /><!-- iPhone (Retina) SPLASHSCREEN-->
	<link rel="apple-touch-startup-image" href="/images/logo/apple-touch-startup-image-768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" /><!-- iPad (non-Retina) (Portrait) -->
	<link rel="apple-touch-startup-image" href="/images/logo/apple-touch-startup-image-1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" /><!-- iPad (non-Retina) (Landscape) -->
	<link rel="apple-touch-startup-image" href="/images/logo/apple-touch-startup-image-1536x2008.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" /><!-- iPad (Retina) (Portrait) -->
	<link rel="apple-touch-startup-image" href="/images/logo/apple-touch-startup-image-2048x1496.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" /><!-- iPad (Retina) (Landscape) -->
</head>
<body>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MLJ76N');</script>
	<!-- End Google Tag Manager -->
</body>
