.contextual-bar__content {
  &.livestream {
    justify-content: flex-start;
  }
}

.thumbnail-container {
  position: relative;
  height: 270px;

  & .--absolute-center {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);

    font-size: 50px;
  }
  & .--play-solid {
    fill: white;
  }
}
.liveStreamTab__form {
  & .rc-switch {
    padding: 15px 5px;
  }
}

.livestream--url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin: 10px 5px;
  padding: 10px 0;
  font-size: 15px;

  & .current-setting {
    display: inline-block;
    text-decoration: none;
    color: black;
  }

  & .rc-button {
    width: 49%
  }
}
