.loading-animation {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;

	text-align: center;
	align-items: center;
	justify-content: center;
}

.loading-animation > div {
	display: inline-block;

	width: 10px;
	height: 10px;
	margin: 2px;

	animation: loading-bouncedelay 1.4s infinite ease-in-out both;

	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}

.loading-animation .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loading-animation .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@keyframes loading-bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}
