 .phone-title {
     text-align: center;
 }

 .phone-call-buttons {
     display: -webkit-flex;
     display: -moz-flex;
     display: flex;
     width: 90%;
     margin: auto;
     button {
         width: 100%;
         margin: 3px;
     }
 }

 .phone-user-call {
    width: 100%;
    margin-bottom: 4px;
 }

 .green-hook {
     background-color: green !important;
 }

 .red-hook {
     background-color: red !important;
 }

.phone-active-key {
    background-color: red !important;
    animation-duration: 1000ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }

 @keyframes color_blink {
    from { color: red; }
    to { color: #444; }
 }

.phone-blinking {
    animation-duration: 500ms;
    animation-name: color_blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 }

 .dialkey {
 }

 .phone-display-container {
     margin-top: 10px;
     margin-bottom: 10px;
     height: 50px;
     width: 90%;
     margin: auto;
     display: flex;
     .button {
         margin: 2px;
     }
     .red-hook {
        width: 113px;
     }
 }

 .phone-display {
     text-align: right;
     margin-left: 2px;
     margin-right: 2px;
     margin-top: 1px;
     height: 47px !important;
     font-size: 2em;
 }

 .phonestream {
     width: 100%;
     visibility: hidden;
 }

 .phone-notifications {
     display: none;
     text-align: center;
     font-size: 1.25em;
     height: 40px !important;
     border: none !important;
     color: red;
     line-height: 50px;
 }

