.phone-registry-content {
    display: flex;
    margin: auto;
    width: 90%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 7px;
    
    .phone-registry-record {
        margin-left: 1%;
        padding-top: 1px;
        font-size: 1.1em;
        margin: 2px;
    }
    .phone-registry-record-info {
        font-size: 1em;
    }
    .phone-registry-record-number {
        padding: 2px;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
    }

    .phone-registry-record-number:hover {
        background-color: lightgray
    }
}