@import '../../styles/colors';

.chat-finished {
	&__greeting {
		margin: 0.5rem 0;

		letter-spacing: 0;

		font-size: 1.375rem;
		font-weight: bold;
		line-height: 1.75rem;
	}

	&__message {
		margin: 0.375rem 0 1.5rem;

		letter-spacing: 0;

		color: $color-text-grey;

		font-size: 1rem;
		font-weight: 500;
		line-height: 1.5rem;
	}
}
