.meet {
	&__button {
		&--off {
			color: #ffffff !important;
			border-color: #2f343d !important;
			background-color: #2f343d !important;
		}

		&--on {
			color: #000000 !important;
			border-color: #ffffff !important;
			background-color: #ffffff !important;
		}
	}

	&__video--self {
		display: flex;
		width: 15%;
		height: 17.5%;
		justify-content: center;
	}
}

@media (width <= 900px) and (height >= 500px) {
	.meet {
		&__video--self {
			width: 30%;
			height: 20%;
		}
	}
}

@media (width <= 900px) and (height <= 500px) {
	.meet {
		&__video--self {
			width: 30%;
			height: 35%;
		}
	}
}

@media (width >= 901px) and (width <= 1300px) and (height <= 500px) {
	.meet {
		&__video--self {
			width: 20%;
			height: 40%;
		}
	}
}
