.rc-popup-list {
	position: absolute;

	width: 100%;

	&__list {
		width: 100%;
		padding: 1rem;

		border-radius: 2px;
		background-color: var(--color-white);
		box-shadow: 0 0 2px 0 rgba(47, 52, 61, 0.08), 0 0 12px 0 rgba(47, 52, 61, 0.12);
	}

	&__item {
		display: flex;

		padding: 0.5rem;

		cursor: pointer;

		border-radius: 2px;
		align-items: center;

		&.selected {
			background-color: #f2f3f5;
		}

		&:hover {
			background-color: #f2f3f5;
		}

		&-image {
			width: 32px;
			height: 32px;
			margin-right: 1rem;
		}

		&-name {
			color: #2d343d;

			font-size: 1rem;
		}
	}
}
