.rc-select-avatar {
	display: flex;
	align-items: flex-start;

	&__preview {
		flex: 0 0 150px;

		width: 150px;
		height: 150px;
		margin-right: 1rem;
	}

	&__loading::after {
		display: inline-block;
		overflow: hidden;

		width: 0;

		content: "\2026"; /* ascii code for the ellipsis character */
		animation: ellipsis steps(4, end) 1.5s infinite;
		vertical-align: bottom;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;

		&-item {
			width: 48px;
			height: 48px;
			margin-right: 10px;
			margin-bottom: 10px;

			cursor: pointer;

			& .avatar {
				transition: opacity 0.5s;
			}

			& .avatar:hover {
				opacity: 0.8;
			}
		}
	}

	&__upload-label {
		display: block;

		cursor: pointer;

		color: #2d343d;
		background: var(--color-gray-light);
	}

	&__upload-icon {
		width: 48px;
		height: 48px;
		padding: 12px;
		fill: currentColor;
	}
}
