.rc-tags {
	display: flex;

	width: 100%;
	min-height: 43px;
	padding: 0 1rem 0 3.25rem;

	border-width: 1px;
	border-color: var(--color-gray-light);
	border-radius: 2px;
	background-color: transparent;
	flex-wrap: wrap;
	justify-content: flex-start;

	&__tag {
		display: flex;

		margin: 0.25rem;
		padding: 0.35rem 0.5rem;

		color: var(--color-dark);
		background: #f2f3f5;
		align-items: center;

		&-avatar {
			width: 20px;
			height: 20px;
			margin-right: 0.5rem;
		}

		&-username {
			margin-right: 0.5rem;
		}

		&-icon {
			width: 10px;
			height: 10px;
			stroke: #9d9fa3;
		}
	}

	&__input {
		margin: 0.25rem;
		padding: 0.35rem 0.5rem;

		border: 0;

		font-size: 0.875rem;

		&::placeholder {
			color: var(--color-gray-medium);
		}
	}
}
