.message .mention-link,
.mention-link {
	padding: 0 2px 2px;

	cursor: pointer;

	transition: opacity 0.3s, background-color 0.3s, color 0.3s;

	color: var(--mention-link-text-color);

	border-radius: var(--mention-link-radius);

	background-color: var(--mention-link-background);

	font-weight: 700;

	&:hover {
		opacity: 0.6;
		color: var(--mention-link-text-color);
	}

	&--me {
		color: var(--mention-link-me-text-color);
		background-color: var(--mention-link-me-background);

		&:hover {
			color: var(--mention-link-me-text-color);
		}
	}

	&--group {
		color: var(--mention-link-group-text-color);
		background-color: var(--mention-link-group-background);

		&:hover {
			color: var(--mention-link-group-text-color);
		}
	}
}
