:root {
	--header-min-height: 30px;
	--footer-min-height: 55px;
	--link-font-color: #008ce3;
	--primary-font-color: #444444;
	--secondary-font-color: #7f7f7f;
	--info-font-color: #aaaaaa;
	--color-gray: #9ea2a8;
}

.department-agents {
	list-style-type: none;

	li {
		display: inline-block;

		margin: 1px 0;
		padding: 2px 8px 2px 2px;

		cursor: pointer;

		border-radius: 10px;
		background-color: #dddddd;

		.icon-plus-circled {
			opacity: 0.5;

			font-size: 0.8rem;
		}
	}
}

.agent-info {
	input[type='text'] {
		width: auto;
		height: 24px;

		line-height: 24px;
	}
}

.visitor-custom-fields {
	padding: 0 20px;
}

.livechat-status {
	color: #9d9fa3;

	font-size: 20px;
	line-height: 18px;
}

.external-message {
	position: relative;

	padding: 10px;

	&::after {
		position: absolute;
		right: 10px;
		bottom: 0;
		left: 10px;

		content: ' ';

		border-bottom: 1px solid #cccccc;
	}
}

.visitor-edit {
	h3 {
		margin-bottom: 8px;

		font-size: 24px;
		line-height: 22px;
	}
}

.external-frame {
	width: 100%;
	height: 100%;
}

.chat-history-item {
	cursor: pointer;

	border-bottom: 2px solid #f2f3f5;
}

.open {
	padding-left: 4% !important;
}

.contact-chat-history {
	padding: 0 !important;
}

.contact-chat-history-messages {
	padding: 0 !important;
}

.contact-chat-history-search-wrapper {
	padding: var(--default-padding);
}

.contact-chat-history-messages-list .message-actions {
	visibility: hidden;
}

.chat-history-item-count-msg {
	margin-top: 1%;

	color: grey;

	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	line-height: 16px;
}

.closing-message-body-wrapper {
	margin-top: 3%;
}

.closing-message-title {
	color: var(--color-dark-light);

	font-family: Inter;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	line-height: 16px;
}

.closing-message-text {
	color: var(--color-gray);

	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	font-style: italic;
	line-height: 16px;
}

.contact-chat-history-search-empty {
	padding-left: 24px;
}
