{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "useBuiltIns": "usage",
        "corejs": "3",
        "modules": "commonjs",
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
