.unreadsAccordionHeader [class*='rcx-accordion-item__bar'] {
	padding: 10px !important;
}

.unreadsAccordionHeader span i {
	align-self: center;
}

.unreadsAccordionHeader hr {
	visibility: hidden !important;
}
