.rc-directory {
	display: flex;
	flex-direction: column;

	padding: 0 1.5rem;

	height: 100vh;

	&-search {
		width: 100%;

		& .rc-icon {
			width: 0.875rem;
		}
	}

	&-topic {
		color: var(--rc-color-primary-light);
	}
}

.rc-directory-icon {
	color: var(--color-dark-light);
}

.rc-table-content {
	display: flex;
	overflow-x: auto;
	flex-direction: column;
	flex: 1 1 100%;

	height: 100vh;
	padding: 0 1rem;

	& .js-sort {
		cursor: pointer;

		&.is-sorting .table-fake-th .rc-icon {
			opacity: 1;
		}
	}

	& .table-fake-th {
		&:hover .rc-icon {
			opacity: 1;
		}

		& .rc-icon {
			transition: opacity 0.3s;

			opacity: 0;

			font-size: 1rem;
		}
	}
}

.rc-directory-td--users {
	overflow: hidden;

	width: 120px;

	white-space: nowrap;
	text-overflow: ellipsis;
}

.rc-directory-td--users {
	width: 80px;
}

@media (width <= 700px) {
	.rc-table-content {
		& th:not(:first-child),
		& td:not(:first-child) {
			display: none;
		}
	}
}
