.rc-apps-marketplace {

	overflow: auto;

	font-size: 14px;

	&.page-settings .rc-apps-container {
		a {
			color: var(--rc-color-button-primary);

			font-weight: 500;
		}
	}

	h1 {
		margin-bottom: 0;

		letter-spacing: 0;
		text-transform: initial;

		color: #54585e;

		font-size: 22px;
		font-weight: normal;
		line-height: 28px;
	}

	h2 {
		margin-top: 10px;
		margin-bottom: 0;

		letter-spacing: 0;
		text-transform: initial;

		color: var(--color-dark);

		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
	}

	h3 {
		margin-bottom: 0;

		text-align: left;
		letter-spacing: 0;
		text-transform: initial;

		color: var(--color-gray);

		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
	}

	.rc-apps-details {
		margin-bottom: 0;
		padding: 0;

		&__description {
			padding-bottom: 50px;

			border-bottom: 1.5px solid #efefef;
		}

		&__photo {
			width: 96px;
			height: 96px;
			margin-right: 21px;

			background-color: #f7f7f7;
		}

		&__content {
			padding: 0;
		}

		&__col {
			display: inline-block;

			margin-right: 8px;
		}
	}

	.rc-apps-container {
		margin-top: 0;
		padding-bottom: 15px;
	}

	.rc-apps-container__header {
		padding-top: 10px;

		border-bottom: 1.5px solid #efefef;
	}

	/*
	.js-install {
		margin-top: 6px;
	} */

	.rc-header .rc-button {
		min-height: 0;
		margin: 0;
	}

	.rc-apps-category {
		margin-right: 8px;
		padding: 8px;

		text-align: left;
		letter-spacing: -0.17px;
		text-transform: uppercase;

		color: #9da2a9;
		border-radius: 2px;
		background: #f3f4f5;

		font-size: 12px;
		font-weight: 500;
	}

	.app-enable-loading .loading-animation {
		margin-left: 50px;
		justify-content: left;
	}

	.apps-error {
		display: flex;
		flex-direction: column;

		width: 100%;
		height: calc(100% - 60px);
		padding: 25px 40px;

		font-size: 45px;
		align-items: center;
		justify-content: center;
	}

	.rc-table-avatar {
		width: 40px;
		height: 40px;
		margin: 0 7px;
	}

	.rc-table-info {
		margin: 0 7px;
	}

	.rc-app-price {
		position: relative;
		top: -3px;
	}

	&__wrap-actions {
		& > .rc-icon--loading {
			display: none;
		}

		&.loading {
			& > .rc-icon--loading {
				display: block;

				animation: spin 1s linear infinite;
			}

			& > .apps-installer {
				display: none;
			}
		}
	}
}

@keyframes play90 {
	0% {
		right: -798px;
	}

	100% {
		right: 2px;
	}
}
