.rc-apps-marketplace {
	.app-author-name {
		width: auto !important;
		display: inline-block !important;
	}

	.rc-header .rc-button {
		margin: 0;
		min-height: 0;
	}

	.app-enable-loading .loading-animation {
		justify-content: left;
		margin-left: 50px;
	}

	.apps-error {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: calc(100% - 60px);
		padding: 25px 40px;
		width: 100%;
		font-size: 45px;
	}

	.rc-table-avatar {
		width: 40px;
		height: 40px;
		margin: 0 7px;
	}

	.rc-table-info {
		margin: 0 7px;
	}

	.rc-table-content {
		padding: 0;
	}
	.installer {
		width: 20px;
		height: 20px;
		overflow: hidden;
		position: relative;

		.--marketplace-installer {
			position: absolute;
			top: 0;
			width: 818px;
			height: 20px;
		}
		.--marketplace-installer.play {
			animation: play90 steps(20) 4s forwards;

		}
	}
}

@keyframes play90 {
  0% {
    right: -798px;
  }
  100% {
    right: 2px;
  }
}
