.permissions-manager {
	& h2 {
		margin-top: 1em !important;
		margin-bottom: 1em !important;

		border-bottom-width: 1px;

		font-size: 16px;
		font-weight: bold !important;
	}

	& .permission-grid {
		display: block;
		overflow: auto;

		white-space: nowrap;

		& thead th {
			position: sticky;
			z-index: 1;
			top: 0;

			padding: 20px;

			text-align: center;
			white-space: nowrap;
		}

		& thead th:first-child {
			z-index: 2;
			left: 0;
		}

		& tbody .permission-name {
			position: sticky;
			left: 0;

			cursor: default;
			white-space: nowrap;

			background-color: var(--color-gray-light);
		}

		& tbody tr:nth-of-type(even) .permission-name {
			background-color: var(--color-gray-lightest);
		}

		& td {
			width: 10%;

			text-align: center;
		}

		& .icon-edit {
			position: absolute;
			top: 0;
			left: 50%;

			padding-left: 2px;

			transform: translateX(-50%);

			font-size: 80%;
		}
	}

	& .empty-role {
		padding: 0.5em !important;
	}

	& .form-role {
		& label {
			display: inline-block;

			width: 150px;

			text-align: right;
		}

		& .form-buttons {
			padding-left: 150px;
		}
	}
}
