.permissions-manager {
	display: flex;
	flex-direction: column;

	height: 100%;

	&.page-container {
		padding-bottom: 0 !important;
	}

	.permission-edit {
		display: flex;
		flex-direction: column;

		height: 100%;

		padding: 10px;
		align-items: center;
	}

	.permission-label,
	.permission-icon {
		display: flex;

		align-items: flex-end;
		flex-grow: 1;
	}

	.permission-icon {
		width: 30px;

		margin-bottom: 0;
		flex-grow: 0;
	}

	.content {
		padding: 0 !important;
	}

	.permission-grid {
		overflow-x: scroll;

		table-layout: fixed;

		border-collapse: collapse;

		.id-styler {
			white-space: nowrap;

			color: #7f7f7f;

			font-size: smaller;
		}

		.edit-icon.role-name-edit-icon {
			height: 30px;
		}

		.role-name {
			position: sticky;

			top: 0;

			width: 70px;

			text-align: left;

			vertical-align: middle;

			background: white;
		}

		.role-name-edit-icon {
			width: 70px;
			height: 70px;

			text-align: center;

			vertical-align: middle;
		}

		.rotator {
			overflow: hidden;

			width: 30px;
			height: 130px;

			padding: 10px 0;

			transform: rotate(-180deg);

			white-space: nowrap;

			text-overflow: ellipsis;
			writing-mode: vertical-rl;
		}

		.admin-table-row {
			height: 50px;
		}

		td {
			overflow: hidden;
		}

		.permission-name {
			width: 25%;
			padding-left: 14px;

			vertical-align: middle;
		}

		.permission-checkbox {
			text-align: center;
			vertical-align: middle;
		}

		.icon-edit {
			font-size: 1.5em;
		}
	}
}
