/*
.permissions-manager {
	& h2 {
		margin-top: 1em !important;
		margin-bottom: 1em !important;

		border-bottom-width: 1px;

		font-size: 16px;
		font-weight: bold !important;
	}

	  .permission-grid{
		  overflow-x: scroll;
	  }

	& .permission-grid {


		& th {
			position: relative;

			padding: 15px 20px;

			text-align: center;
			white-space: nowrap;
		}

		& tr {
			height: 40px;
		}

		& td {
			width: 8%;

			text-align: center;
			vertical-align: middle;
		}

		& .icon-edit {
			position: absolute;
			top: 0;
			left: 50%;

			padding-left: 2px;

			transform: translateX(-50%);

			font-size: 80%;
		}

		& .permission-name {
			cursor: default;
			white-space: nowrap;
		}

	}

	& .empty-role {
		padding: 0.5em !important;
	}

	& .form-role {
		& label {
			display: inline-block;

			width: 150px;

			text-align: right;
		}

		& .form-buttons {
			padding-left: 150px;
		}
	}
}
*/


.permissions-manager .content {
	overflow-x: scroll;
}

.permissions-manager .permission-grid tr{
	height: 40px;
	text-align: center;
	vertical-align: middle;

}

.permissions-manager .permission-grid td {
	width: 10%;
	text-align: center;
	vertical-align: middle;
}

.permissions-manager .permission-grid th {
	width: 10%;
	padding: 0 8px;
}

.permissions-manager .permission-grid .permission-name {
	width: 20%;
	text-align: center;
	vertical-align: middle;
	padding: 0 8px;
}

.permissions-manager .permission-grid tr th .icon-edit {
	font-size: 1.2em;
}
