.Off {
	color: #ffffff !important;
	border-color: #2f343d !important;
	background-color: #2f343d !important;
}

.On {
	color: #000000 !important;
	border-color: #ffffff !important;
	background-color: #ffffff !important;
}

.Self_Video {
	width: 15%;
}

@media (max-width: 1200px) {
	.Self_Video {
		width: 20%;
	}
}

@media (max-width: 900px) {
	.Self_Video {
		width: 30%;
	}
}

@media (max-width: 900px) and (min-height: 500px) {
	.Self_Video {
		width: 30%;
		height: 20%;
	}
}
