.popover__overlay {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	visibility: hidden;

	&--visible {
		visibility: visible;
	}
}

.popover__container {
	position: relative;

	display: flex;
	overflow: hidden;

	flex-direction: column;
	flex: 1;
}
