.rc-select {

	position: relative;

	display: flex;

	flex: 0 0 auto;

	height: 2.5rem;

	color: var(--input-text-color);

	border-width: var(--input-border-width);
	border-color: var(--input-border-color);
	border-radius: var(--input-border-radius);
	background-color: transparent;

	font-size: var(--input-font-size);
	align-items: center;
	justify-content: flex-end;

	&__option {
		text-align: right;
	}

	&__arrow {
		position: absolute;

		margin: 0 -5px;

		pointer-events: none;

		color: var(--color-gray-light);

		font-size: 20px;
	}

	&__element {
		width: 100%;

		height: 100%;
		padding: 0 2rem 0 1rem;

		text-transform: capitalize;

		border: none;
		border-radius: 0;

		font-size: inherit;

		appearance: none;

		&::-ms-expand {
			display: none;
		}
	}

	&--small {
		height: 1.75rem;
	}
}

.rtl .rc-select__element {
	padding: 0 1rem 0 2rem;
}
