.read-receipt {
	display: inline-block;
	margin: 0 6px;
	color: #cbced1;
	color: var(--message-box-container-border-color);
	cursor: pointer;
}

.read-receipt.read {
	color: inherit;
}

.message.temp .read-receipt {
	opacity: 0.4;
}

.read-receipts__user {
	display: flex;
	padding: 8px 8px;
	align-items: center;
}

.read-receipts__name {
	flex: 1 1 auto;
	margin: 0 10px;
	font-size: 16px;
}

.read-receipts__time {
	font-size: 80%;
}

.read-receipts__user > .avatar {
	width: 36px;
	width: var(--sidebar-account-thumb-size);
	height: 36px;
	height: var(--sidebar-account-thumb-size);
}
