#react-root {
	position: relative;

	display: flex;
	overflow: visible;
	flex-direction: column;

	width: 100vw;
	height: 100vh;
	padding: 0;

	block-size: stretch;
	block-size: -moz-available;
	block-size: -webkit-fill-available;
}
