.vrec-dialog {
	position: absolute;

	visibility: hidden;

	opacity: 0;
	border-radius: 5px;
	box-shadow:
		0 1px 1px 0 rgba(0, 0, 0, 0.2),
		0 2px 10px 0 rgba(0, 0, 0, 0.16);

	&.show {
		display: block;
		visibility: visible;

		opacity: 1;
	}

	& .buttons {
		& .disabled {
			background-color: desaturate(#02acec, 80%);
		}

		& > ul {
			display: table;

			width: 100%;

			& > li {
				display: table-cell;

				margin: 0 2px;
				padding: 6px 0;

				border-bottom-width: 2px;

				&.right-aligned {
					text-align: right;
				}

				&.left-aligned {
					text-align: left;
				}
			}
		}
	}

	& .video-container {
		padding: 5px;

		transform: scaleX(-1);
		filter: FlipH;
	}
}

.vrec-dialog button.hide {
	visibility: hidden;

	opacity: 0;
}

.vrec-dialog button.show {
	display: block;
	visibility: visible;

	opacity: 1;
}
