<template name="adminRooms">
	<section class="page-container page-list">
		<head class="fixed-title">
			{{> burger}}
			<h2>
				<span class="room-title">{{_ "Rooms"}}</span>
			</h2>
		</head>
		<div class="content">
			{{#unless hasPermission 'view-room-administration'}}
				<p>You are not authorized to view this page.</p>
			{{else}}
				<form class="search-form" role="form">
					<div class="input-line search">
						<input type="text" id="rooms-filter" placeholder="{{_ "Search"}}" dir="auto">
						<i class="icon-search"></i>
						{{#unless isReady}}<i class="icon-spin4"></i>{{/unless}}
					</div>
					<input type="checkbox" name="room-type" value="c"> {{_ "Channels"}}
					<input type="checkbox" name="room-type" value="d"> {{_ "Direct Messages"}}
					<input type="checkbox" name="room-type" value="p"> {{_ "Private Groups"}}
				</form>
				<div class="results">
					{{{_ "Showing_results" roomCount}}}
				</div>
				<div class="list">
					{{#each rooms}}
					<div class="room-info" data-id="{{_id}}">
						<li>
							<h3>{{name}}</h3>
						</li>
						<ul>
							<li>{{_ "room_user_count" usernames.length}}</li>
							<li>{{type}}</li>
						</ul>
					</div>
					{{/each}}
					{{#if hasMore}}
						<li class="load-more">
							<button class="button secondary load-more {{isLoading}}">{{_ "Load_more"}}</button>
						</li>
					{{/if}}
				</div>
			{{/unless}}
		</div>
	</section>
	<section class="flex-tab">
		<div class="control">
			<button class="more"><span class="arrow {{arrowPosition}}"></span></button>
			<div class="info-tabs">
				<a href="#adminRoomInfo" class="active"><i class="icon-cancel"></i></a>
			</div>
		</div>
		{{#if flexOpened}}
			<div class="content">
				<div class="user-view">
					<div id="adminRoomInfo" class="room-info-content">
						{{#if roomData}}
							{{> adminRoomInfo roomData}}
						{{/if}}
					</div>
				</div>
			</div>
		{{/if}}
	</section>
</template>
