<template name="adminRoomInfo">
	{{#unless hasPermission 'view-room-administration'}}
		<p>You are not authorized to view this page.</p>
	{{else}}
		<div>
			<h3><a href="{{route}}"><i class="icon-{{type}}"></i> {{name}}</a></h3>
		</div>
		<div>
			<h3>{{_ "Users"}}:</h3>
			{{#each usernames}}
				{{.}}<br />
			{{/each}}
		</div>
		{{#if canDeleteRoom}}
		<nav>
			<button class='button delete red'><span><i class='icon-trash'></i> {{_ "Delete"}}</span></button>
		</nav>
		{{/if}}
	{{/unless}}
</template>