@theme-blue: #25BCC4;
@theme-blue-dark: #28AAB1;
@theme-blue-light: #2ECCD4;

.full-page, .page-loading, .preferences-page {
	background-color: white;
	h2, h3 {
		color: @theme-blue-dark;
		margin-bottom: 1em;
	}
	p {
		margin-bottom: 1em;
		line-height: 1.5em;
		font-weight: normal;
	}
	.login-terms {
		color: @theme-blue-dark;
		a { color: @theme-blue; }
		a:hover { color: @theme-blue-light }
	}
}
