.Admin__InformationPage__SkeletonText {
	display: inline-flex;

	min-width: 10em;
	height: 1em;

	animation: Admin__InformationPage__SkeletonText__animation 1s linear 0s infinite running;

	opacity: 0.25;
	background:
		linear-gradient(
			to right,
			currentColor,
			transparent 10%,
			currentColor 20%
		);
	background-size: 100vw 100vh;
}

@keyframes Admin__InformationPage__SkeletonText__animation {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 100vw 0;
	}
}
