<template name="loginForm">
	<form id="login-card" method='/'>
		{{#if waitActivation}}
			<header>
				<h2>{{{_ "Registration_Succeeded"}}}</h2>
				<p>{{{_ "Wait_activation_warning"}}}</p>
				<p>{{{_ "Please_wait_activation"}}}</p>
			</header>
		{{else}}
			{{ > loginServices }}
			{{#if needsValidateEmail}}
				<div class="alert alert-danger">
					{{_ "You_need_confirm_email"}}
				</div>
			{{/if}}
			<div class="fields">
				<div class='input-text active {{showName}}'>
					<input type="text" name='name' placeholder='{{_ "Name"}}' dir="auto" />
				</div>
				<div class='input-text active {{showEmailOrUsername}}'>
					<input type="text" name='emailOrUsername' placeholder='{{_ "Email_or_username"}}' autocapitalize="off" autocorrect="off" />
				</div>
				<div class='input-text active {{showEmail}}'>
					<input type="email" name='email' placeholder='{{_ "Email"}}' />
				</div>
				<div class='input-text active {{showPassword}}'>
					<input type="password" name='pass' placeholder='{{_ "Password"}}' />
				</div>
				<div class='input-text active {{showConfirmPassword}}'>
					<input type="password" name='confirm-pass' placeholder='{{_ "Confirm_password"}}' />
				</div>
			</div>
			<div class="submit">
				<button data-loading-text="{{_ "Please_wait"}}..." class='button primary login'><span>{{btnLoginSave}}</span></button>
			</div>
			<div class="register {{showRegisterLink}}">
				<a href="">{{_ 'Register'}}</a>
			</div>
			<div class="forgot-password {{showForgotPasswordLink}}">
				<a href="">{{_ 'Forgot_password'}}</a>
			</div>
		{{/if}}
		<div class="back-to-login {{showBackToLoginLink}}">
			<a href="">{{_ 'Back_to_login'}}</a>
		</div>
	</form>
	<div class='login-terms'>
		By proceeding to create your account and use Rocket.Chat, you are agreeing to our <a href="/terms-of-service">Terms of Service</a> and <a href="/privacy-policy">Privacy Policy</a>. If you do not agree, you cannot use Rocket.Chat.
	</div>
</template>
