.chitchat-search {

	display: flex;
	flex: 1;

	padding: 0 !important;
}

.defaultProvider {
	padding: 24px;
}

.chitchat-search-tab {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.chitchat-default-search-results {
	overflow: auto;
	overflow-x: hidden;
}

.chitchat-search-result {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	flex: 1 1 0;
}

.chitchat-default-search-settings {
	padding-bottom: 20px;
}

.chitchat-default-search-results .list .message {
	padding-right: 8px !important;
	padding-left: 70px !important;
}

.chitchat-search-error {
	padding: 0 24px;
}

.chitchat-default-search-results .js-list {
	overflow: hidden;
}

#chitchat-search-suggestions {
	position: absolute;
	z-index: 1000;
	top: 58px;

	right: 24px;
	left: 24px;

	padding: 10px 0;

	border-radius: 0;

	background-color: white;

	box-shadow: 0 1px 10px #aaaaaa;
}

.chitchat-search-suggestion-item {
	width: 100%;

	cursor: pointer;
}

.chitchat-search-suggestion-item.active,
.chitchat-search-suggestion-item:hover {
	color: white;
	background-color: var(--button-primary-background);
}
