.badge {

	display: flex;

	min-width: 20px;

	padding: 2px 6px;

	color: var(--badge-text-color);

	border-radius: var(--badge-radius);

	background-color: var(--badge-background);

	font-size: var(--badge-text-size);
	justify-content: center;

	&--unread {
		margin: 0 3px;

		white-space: nowrap;

		background-color: var(--badge-unread-background);
	}
}
