.messages-container-wrapper {
	position: relative;
}

.message-actions {
	position: absolute;
	top: 2px;
	right: 0.4rem;

	display: none;

	user-select: none;

	color: var(--color-darkest);

	font-size: 1rem;

	&__buttons {
		display: flex;
	}

	&__button {
		margin: 0 0.2rem;

		font-size: inherit;

		&:hover {
			color: var(--rc-color-button-primary);
		}
	}

	&__menu {
		padding: 2px 0;

		cursor: pointer;

		&:hover &-icon {
			fill: var(--rc-color-button-primary);
		}

		&-icon {
			fill: currentColor;
		}
	}
}

.message {
	& .toggle-hidden {
		display: none;
	}

	&--ignored {
		& .body {
			display: none;
		}

		& .toggle-hidden {
			display: block;
		}

		& + .message--ignored.sequential {
			display: none;
		}
	}

	&.active {
		& .message-actions__label {
			color: var(--rc-color-button-primary);
		}
	}

	& .rc-popover-anchor {
		display: block;

		visibility: hidden;

		width: 0;
		height: 0;

		opacity: 0;
	}

	& .rc-popover {
		top: -200vh;
		right: 180px;

		&__wrapper {
			position: fixed;
			top: -100vh;
			left: -100vw;

			width: 300vw;
			height: 300vh;
		}

		&__content {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.small {
		min-height: 25px;
		padding: 2px 50px 2px 70px;

		& .thumb {
			top: 3px;

			width: 20px;
			height: 20px;
			margin-left: 16px;

			& .avatar {
				width: 20px !important;
				height: 20px !important;
			}
		}

		& .body {
			display: inline-block;

			margin-left: -1px;
		}

		& .time {
			margin-left: 4px;

			font-size: 12px;
		}
	}
}

.compact .message.small {
	& .thumb {
		margin-left: 0;
	}
}

.message-body {
	&--unstyled {
		font: inherit;
		line-height: initial;

		& .emojione,
		& .emoji {
			display: inline-block !important;

			width: 1em !important;
			min-width: 1em;
			height: 1em !important;
			min-height: 1em;
		}

		& * {
			display: inline !important;

			padding: unset !important;

			white-space: unset !important;

			color: inherit !important;

			background-color: unset !important;

			font-family: inherit !important;

			font-weight: unset !important;
		}

		& a {
			pointer-events: none;
		}
	}
}

.message-oembed {
	overflow: hidden;
}

.messages-box .rc-popover__list {
	padding: 0;
}

.rtl .message-actions {
	right: auto;
	left: 2px;
}

@media (width >= 500px) {
	.message {
		&:hover,
		&.active {
			background-color: rgba(15, 34, 0, 0.05);

			& .message-actions {
				display: flex;
			}
		}
	}
}
