name: Test Storybook

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      deno-version:
        required: true
        type: string

    secrets:
      CODECOV_TOKEN:
        required: true

env:
  TOOL_NODE_FLAGS: ${{ vars.TOOL_NODE_FLAGS }}

jobs:
  test:
    runs-on: ubuntu-24.04-arm

    name: Test Storybook

    steps:
      - uses: actions/checkout@v6

      - name: Setup NodeJS
        uses: ./.github/actions/setup-node
        with:
          node-version: ${{ inputs.node-version }}
          deno-version: ${{ inputs.deno-version }}
          cache-modules: true
          install: true
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: rharkor/caching-for-turbo@v1.8

      - name: Restore packages build
        uses: actions/download-artifact@v7
        with:
          name: packages-build
          path: /tmp

      - name: Unpack packages build
        shell: bash
        run: |
          tar -xzf /tmp/RocketChat-packages-build.tar.gz -C .

      - uses: ./.github/actions/setup-playwright

      - name: Run tests
        run: yarn test-storybook
        env:
          STORYBOOK_DISABLE_TELEMETRY: 1

      - uses: codecov/codecov-action@v5
        with:
          flags: unit
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
