name: 'PR Title Checker'
on:
  pull_request_target:
    types: [opened, edited]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: thehanimo/pr-title-checker@v1.3.6
        with:
          GITHUB_TOKEN: ${{ secrets.RC_TITLE_CHECKER }}
