.page-not-found-container {
	width: 100%;
	height: 100%;
	padding: 10%;

	text-align: center;

	color: white;
	background-image: url("/images/404.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.error-404 {
		display: block;

		padding: 10px;

		font-size: 4em;
		font-weight: bold;
	}

	.page-not-found-message {
		display: block;

		padding: 10px;

		font-size: 2em;
		font-weight: bold;
	}

	.page-not-found-description {
		display: block;

		padding: 10px;

		font-size: 1em;
	}

	.page-not-found-button {
		display: inline-block;

		margin: 20px 10px 0;
		padding: 8px 16px;

		font-size: 1em;
	}
}
