.page-not-found-container {
	text-align: center;
	padding:10%;
	height: 100%;
	width:100%;

	.error-404 {
		display: block;
		font-size: 6em;
		padding:30px;
	}

	.page-not-found-message {
		display:block;
		font-size: 2.5em;
		padding:15px;
	}

	.page-not-found-description {
		display: block;
		font-size: 1.5em;
		padding:15px;
	}
}
