.page-not-found-container {
	width: 100%;
	height: 100%;
	padding: 10%;

	text-align: center;

	.error-404 {
		display: block;

		padding: 30px;

		font-size: 6em;
	}

	.page-not-found-message {
		display: block;

		padding: 15px;

		font-size: 2.5em;
	}

	.page-not-found-description {
		display: block;

		padding: 15px;

		font-size: 1.5em;
	}
}
