<template name="chatRooms">
	<aside class="side-nav" role="navigation">
		<header class="header">
			{{> userStatus}}
		</header>
		{{#if currentUser}}
			<div class="rooms-list">
				<div class="wrapper">
					<h3>{{_ "chatRooms.Favorites"}}</h3>
					<ul>
						{{#each favoriteRooms}}
							{{> chatRoomItem }}
						{{/each}}
					</ul>
					<h3>{{_ "chatRooms.Recents"}}</h3>
					<ul>
						{{#each recentRooms}}
							{{> chatRoomItem }}
						{{/each}}
						<li><a href="{{ pathFor 'privateHistory' }}"><i class="icon-history"></i> {{_ "general.History"}}</a></li>
					</ul>
				</div>
			</div>
		{{/if}}
		<footer class="footer">
			<a href="{{ pathFor 'index' }}" class="logo">
				<small>{{_ "chatRooms.Powered_by"}}</small>
				<img src="/images/logo/logo.svg" />
			</a>
		</footer>
	</aside>
</template>
