<template name="privateGroups">
	<h3>
		{{_ "chatRooms.Private_Groups"}}
		<button class="add-room"><i class="icon-plus-circled"></i></button>
	</h3>

	<ul>
		{{#each privateRooms}}
			{{> chatRoomItem }}
		{{/each}}

		{{!-- <li><a href="{{ pathFor 'privateHistory' }}"><i class="icon-history"></i> {{_ "general.History"}}</a></li> --}}
	</ul>

	<div class="nav-flex private-group-flex _hidden">
		<button class="close-nav-flex"><i class="icon-left-open"></i></button>
		<h4>{{_ "chatRooms.Private_Groups"}}</h4>

		<div class="wrapper">
			<label for="pvt-room-name">Name</label>
			<input type="text" id="pvt-room-name" placeholder="room-name">

			<label for="pvt-room-members">Members</label>
			{{> inputAutocomplete settings=autocompleteSettingsRoomSearch id="pvt-room-members" class="search" placeholder=tRoomMembers autocomplete="off"}}

			<label>Selected users</label>
			<ul class="selected-users">
				{{#each selectedUsers}}
					<li>{{name}} <i class="icon-cancel remove-room-member"></i></li>
				{{/each}}
			</ul>

			<div class="buttons">
				<button class="-btn primary">Save</button>
				<button class="-btn">Cancel</button>
			</div>
		</div>
	</div>
</template>
