<template name="sideNav">
	<aside class="side-nav" role="navigation">
		<header class="header">
			{{> userStatus}}
		</header>
		{{#if currentUser}}
			<div class="rooms-list">
				<div class="wrapper">
					{{> starredRooms }}

					{{> channels }}

					{{> directMessages }}

					{{> privateGroups }}
				</div>
			</div>
		{{/if}}
		<footer class="footer">
			<a href="{{ pathFor 'index' }}" class="logo">
				<small>{{_ "chatRooms.Powered_by"}}</small>
				<img src="/images/logo/logo.svg" />
			</a>
		</footer>
	</aside>
</template>
